extends ../layout

block content
  include ../../mixins/form-helpers
  .container#page-layout
    .row
      .groups.span8(data-model=(doc.model && JSON.stringify(doc.model)))
        h1 Page Layout
      .sidebar.span4
        form#settings
          legend Page Settings
          - if (doc._id)
            input(type='hidden', name='_id', value=doc._id)
          label(for='title') Title
          .input-append
            input#title(type='text', name='title', value=doc.title)
            span.add-on | The Chronicle
          label(for='url') URL
          .input-prepend
            span.add-on /page/
            input#url(type='text', name='url', value=doc.url)
          label(for='template') Template
          select#template(name='template')
            option(value='') --
            - each template in templates
              option(value=template, selected=(template == doc.template))= template
          .form-actions
            button.btn.btn-large.btn-primary(type='submit') Save

  script#group-template(type='text/template').
    <form>
      <div class="onde-panel"></div>
    </form>
