include container-helpers

.block
    mixin vertical-label
    .rounded
        a.content-container.hover.highlight-right(href=story.url)
            - if (story.images && story.images.ThumbRect)
                img.fit-image(src=story.images.ThumbRect.url)
            h4.title #{story.title}
            p.teaser #{story.teaser}