.breaking.story-list
    .rounded
        .content-container
            - if (stories)
                - each story in stories
                    a.list-story.hover(href='#{story.url}')
                        h3 #{story.title}
                            span.label Breaking
                        p.teaser #{story.teaser}
