include container-helpers

.story-list.breaking
    mixin vertical-label
    .rounded
        .content-container
            - each story, index in stories
                a.list-story.hover(href=story.url)
                    block story
                        h3.title= story.title
                            span.breaking-label Breaking
                        p.teaser= story.teaser
