.facebook-recommendations.clearfix
    .vertical-container
        h2.vertical Facebook Recommended
    .rounded(style="padding:3px;height:306px;")
        .fb-recommendations(data-site="dukechronicle.com", data-border-color="white", data-width="300", data-height="300", data-font="lucida grande", data-header="true", max-age="7")
