.container.clearfix.multimedia-bar
    .vertical-container
        if (typeof title != 'undefined')
            h2.vertical #{title}
        else
            h2.vertical &nbsp;

    a.rounded-hover
        .content-container.clearfix
            - each element, key in multimedia
                - if(key == 0)
                    .element.first
                        !{element}
                - else if(key == (multimedia.length-1))
                    .element.last
                        !{element}
                - else
                    .element
                        !{element}
