.multimedia-bar
    if (typeof title != 'undefined')
        .vertical-container
            .vertical #{title}

    .rounded
        a.hover
            .content-container.clearfix
                - each element, key in multimedia
                     .element.left
                         !{element}
