include container-helpers

.row
    mixin vertical-label
    .rounded
        .content-container
            a.clearfix.hover.highlight-right(href=story.url)
                - if (story.images && story.images.ThumbRect)
                    img.left(src=story.images.ThumbRect.url)
                .story.right
                    h4.title #{story.title}
                    p.teaser #{story.teaser}
