.story-list
    - if (typeof title != "undefined")
        .vertical-container
            .vertical #{title}

    .rounded
        .content-container
            - if (stories)
                - each story in stories
                    a.list-story.hover(href='#{story.url}')
                        h2 #{story.title}
