.story-list.story-list-numbered
    .vertical-container
        .vertical #{title}

    .rounded
        .content-container
            ol
                - each story, id in stories
                    a.list-story.hover.highlight-right(href='#{story.url || story.urls[0]}')
                        li
                            h5.title #{story.title}
