h1 Add a Document
form(action='/admin/add', method='POST')
    p
        label(for='title') Title:
        input#title(type='text', name='doc[title]')
    p
        label(for='author') Author:
        input#author(type='text', name='doc[author]')
    p
        label(for='teaser') Teaser:
        textarea#teaser(rows=2, cols=30, name='doc[teaser]')
    p
        label(for='body') Body:
        textarea#body(rows=20, cols=30, name='doc[body]')
    p
        input(type='submit', value='add')
