h1 Add a Document
form(action='/admin/add-page', method='POST')
    p
        label(for='title') Title:
        input#title(type='text', name='doc[title]')

    p
        label(for='body') Html:
        textarea#body(rows=20, cols=30, name='doc[body]')
    p
        label(for='style') Css:
        textarea#body(rows=20, cols=30, name='doc[style]')
    p
        input(type='submit', class='btn', value='Submit')
