table(border=1)
    if (typeof url != 'undefined')
        != partial('original', {collection: origs, locals: {url: url}})
    else
        != partial('original', {collection: origs})

if (origs.length == 0)
    h1 No Images Available

if (hasPrevious)
    a(onClick="history.go(-1);") Previous
    br

if (origs.length != 0)
    if (typeof url != 'undefined')
        a(href='/admin/image/manage?beforeKey=' + origs[origs.length - 1].date + '&beforeID=' + origs[origs.length - 1]._id + '&forArticle=' + url) Next
    else
        a(href='/admin/image/manage?beforeKey=' + origs[origs.length - 1].date + '&beforeID=' + origs[origs.length - 1]._id) Next

script
    $(document).ready(function(){

        $(".delete").click(function(event) {
            event.preventDefault();

            var anchor = $(event.target);
            var id = anchor.attr('data-id');
            
            $.getJSON(
                '/admin/image/articles',
                {id: id},
                function(data) {
                
                    var msg = '<div id="dialog-confirm">This image will be removed from the following articles:<ul>';
                    $.each(data, function(index, value) {
                        msg += '<li>' + value.title + '</li>';
                    });
                    msg += '</ul></div>';
                    
                    $(msg).appendTo('body');

                    $("#dialog-confirm").dialog({
                        dialogClass: 'delete-confirmation-dialog',
                        title: 'Delete Image',
                        resizable: false,
                        autoOpen: true,
                        height:140,
                        modal: true,
                        buttons: {
                            "Delete": function() {
                                $(this).remove();
                            },
                            Cancel: function() {
                                $(this).remove();
                            }
                        }
                    });
                }
            );

            

        });
    });
