table(border=1)
    if (typeof articleUrl != 'undefined')
        != partial('original', {collection: origs, locals: {articleUrl: articleUrl, docId: docId}})
    else
        != partial('original', {collection: origs})

if (origs.length == 0)
    h1 No Images Available

if (hasPrevious)
    a(onClick="history.go(-1);") Previous
    br

if (origs.length != 0)
    if (typeof docId != 'undefined')
        if (typeof articleUrl != 'undefined')
            a(href='/admin/image/manage?beforeKey=' + origs[origs.length - 1].date + '&beforeID=' + origs[origs.length - 1]._id + '&forArticle=' + articleUrl + '&forDocument=' + docId) Next        
        else
            a(href='/admin/image/manage?beforeKey=' + origs[origs.length - 1].date + '&beforeID=' + origs[origs.length - 1]._id + '&forDocument=' + docId) Next          
    else
        a(href='/admin/image/manage?beforeKey=' + origs[origs.length - 1].date + '&beforeID=' + origs[origs.length - 1]._id) Next
script(src='/js/imgdelete.js', type='text/javascript')
