table(border=1)
    if (typeof url != 'undefined')
        != partial('original', {collection: origs, locals: {url: url}})
    else
        != partial('original', {collection: origs})

a(href='/admin/image/manage/' + origs[origs.length - 1].name) Next


script
    $(document).ready(function(){

        $(".delete").click(function(event) {
            event.preventDefault();

            var anchor = $(event.target);
            /*
            var title = anchor.attr('data-title');
            var docId = anchor.attr('data-docId');
            var docRev = anchor.attr('data-docRev');
            */
            $('<div id="dialog-confirm">Deleting images is not supported right now</div>').appendTo('body');

            $("#dialog-confirm").dialog({
                dialogClass: 'delete-confirmation-dialog',
                title: 'Delete Image',
                resizable: false,
                autoOpen: true,
                height:140,
                modal: true,
                buttons: {
                    "Delete": function() {
                        /*
                        $.ajax({
                            type: 'DELETE',
                            url: '/admin/article/' + docId,
                            data: 'rev=' + docRev,
                            success: function() {
                                $(this).remove();
                                location.reload();
                            }
                        });*/
                    },
                    Cancel: function() {
                        $(this).remove();
                    }
                }
            });

        });
    });