
form(action='/file_upload', enctype='multipart/form-data', method='post')
  input(type='text', name='title')
  input(type='file', name='upload', multiple='multiple')
  input(type='submit', value='Upload')








