form(action='/admin/image/upload', method='post', enctype='multipart/form-data')
  p
    label(for='name') Name:
    input#name(type='text', name='name')
  p
    label(for='photographer') Photographer:
    input#photographer(type='text', name='photographer')
  p
    label(for='caption') Caption:
    input#caption(type='text', name='caption')
  p
    label(for='location') Location:
    input#location(type='text', name='location')
  p
    label(for='date') Date:
    input#date(type='text', name='date')
  p
    input(type='file', name='upload', multiple='multiple')
    input(type='submit')
  