div(style='text-align: center; font-size: 2em;')
    <br>
    a(href='/admin/add') Add an Article
    <br>
    <br>
    a(href='/admin/manage') Manage Existing Articles
    <br>
    <br>
    a(href='/admin/image/upload') Image Upload
    <br>
    <br>
    <br>
    <br>
    h2 Page Layouts
    a(href='/admin/layout/frontpage') Homepage
    &nbsp|
    a(href='/admin/layout/news') News
    &nbsp|
    a(href='/admin/layout/sports') Sports
    &nbsp|
    a(href='/admin/layout/opinion') Opinion
    &nbsp|
    a(href='/admin/layout/recess') Recess
    &nbsp|
    a(href='/admin/layout/towerview') Towerview
