div(style='text-align: center; font-size: 2em;')
    <br>
    h1 Articles
    a(href='/article/new') Add
    &nbsp|
    a(href='/admin/manage') Manage
    &nbsp|
    a(href='/admin/duplicates') Duplicates
    <br>
    <br>
    <br>
    h1 Images
    a(href='/admin/image/upload') Upload
    &nbsp|
    a(href='/admin/image/manage') Manage
    <br>
    <br>
    <br>
    h1 Layouts
    a(href='/admin/layout/group/frontpage') Homepage
    &nbsp|
    a(href='/admin/layout/group/news') News
    &nbsp|
    a(href='/admin/layout/group/sports') Sports
    &nbsp|
    a(href='/admin/layout/group/opinion') Opinion
    &nbsp|
    a(href='/admin/layout/group/recess') Recess
    &nbsp|
    a(href='/admin/layout/group/towerview') Towerview
    <br>
    <br>
    <br>
    h1 K4
    a(href='/admin/k4export') Upload Export
    <br>
    <br>
    <br>
    h1 Newsletter
    a(href='/admin/layout/group/newsletter') Change Articles
    &nbsp|
    a(href='/admin/newsletter') Send Newsletter
    <br>
    <br>
    <br>
    h1 Config
    a(href='/config?showOnly=MULTIMEDIA_HTML') Change Multimedia
    &nbsp|
    a(href='/config?showOnly=COLUMNISTS_DATA') Change Columnist Data
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    a(href='/logout') Log Out, Bro
