div(style='text-align: center; font-size: 2em;')
    <br>
    a(href='/admin/add') Add an Article
    <br>
    <br>
    a(href='/admin/manage') Manage Existing Articles
    <br>
    <br>
    a(href='/admin/image/upload') Image Upload