h1 K4 Exporter
form(action='/admin/k4export', method='post', enctype='multipart/form-data')
  label(for='zip') XML Zip:
  input(type='file', name='zip')
  br
  input(type='submit')

a(href='/admin/manage') Manage and edit uploaded articles

- if (docs.length)
  h2 The following articles could not be uploaded:
  - each article in docs
    p #{article}