form(action='/admin/k4export', method='post', enctype='multipart/form-data')
  label(for='zip') XML Zip:
  input(type='file', name='zip')
  input(type='submit')

table(border=1)
    - each doc in docs
        tr
            td #{doc.value.title}
