h1 K4 Exporter
form(action='/admin/k4export', method='post', enctype='multipart/form-data')
  label(for='zip') XML Zip:
  input(type='file', name='zip')
  br
  input(type='submit')

a(href='/admin/manage') Manage and edit uploaded articles

- if (failed && failed.length)
  h2 The following articles could not be uploaded:
  - each article in failed
    p #{article}
- if (succeeded && succeeded.length)
  h2 The followed articles were uploaded successfully
  - each article in succeeded
    p #{article.title}