include ../mixins/layout-helpers
include ../mixins/code

!!! 5
html
  head
    title The Chronicle
    block stylesheet
      mixin stylesheet("admin")
    mixin googleAnalytics
  body
    block header
    block content
    #scripts
      mixin require-script("admin")
