!!! 5
html
  head
    - if (typeof css != 'undefined')
        - each file in css
            link(rel= 'stylesheet', href= '/' + file + '.css')

    link(rel='stylesheet', href='/css/jquery.Jcrop.css')
    link(rel='stylesheet', href='/css/smoothness/jquery-ui.css')
    
    if(typeof removeBootstrap == 'undefined' || !removeBootstrap)
        link(rel='stylesheet', href='/css/bootstrap-1.2.0.min.css')

    title The Chronicle
    !=partial("code/google-analytics")
  body
    #main
      #container!= body

    script(src=admin_javascript, type="text/javascript")
