!!! 5
html
  head
    title The Chronicle

    link(rel='stylesheet', href=css_paths.admin)
    link(rel='stylesheet', href='/css/smoothness/jquery-ui.css')

    script var CHRONICLE = { onload: [] }

    !=partial("code/google-analytics")
  body
    #main
      #container!= body

    - if (isProduction)
        script(src=static_cdn + admin_javascript, type="text/javascript")
    - else
        script(src="/js/require-jquery.js", data-main="/js/admin/main", type="text/javascript")
