@import '../mixins'

#layout
    width 400px
    float left

    .container
        width 300px
        border 1px solid black
        padding 10px
        padding-bottom 60px

    .container.over
        background-color #ccc

.story
    font-size .8em
    border 1px solid black
    margin 5px
    padding 5px

.story.over
    background-color #ccc

#sidebar
    display block
    position fixed
    height 100%
    right 10px
    top 10px

    .story.exists
        opacity .4

    #stories-container
        height 95%
        overflow auto

