!!! 5
html
  head
    title The Chronicle

    link(rel='stylesheet', href=paths.css.admin)

    script var CHRONICLE = { onload: [] }

    !=partial("code/google-analytics")
  body
    #main
      #container!= body
        
      !=partial("../partials/_script", { src: "admin" })
