include ../mixins/layout-helpers

!!! 5
html
  head
    title The Chronicle
    mixin stylesheet(isProduction, "admin")
    !=partial("code/google-analytics")
  body
    #main
      #container!= body
      #scripts
        mixin require-script(isProduction, "admin")
