include ../mixins/layout-helpers

!!! 5
html
  head
    title The Chronicle
    mixin stylesheet("admin")
    !=partial("code/google-analytics")
  body
    block header
    block content
    #scripts
      mixin require-script("admin")
