table(border=1)
    - each doc in docs
        tr
            td
                a(href='/article/' + doc.urls[doc.urls.length - 1]) #{doc.title}
            td
                a(href='/article/' + doc.urls[doc.urls.length - 1] + '/edit') Edit
            td
                a(href='http://'+ host +'/_utils/document.html?' + db + '/' + doc._id) #{doc._id}
