extends layout

block content
  #newsletter.container
    h1 Newsletter

    #message.alert

    form#test
      input(type='hidden', name='campaignID', value=campaignID)
      .input-append
        input(type='text', name='testEmail', placeholder='Email Address')
        button.btn(type='submit') Send Test Newsletter

    form#send
      input(type='hidden', name='campaignID', value=campaignID)
      button.btn.btn-primary(type='submit') Send Newsletter

    #confirm(title="Send newsletter?")
      p Are you sure you want to send the newsletter to everyone?
