tr
  td #{original.value.name}
  td
      if (typeof url != 'undefined')
          a(href='/admin/image/' + original.value.name + '?article=' + url)
              img(src=original.value.thumbUrl)
      else
          a(href='/admin/image/' + original.value.name)
              img(src=original.value.thumbUrl)
   td
      a.delete(href='#') Delete