table(border=1)
  tr
    td Width
    td Height
    td Image
  tr
    td #{version.doc.width}
    td #{version.doc.height}
    td
      - if(article)
        a(href='/article/' + article + '/edit/?image=' + version.doc._id)
          img(src=version.doc.url)
      - else
        img(src=version.doc.url)