@import '../mixins'

col-margin = 3px
col1 = 180px
col2 = col1*2 + col-margin
col3 = col1*3 + col-margin*2
col4 = col1*4 + col-margin*3
col5 = col1*5 + col-margin*4
col3in4 = 134.25px

qBG = #eee
qHover = #09F
qBlue = #069
qLGray = #888
qDGray = #444
qLogoGray = #555

//916 old 916+42 = 958
//915 old 915+42 = 957
// 549 old 549+42=591
body, html
	overflow-x hidden
body
	background-color qBG
	color white
	font-family 'PT Sans', sans-serif
	a:hover, a:focus, a.selected
		color qHover
	a.box, .rowAds a, a.dukealert-alertLink
		cursor pointer
	a.box:hover, a.box:focus, .rowAds a:hover, .rowAds a:focus, a.dukealert-alertLink:hover, a.dukealert-alertLink:focus, a.selected
		background qHover
		color white
	#wrap
		width col5 + col-margin +21*2
		margin 21px auto 0 auto
		padding 0 21px
		@media only screen and (max-width: 956px) // if 4 col (ipad)
			width col4 + col-margin +21*2
		@media only screen and (max-width: 773px) // if narrow
			width col3 + col-margin +21*2
		@media only screen and (max-width: 590px) // if really narrow
			width 100%
			padding 0 10px
			margin-top 10px
	.box, .rowAds a, .dukealert-alertLink, .dukealert-description
		background qDGray
		text-align center
		float left
		width col1
		margin 0 col-margin col-margin 0
		@media only screen and (max-width: 590px) // if really narrow
			width 49%
			margin 0 1% 1% 0
		position relative
		overflow hidden
		box-shadow 1px 1px 5px #ddd
	.duke-alert
		.dukealert-alertLink
			height 60px
			font-size 1.3em
			line-height 2.8em
			padding 0 25px
			:before
				content " DukeALERT "
		.dukealert-standardHeadline
			display none
		.dukealert-description
			height 60px
			font-size .9em
			line-height 1em
			padding 8px
			width col4
			@media only screen and (max-width: 956px) // if 4 col (ipad)
				width col3
			@media only screen and (max-width: 773px) // if narrow
				width col2
			@media only screen and (max-width: 590px) // if really narrow
				//width col1
				width 100%
			a
				color qHover
	.duke-alert-lev1
		.dukealert-alertLink
			background #AD1E17
	.duke-alert-lev2
		.dukealert-alertLink
			background #F0A21E
	.duke-alert-0
		display none
	.rowHead
		@media only screen and (min-width: 957px) // if wide
			height 43px
			position relative
		.box
			height 60px
			background qBlue
			font-size 1.3em
			line-height 2.8em
		.boxLogos
			float left
			width col1 + col-margin
			.box
				float left
				@media only screen and (min-width: 957px) // if wide
					height 80px
			@media only screen and (max-width: 956px) // if 4 col (ipad)
				width 100%
				.boxLogo
					width col2
				.boxChron
					line-height 2.8em
					width col2 // 774
			@media only screen and (max-width: 773px) // if narrow
				.boxLogo
					width col2 // 591
				.boxChron
					width col1
			@media only screen and (max-width: 590px) // if really narrow
				.box
					width 49%
		.boxLogo
			background qLogoGray
			font-size 2em
			line-height 1.7em
			h1
				background url("/img/qduke/qDukeLogo.png") no-repeat center center
				// background rgba(0,0,0,0) url("/img/qduke/qDukeLogo.svg") no-repeat center center
				width 100%
				height 100%
				text-indent 100%
				white-space nowrap
				overflow hidden
		.boxChron
			background qBlue
			font-size 1.5em
			line-height 3.5em
		#boxStatus
			.box
				@media only screen and (min-width: 957px) // if wide
					height 40px
				@media only screen and (max-width: 956px) // if 4 col (ipad)
					height 57px
				font-size .9em
				line-height 1.2em
				padding 5px
				h3
					text-align center
					font-size 1.1em
					margin-bottom 5px
				p.bottomRightCaption
					position absolute
					right 0
					bottom 0
					padding 5px
				.strong
					font-weight bold
			.StatusSportScore
				text-align left
				.StatusTeam
					width 75%
					float left
					.StatusScore
						float right
				.StatusTime
					font-size .8em
					width 25%
					float right
					text-align right
			.StatusTweet
				text-align left
			.StatusWeather
				img
					float left
			@media only screen and (min-width: 957px) // if wide
				position absolute
				margin-left 183px
				z-index 10
				.box:hover
					height auto
					box-shadow 1px 1px 5px #444
			@media only screen and (max-width: 773px) // if narrow
				:nth-child(4)
					display none
			@media only screen and (max-width: 590px) // if really narrow
				:nth-child(3)
					display none
	.rowNews
		.box
			height 120px
			background black
			img
				float left
				display inline
				width 186px
				height 133px
			.caption
				position absolute
				bottom 0
				left 0
				width 100%
				background rgba(0, 0, 0, .8)
				.txt
					font-size .9em
					line-height 1.1em
					margin 5px
			@media only screen and (min-width: 957px) // if wide
				.caption
					height 35px
				&:hover .caption
					height auto
			.captionTop
				height auto
				top 0
				bottom auto
				width auto
				opacity .95
				background qBlue
				border-radius 0 0 4px 0
		// .boxChron
		// 	background qBlue
		// 	font-size 1.5em
		// 	line-height 4.8em
		// 	@media only screen and (max-width: 956px) // if 4 col (ipad)
		// 		width col4
		// 		height 60px
		// 		font-size 1.3em
		// 		line-height 2.8em
		// 	@media only screen and (max-width: 773px) // if narrow
		// 		width col3
		// 	@media only screen and (max-width: 590px) // if really narrow
		// 		width col2
		// 		width 99%
		// 	@media only screen and (min-width: 957px) // if wide
		// 		height 80px
		// 		margin-top 40px
		// 		line-height 3.5em
		.boxStories
			@media only screen and (max-width: 773px) // if narrow
				:nth-child(4)
					display none
			@media only screen and (max-width: 590px) // if really narrow
				:nth-child(3)
					display none
			a.boxNews
				overflow hidden
				@media only screen and (max-width: 590px) // if really narrow
					img
						width 100%
						height auto
			a.box:hover:before, a.box:focus:before
				content ""
				display block
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				opacity .6
				background qHover
			a:hover, a:focus
				.caption
					background rgba(0, 153, 255, .8)
		.box.breaking
			//border 3px solid rgba(200, 0, 0, .9);
			//box-shadow 1px 1px 5px #c80000;
			.captionTop
				background #c80000
		a.boxEmpty
			background qLGray url("/img/qduke/loading.gif") no-repeat center center
	.rowSearch
		.boxSearch
			height 59px
			cursor text
			width col3
			@media only screen and (max-width: 956px) // if 4 col (ipad)
				width col2
			@media only screen and (max-width: 773px) // if narrow
				width col3
			@media only screen and (max-width: 590px) // if really narrow
				width col2
				width 99%
			background qLGray url("/img/qduke/search.gif") no-repeat 10px center
			input
				padding 0 0 0 50px
				height 100%
				width 100%
				border none
				font-size 25px
				background qBlue
		.boxButton
			font-size 1.1em
			line-height 1.6em
			height 28px
			background qDGray
			@media only screen and (max-width: 956px) // if 4 col (ipad)
				width col1
			@media only screen and (max-width: 773px) // if narrow
				width col3in4
			@media only screen and (max-width: 590px) // if really narrow
				width col1
				width 49%
		.queryActive
			background qBlue
		.queryActive#GoogleSearchButton
			background qHover
		.boxButtons:hover .queryActive#GoogleSearchButton, .boxButtons .queryActive.searchInactive#GoogleSearchButton
			background qBlue
		#GoogleSearchButton:hover, #GoogleSearchButton:focus
			background qHover !important
	.menu
		margin-top 21px
		color qDGray
		.box
			font-size 1.2em
			line-height 1.4em
			background none
			box-shadow none
			margin-right 0
			height 30px
			border col-margin solid qLGray
			transition(border-bottom-color, .25s, linear)
		span.spacer
			height 30px
			float left
			border-bottom col-margin solid qLGray
		span.adSpacer
			width col4
			@media only screen and (max-width: 956px) // if 4 col (ipad)
				width col3
			@media only screen and (max-width: 773px) // if narrow
				width col2
			@media only screen and (max-width: 590px) // if really narrow
				width col1
				width 49%
		.box.selectedTab
			border-bottom qBG
			color qDGray
			background none
			cursor default
		a.box.selectedTab:hover//, .dukealert-alertLink:hover
			background none
			color qDGray
			cursor default
	@media only screen and (max-width: 956px) // if 4 col (ipad)
		.tabMenu .mobileHideLgTablet
			display none
			width 0
			height 0
			border 0
			padding 0
			margin 0
	@media only screen and (max-width: 773px) // if narrow
		.tabMenu .mobileHideTablet
			display none
			width 0
			height 0
			border 0
			padding 0
			margin 0
	@media only screen and (max-width: 590px) // if really narrow
		.tabMenu .mobileHidePhone
			display none
			width 0
			height 0
			border 0
			padding 0
			margin 0
	#tabFrame
		.tabContent
			float left
			display none
			margin 0
			padding 0
		.tabShown
			height auto
			display block
		.contentFrame
			width col5
			iframe
				width 100%
				height 100%
				border none
				background white
			a.newWindow
				border 0 solid qDGray
				border-width 0 col-margin col-margin 0
				position absolute
				display block
				top 0
				left 0
				width 20px
				height 20px
				background qBG url("/img/qduke/newwindow.png") no-repeat center center
		.contentFrame.tabShown
			height 500px
			margin-bottom 5px
			border col-margin solid qDGray
			background qLGray url("/img/qduke/loading.gif") no-repeat center center
		#contentLinks
			.box
				height 40px
			.boxLink
				font-size 1.3em
				line-height 2em
				@media only screen and (max-width: 590px) // if really narrow
					font-size 1.1em
					height 32px
			@media only screen and (min-width: 957px) // if wide
				.boxLinkTall
					height 60px
					font-size 1.8em
					line-height 2.3em
		#contentSports
			a.box
				padding 5px
				height 32px
			.scheduleBox
				float right
				padding 0 10px
				width col4
				min-height 732px
				text-align left
				font-size 1em
				text-height 1em
				table
					border-collapse collapse
					text-align left
					width 100%
					thead
						th
							padding 5px 3px 4px 1px
							font-size 1.1em
							border-bottom 2px solid qHover
					tbody
						td
							padding 5px 3px 4px 1px
							border-bottom 1px solid qLGray
						tr:last-child
							td
								border-bottom-width 0
						tr:hover
							background-color qHover
						td.sportOpponent
							max-width 200px
			a.selected
				cursor default
			@media only screen and (max-width: 773px) // if narrow
				.sportsList
					display none //TODO(rivkees) maybe change
			@media only screen and (max-width: 956px) // if 4 col (ipad)
				.scheduleBox
					width col3
			@media only screen and (max-width: 590px) // if really narrow
				.contentSports
					width 100%
				.scheduleBox
					width 99%
					font-size .9em
					tbody
						line-height 1.3em
	.rowAds
		a
			height 24px
			line-height 1.8em
			background qLGray
	#footer
		color qDGray
		margin-top 20px
		margin-bottom 20px
	.promo
		.left
			float left
			font-weight bold
		.right
			float right
			font-size .9em
		margin 20px -1000px
		padding 10px 1010px
		background qBlue
		a
			color white
			text-decoration underline
		a:hover, a:focus
			color qHover
	p.bugs
		color qDGray
		font-size .7em
	.cols1
		width col1
	.cols2
		width col2
	.cols3
		width col3
	.cols4
		width col4
	.cols5
		width col5
	.colsmargin
		width col-margin
		@media only screen and (max-width: 590px) // if really narrow
			width 1%
	.joyride-tip-guide
		p
			line-height 1.25
		h2 
			font-weight bold
			font-size 28px
			line-height 1.25
	// @media only screen and (max-width: 956px) and (min-width: 591px) // if narrow
	// 	.rowHead
	// 		.scrollWrap
	// 			height 60px
	// 	.rowNews
	// 		.scrollWrap
	// 			height 123px
	// 	.scrollWrap
	// 		clear both
	// 		margin 0 -21px
	// 		// -webkit-overflow-scrolling: touch
	// 		overflow hidden
	// 		overflow-x scroll
	// 		width col3 +21*2
	// 		.scrollable
	// 			float none !important
	// 			margin 0 21px
	// 			width col4 +21 !important
	// @media only screen and (max-width: 590px) // if really narrow
	// 	.scrollWrap
	// 		margin 0 -10
	// 		width 108%
	// 	.scrollable
	// 		margin 0 10px
	// 		.box
	// 			width 180px
	// TODO(rivkees): turn on for sports on small