body
	background-color #eee
	color white
	font-family 'PT Sans', sans-serif
	a:hover
		color #00B8FF
	#wrap
		width 980px
		margin 20px auto 0 auto
	.box, .rowAds a
		background #666
		text-align center
		float left
		width 180px
		margin 0 3px 3px 0
		position relative
		overflow hidden
		box-shadow 1px 1px 5px #ccc
	a.box
		cursor pointer
	.rowHead
		.box
			background #069
			height 60px
			font-size 1.3em
			line-height 2.8em
		.boxLogo
			background #555
			font-size 2em
			line-height 1.7em
			em
				font-style italic
	.rowNews
		.box
			height 120px
			background black
			.img
				float left
				display inline
				opacity .2
			.caption
				position absolute
				bottom 0
				left 0
				width 100%
				background black
				opacity .9
				.txt
					font-size 1em
					line-height 1em
					margin 5px
		.boxChron
			background #069
			font-size 1.5em
			line-height 4.8em
	.rowSearch
		.box
			height 60px
		.boxSearch
			cursor text
			width (180*2 + 3)px
			background #b5b5b5
			input
				padding 0 0 0 8px
				height 100%
				width 100%
				border none
				font-size 25px
		.boxButton
			font-size 1.3em
			line-height 2.8em
			background #069
	.menu
		color #666
		.box
			font-size 1.2em
			line-height 1.4em
			background none
			box-shadow none
			margin-right 0
			height 30px
			border 3px solid #b5b5b5
		span.spacer
			height 30px
			float left
			border-bottom 3px solid #b5b5b5
		.box.selected
			border-bottom none
	.rowLinks
		.box
			height 40px
		.boxLink
			font-size 1.3em
			line-height 1.8em
		.boxLinkTall
			height 60px
			font-size 1.8em
			line-height 2em
	.rowAds
		a
			height 30px
			line-height 1.7em
			background #b5b5b5
	.content
		overflow hidden
		transition(height, .25s, linear)
	.contentShown
		height auto
		display block
	.contentHidden
		height 0
		display none
	#footer
		color #666
		margin-top 20px
	.cols1
		width 180px
	.cols2
		width (180*2+3)px
	.cols3
		width (180*3+3*2)px
	.cols4
		width (180*4+3*3)px
	.cols5
		width (180*5+3*4)px
	.colsmargin
		width 3px