!!! 5
html
  head
    title The Chronicle

    link(rel='stylesheet', href=paths.css.config);

    script var CHRONICLE = { onload: [] }

    !=partial("code/google-analytics")
  body
    #main
      #container!= body

      script(src=paths.js.admin, type="text/javascript")
