!!! 5
html
  head
    title The Chronicle

    !=partial("../partials/_stylesheet", { src: "config" })

    script var CHRONICLE = { onload: [] }

    !=partial("code/google-analytics")
  body
    #main
      #container!= body

      !=partial("../partials/_script", { src: "admin" })
