extends index

block story
    h3.title= story.title
    p.subtitle
        - if (story.info || story.authors)
            span= story.info || story.authors.join(", ")
        - if (story.date)
            span= story.date
