.container.clearfix.sidebar
	.vertical-container
		h1.vertical #{title} 
	
	a.rounded(href='#')
		.content-container
			h2 @DukeChronicle
			p
				RT @fhi_duke: "Why Tell Stories?" Edwidge Danticat on power of testimony 
				in face of catastrophe http://bit.ly/gu4K8h Thanks @DukeChronicle!