.container.clearfix.sidebar.most-popular
	.vertical-container
		h2.vertical #{title}

	.rounded
		.content-container
			ol
				- each story, id in stories
					li
						h2
							a.list-story.hover.right(href='#', class='#{story.cssClass}')
								#{story.title}