.container.clearfix.sidebar.most-popular
	.vertical-container
		h1.vertical #{title} 
	
	.rounded.no-padding
		.content-container
			- each story, id in stories
				h2
					a.list-story(href='#', class='#{story.cssClass}')
						#{story.title}