.container.clearfix.multimedia-bar
    .vertical-container
        if (typeof title != 'undefined')
            h2.vertical #{title}
        else
            h2.vertical &nbsp;

    a.rounded-hover
        .content-container
            .element
                iframe(width="205", height="205", src="http://www.youtube.com/embed/l51st8I6rhY", frameborder="0", allowfullscreen)
            .element
                iframe(width="205", height="205", src="http://www.youtube.com/embed/HQWhNAzvQtc", frameborder="0", allowfullscreen)
            .element.last
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="205" height="205"><param name="movie" value="http://www.photoshelter.com/swf/CSlideShow.swf?feedSRC=http://dukechronicle.photoshelter.com/gallery/3-2932011-Duke-vs-UCONN/G0000iNsXniYp_JY?feed=json&imgT=iptch&cred=iptc"></param><param name="wmode" value="opaque "></param><param name="allowScriptAccess" value="always"></param><param name="allowFullScreen" value="true"></param><param name="bgColor" value="#aaaaaa"></param><param name="flashvars" value="trans=xfade&feedSRC=http%3A//dukechronicle.photoshelter.com/gallery/3-2932011-Duke-vs-UCONN/G0000iNsXniYp_JY%3Ffeed%3Djson&cred=iptc&imgT=iptch&f_sln=t&f_cap=f&target=_self&f_emb=t&f_s2f=t&f_wm=t&f_crp=t&bcolor=%23CCCCCC&f_2up=t&f_fss=f&btype=old&f_bbl=f&f_up=f&f_bb=t&f_ap=t&f_tb=t&f_fscr=t&tbs=5000&f_l=f&f_mtrx=t&f_smooth=f&f_link=t"></param><!--[if !IE]><!--><object type="application/x-shockwave-flash" data="http://www.photoshelter.com/swf/CSlideShow.swf?feedSRC=http://dukechronicle.photoshelter.com/gallery/3-2932011-Duke-vs-UCONN/G0000iNsXniYp_JY?feed=json&imgT=iptch&cred=iptc" width="205" height="205" ><param name="wmode" value="opaque "></param><param name="allowScriptAccess" value="always"></param><param name="allowFullScreen" value="true"></param><param name="bgColor" value="#aaaaaa"></param><param name="flashvars" value="trans=xfade&feedSRC=http%3A//dukechronicle.photoshelter.com/gallery/3-2932011-Duke-vs-UCONN/G0000iNsXniYp_JY%3Ffeed%3Djson&cred=iptc&imgT=iptch&f_sln=t&f_cap=f&target=_self&f_emb=t&f_s2f=t&f_wm=t&f_crp=t&bcolor=%23CCCCCC&f_2up=t&f_fss=f&btype=old&f_bbl=f&f_up=f&f_bb=t&f_ap=t&f_tb=t&f_fscr=t&tbs=5000&f_l=f&f_mtrx=t&f_smooth=f&f_link=t"></param><!--<![endif]--><a href="http://dukechronicle.photoshelter.com/gallery/3-2932011-Duke-vs-UCONN/G0000iNsXniYp_JY?&imgT=iptch&cred=iptc"><img src="http://dukechronicle.photoshelter.com/gal-kimg-get/G0000iNsXniYp_JY/s/250/210" alt="" /></a><!--[if !IE]><!--></object><!--<![endif]--></object>
