.container.clearfix.row
	.vertical-container
		h2.vertical &nbsp;

	a.rounded-hover(href='/article/dpac-shines-spotlight-durham')
		.content-container.clearfix
			img(src='/images/slideshow/slideshow-1.jpg')
			.text
				h2 DPAC Shines a Spotlight on Durham
				p.teaser The Blue Devils sent six of their top athletes to contend with the nation’s best at the USA Outdoor Track and Field Championships in Eugene, Ore.