.container.clearfix.row
	.vertical-container
		h2.vertical &nbsp;

	a.rounded-hover(href='/article/dpac-shines-spotlight-durham')
		.content-container
			img(src='/images/slideshow/slideshow-1.jpg')
			.text
				h2 DPAC Shines a Spotlight on Durham
				p.teaser Setting: a theater. Rows of plush red seats cascade from three levels to an expansive stage that seems to extend the line of vision into the infinite. The ceiling plays with scale in a similar way;