.container.clearfix.row
    .vertical-container
        h2.vertical &nbsp;

    a.rounded-hover.clearfix(href=story.url)
        .content-container.clearfix
            if (story.image && story.image.squareThumb && story.image.squareThumb.url)
                img(src=story.image.squareThumb.url)
            .text
                h2 #{story.title}
                p.teaser #{story.teaser}