.container.clearfix.row
    .vertical-container
        h2.vertical &nbsp;

    a.rounded-hover.hover.highlight-right.clearfix(href=story.url)
        .content-container.clearfix
            if (story.images && story.images.ThumbRect)
                img.thumb(src=story.images.ThumbRect.url)
            .text
                h2 #{story.title}
                p.teaser #{story.teaser}