.container.clearfix.sport-block
    .vertical-container
        h2.vertical #{title}


    a.rounded-hover(href='/article/dpac-shines-spotlight-durham')
        .content-container
            if (stories)
                each story, index in stories
                    h3 story.title
            
