.container.clearfix.story-list-teaser
    .vertical-container
        h2.vertical #{title}

    .rounded
        .content-container
            - if (stories)
                - each story in stories
                    a.hover.highlight-right(href='#{story.url}')
                        h3 #{story.title}
                        p.teaser #{story.teaser}