link-color = #226a9f 
corner-radius = 6px
container-padding = 7px
border-color = #DDD

shadow(opacity, height, width, offset)
	-webkit-box-shadow rgba(0, 0, 0, opacity) height width offset
	-moz-box-shadow rgba(0, 0, 0, opacity) height width offset
	box-shadow rgba(0, 0, 0, opacity) height width offset

border-radius(corner-radius)
	-webkit-border-radius corner-radius
	-moz-border-radius corner-radius
	-o-border-radius corner-radius
	-khtml-border-radius corner-radius
	border-top-left-radius corner-radius corner-radius
	border-top-right-radius corner-radius corner-radius
	border-bottom-right-radius corner-radius corner-radius
	border-bottom-left-radius corner-radius corner-radius

transition-property()
	-webkit-transition-property arguments
	-moz-transition-property arguments
	-o-transition-property arguments
	
transition-duration()
	-webkit-transition-duration arguments
	-moz-transition-duration arguments
	-o-transition-duration arguments

transition-timing-function()
	-webkit-transition-timing-function arguments
	-moz-transition-timing-function arguments
	-o-transition-timing-function arguments

body
	.container
		margin-top -1em
		position relative
		font-size 0.8em
		padding-left 1em

	.container.sidebar
		width 300px + (container-padding + 1) * 2
		.rounded
			width 300px
		
		
		.rounded.no-padding {
			padding 0px
			width 300px + (container-padding * 2)
		}
	.container.twitter
		.text
			h3
				color link-color
				font-size 1em
			p	
				font-size 0.85em
				line-height 1.15em
				padding-left 1.25em
		img
			padding-left container-padding
			margin-left 3px
			float right
			width 65px
	
	.rounded
		border-radius(4px)
		shadow(0.398438, 0px, 1px, 3px)
		background-color white
		padding container-padding
	
	a.list-story
		color #333
		display block
		padding 5px 0px 5px container-padding
		border-right 1px solid white

		-webkit-transition-property color, border-color
		-moz-transition-property color, border-color
		-o-transition-property color, border-color

		-webkit-transition-duration .2s, .2s
		-moz-transition-duration .2s, .2s
		-o-transition-duration .2s, .2s
		
		-webkit-transition-duration linear, linear
		-moz-transition-duration linear, linear
		-o-transition-duration linear, linear

	a.list-story:hover
		color #226A9F
		border-right-color #4D90F0

	a.list-story.first
		padding-top container-padding + 2 - 2
		margin-top 2px

	a.list-story.last
		border-bottom none
		padding-bottom container-padding + 2 - 2
		margin-bottom 2px

	a.hover:hover
		background #e9e9e9
		background transparent -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(237,237,237)),color-stop(.5, rgb(255,255,255)))
		background transparent -moz-linear-gradient(center bottom,rgb(237,237,237) 0%,rgb(255,255,255) 50%)
		
	
	.vertical-container
		font-size 1em
		writing-mode tb-rl
		filter flipv fliph
		
		-webkit-transform rotate(-90deg)
		-moz-transform rotate(-90deg)
		-o-transform rotate(-90deg)
		white-space nowrap
		display block
		
		float left
		
		-webkit-transform-origin-x 0px
		-webkit-transform-origin-y 100%
		
		-moz-transform-origin 0px 100%
		position relative
		left 1px
		//border-bottom 3px solid #666
		
			
		.vertical
			font-size 0.9em
			color #999
			text-shadow 0px -1px 0px #DDD
			letter-spacing 1px

			text-transform uppercase
			margin-bottom -0.2em
			
			
	.rounded
		float right
	
	.clearfixafter
		content "."
		display block
		clear both
		visibility hidden
		line-height 0
		height 0
	
	 
	.clearfix
		display inline-block
	
	 
	html[xmlns] .clearfix
		display block
	
	 
	* html .clearfix
		height 1%
	
