.container.clearfix.top-headline
    .vertical-container
        h2.vertical &nbsp;

    .rounded
        .content-container.clearfix
            .stories
                - if (typeof stories != 'undefined')
                    - each story in stories
                        a.hover.highlight-right.clearfix(href='#{story.url}')
                            h1
                                #{story.title}&nbsp;
                            p.teaser #{story.teaser}