.slideshow
	.slides
		img(src='images/slideshow/slideshow-1.jpg')
		img(src='images/slideshow/slideshow-2.jpg')
		img(src='images/slideshow/slideshow-3.jpg')
	
	.headlines.roundedbottom
		b.caret
		a.page.first.active DPAC Shines a Spotlight on Durham
		a.page New center for Judicial Studies created
		a.page Math department earns top 10 world ranking