.slideshow
	.slides
		a(href="/article/dpac-shines-spotlight-durham")
			img(src='images/slideshow/slideshow-1.jpg')
		a(href="/article/william-boulding-becomes-new-fuqua-dean")
			img(src='images/slideshow/slideshow-2.jpg')
		a(href="/article/beach-takes-seventh-usa-championships")
			img(src='images/slideshow/slideshow-3.jpg')
	
	.headlines.roundedbottom
		b.caret
		a.page.first.active DPAC Shines a Spotlight on Durham
		a.page William Boulding becomes new Fuqua Dean
		a.page Beach takes seventh at USA Championships