.slideshow
    .slides
        a(href="/article/dpac-shines-spotlight-durham")
            img(src='images/slideshow/slideshow-1.jpg')
        a(href="/article/william-boulding-becomes-new-fuqua-dean")
            img(src='images/slideshow/slideshow-2.jpg')
        a(href="/article/beach-takes-seventh-usa-championships")
            img(src='images/slideshow/slideshow-3.jpg')

    .headlines
        a.page.first.active.rounded
            img(src='images/slideshow/slideshow-1.jpg')
            h2 DPAC Shines a Spotlight on Durham
        a.page.rounded
            img(src='images/slideshow/slideshow-2.jpg')
            h2 William Boulding becomes new Fuqua Dean
        a.page.last.rounded
            img(src='images/slideshow/slideshow-3.jpg')
            h2 Beach takes seventh at USA Championships
