headlines-height = 50px

shadow(opacity, height, width, offset)
	-webkit-box-shadow rgba(0, 0, 0, opacity) height width offset
	-moz-box-shadow rgba(0, 0, 0, opacity) height width offset
	box-shadow rgba(0, 0, 0, opacity) height width offset



.slideshow
	width  630px
	border-radius  4px
	-webkit-border-radius  4px
	-moz-border-radius  4px
	shadow(0.398438, 0px, 1px, 3px)

	font-size  0.9em
	font-family  Georgia,"Century Schoolbook","Times New Roman",Times,serif
	padding 0
	margin-bottom 20px


.slides img  
	-webkit-border-top-left-radius  4px
	-webkit-border-top-right-radius  4px
	-moz-border-radius-topleft  4px
	-moz-border-radius-topright  4px
	width  630px
	position absolute
	left 0
	top 0


.slides
	-webkit-border-top-left-radius  4px
	-webkit-border-top-right-radius  4px
	-moz-border-radius-topleft  4px
	-moz-border-radius-topright  4px
	position relative
	width 630px
	text-align left
	overflow hidden
	height 383px
	//border 1px solid
	z-index 0
	//border-color #E5E5E5 #DBDBDB #D2D2D2
	box-shadow rgba(0,0,0,0.3) 0 1px 3px

.headlines
	display none
	width 100%
	height headlines-height
	text-align center
	background #fff
	*overflow hidden
	
	background -moz-linear-gradient(center bottom,rgb(234,234,234) 23%,rgb(255,255,255) 70%,rgb(255,255,255) 92%,rgb(234,234,234) 100%,rgb(227,227,227) 0%)
	background -webkit-gradient(linear,left bottom,left top,color-stop(0.23, rgb(244,244,244)),color-stop(0.7, rgb(255,255,255)),color-stop(1, rgb(244,244,244)),color-stop(0, rgb(237,237,237)))
	display block

	div
		width 630px margin 0 auto
	a.page
		cursor pointer
		width 180px
		display inline-block
		margin 0 15px
		padding 6px 0 6px
		height headlines-height - (6 * 2)
		color #444
		line-height 1.3em
		-webkit-transition color linear .2s
		text-shadow 0px 1px 1px white

	a.page:hover
		color black
		text-decoration none
	a.page.active
		color black
		text-shadow 0px 1px 0px white
