.rotator.productbrowser.content.pb-dynamic
	.pb-slider
		img(src='images/test.jpg')
	
	.pb-pageindicator.roundedbottom
		div
			b.caret(style='-webkit-transform: translate(110px, 0px)')
			a.page.first A PRESIDENTIAL VISIT 
			a.page New center for Judicial Studies created
			a.page Math department earns top 10 world ranking