.rotator.productbrowser.content.pb-dynamic
	.pb-slider
		img(src='images/article.jpg', class='slideshow')
	
	.pb-pageindicator.roundedbottom
		div
			a.page.first.active DPAC Shines a Spotlight on Durham
			a.page New center for Judicial Studies created
			a.page Math department earns top 10 world ranking