html {color: #000;background: #FFF;overflow-y: scroll;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {margin: 0;padding: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset, img, button {border: 0;}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {font-style: inherit;font-weight: inherit;}
del, ins {text-decoration: none;}
li {list-style: none;}
a {color: inherit;text-decoration: inherit;}
caption, th {text-align: left;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
q:before, q:after {content: '';}
abbr, acronym {border: 0;font-variant: normal;}
sup {vertical-align: baseline;}
sub {vertical-align: baseline;}
legend {color: #000;}
input, button, textarea, select, optgroup, option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
input, button, textarea, select {*font-size: 100%;}
*:focus {outline: none;}


/* Begin qDuke specific stuff. */
.strong {font-weight: 700;}

body {
    color: #001950;
	font-family: 'Karla', Arial, Helvetica, sans-serif;
}

div#promobar {
	width: 100%;
	height: 45px;
	text-align: center;
	line-height: 39px;
	font-size: 1.1em;
}

#shell {
    width: 890px;
    margin: 0px auto;
}

#logo {
    text-align: center;
    overflow: hidden;
    margin: 15px auto;
}

p#title {
	font-size: 49px;
}

a#chrontitle {
	font-family: ;
}

section {
	margin-bottom: 16px;
	display: inline-block;
}

/* Button gradients, shadows, and text colors */
ul.button_bar li.button_lightblue .outerContainer, 
.default_lightblue li .outerContainer, 
div#promobar {
	color: #001a57;
    text-shadow: #aaaaaa 0.1em 0.1em 0.2em;
	
	background: #e1e3f0; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e3f0', endColorstr='#b1b3cb'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e3f0), to(#b1b3cb)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e1e3f0,  #b1b3cb); /* for firefox 3.6+ */ 
}

ul.button_bar li.button_lightgrey .outerContainer, 
.default_lightgrey li .outerContainer {
	color: #666666;
	text-shadow: white 0.1em 0.1em 0.2em;

	background: #f0f0fa; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0fa', endColorstr='#e6e6eb'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0fa), to(#e6e6eb)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #f0f0fa,  #e6e6eb); /* for firefox 3.6+ */ 
}

ul.button_bar li.button_blue .outerContainer, 
.default_blue li .outerContainer {
	color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
	
	background: #235f98; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#235f98', endColorstr='#001a57'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#235f98), to(#001a57)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #235f98,  #001a57); /* for firefox 3.6+ */ 
}

ul.button_bar li.button_grey .outerContainer, 
.default_grey li .outerContainer {
	color: #666666;

	background: #e5e5e5; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#c9c9c9'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#c9c9c9)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e5e5e5,  #c9c9c9); /* for firefox 3.6+ */ 
}

ul.infobar li .outerContainer, 
li.button_lightgrey .outerContainer, 
ul.button_bar li.newsbox .outerContainer {
	color: #444444;
}

/* Search box */
li#search input {
    padding: 0 0 0 8px;
	height: 48px; /* Hard coded to fit correctly*/
	width: 328px; /* Hard coded to fit correctly*/
    border: none;
    font-size: 25px;
    color: #666666;
}

ul.button_bar li#search .outerContainer .innerContainer .element {
	padding: 0;
}

/* Clearfix, from http://www.webtoolkit.info/css-clearfix.html */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* Vertical Alignment, from http://www.andy-howard.com/verticalAndHorizontalAlignment/index.html */
/* Button heights and font sizes. */
ul.button_bar {
	display: block;
}

ul.button_bar li {
	margin: 0px 8px 8px 0px;
	float: left;
	height: 50px;
	width: 165px;
}
  
.button_bar li .outerContainer
{
	cursor: pointer;
	display: table;
	height: 100%;
	overflow: hidden;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
}

button, a {
	height: 100%;
	width: 100%;
}

ul.button_bar li.button_doublewide
{
	width: 338px; /*button width * 2 + margin*/
}

ul.button_bar li.newsbox
{
	width: 615px;
}

ul.button_bar li.button_arrownarrow
{
	width: 26px;
}

ul.button_bar_tall li
{
	height: 100px;
}
  
ul.button_bar li:not([class~=noHover]) .outerContainer:Hover
{
	color: #ffffff;
	text-shadow: #555599 0.1em 0.1em 0.2em;
	background: #cfeded; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfeded', endColorstr='#235fe8'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#A8BFF5), to(#5985EE)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #cfeded,  #235fe8); /* for firefox 3.6+ */ 
}

.button_bar li .outerContainer .innerContainer
{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
  
.button_bar li .outerContainer .innerContainer .element
{
	padding: 0px 8px;
	display: block;
	font-size: 16px;
	font-weight: bold;
}

.button_bar_tall li .outerContainer .innerContainer .element
{
	font-size: 21px;
}

/* Vertical Container, from dukechronicle.com */
.vertical-container {
	float: left;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 1.05em 1.05em;
	-moz-transform-origin: 1.05em 1.05em;
	-ms-transform-origin: 1.05em 1.05em;
	-o-transform-origin: 1.05em 1.05em;
	transform-origin: 1.05em 1.05em;
	white-space: nowrap;
	display: block;
	position: absoluate;
	visibility: visible;
	height: 0px;
	width: 0px;
}

.vertical-container div.outerContainer {
	width: 106px;
	height: 30px;
	line-height: 0;
}

.vertical-container .vertical {
	visibility: visible; 
	position: absolute;
}

/*ie6*/
.ie6 .button_bar li .outerContainer
{
	position: relative;
}

.ie6.button_bar li .outerContainer .innerContainer
{
	position: absolute;
	top: 50%;
}
  
.ie6 .button_bar li .outerContainer .innerContainer .element
{
	position: relative;
	top: -50%;
}

/*ie7*/
.ie7 .button_bar li .outerContainer
{
	position: relative;
}

.ie7 .button_bar li .outerContainer .innerContainer
{
	position: absolute;
	top: 50%;
}
  
.ie7 .button_bar li .outerContainer .innerContainer .element
{
	position: relative;
	top: -50%;
}