h1 Add a Document
form(action='/add', method='POST')
  p
    label(for='title') Title:
    input#title(type='text', name='doc[title]')
  p
    label(for='body') Body:
    textarea#body(rows=5, cols=20, name='doc[body]')
  p
    - each bin, key in bins
      label(for=key) #{bin}:
      input.check(type='checkbox', id=key, name='bins')
  p
    input(type='submit', value='add')
    
- if (typeof url !== "undefined")
  p
    | Article posted successfully. You can view it 
    a(href='article/' + url) here