table
	th title
	th section
	- each doc in docs
		tr
			td
				a(href='article/' + doc.urls[doc.urls.length - 1] + '/edit') #{doc.title}
				&nbsp;
				a(href='article/' + doc.urls[doc.urls.length - 1] + '#disqus_thread', data-disqus-identifier=doc.id) -
			- if (doc.section)
				td
					#{doc.section[0]}
script(src='/js/disqus.js', type='text/javascript')
script
	loadDisqus();
