#article
    h1
        font-size 1.7em
        text-shadow 0px 1px 1px white
        line-height 1.3em

    .metadata
        color #777
        font-size 0.8em
        margin 1em 0em

    .social-media
        font-size 0.8em
        float right
        margin-left 1.5em
        margin-top 0px
        > div
            margin-bottom 0.3em
        
        .comments a
            background url('http://graphics8.nytimes.com/images/article/comments/icons/comment_black.gif')
            background-repeat no-repeat
            background-position 0px 2px
            padding 0 0 3px 20px
            color black
        .print a
            background url('http://graphics8.nytimes.com/images/article/functions/tools_print.gif')
            background-repeat no-repeat
            background-position 0 2px
            padding 0 0 3px 20px
            color black
        .print
            padding-bottom 3px
    .content
        width 580px
        float left
        padding 0.9em 1.5em 0.6em 1.5em
        background white
        p
            color #333
            margin-bottom 1em
            font-size 0.95em
            line-height 1.6em

    .sidebar
        float right

        .container
            width 306px

    #disqus_thread
        float left
        margin-top 2em
        width 580px
        padding 0.3em 1.5em 0em 1.5em
        clear both

        #dsq-global-toolbar
            position relative
            z-index 3

        #dsq-content
            font-size 0.9em
            #dsq-new-post
                margin-top -40px
                margin-bottom 10px
                h3
                    display none
            .dsq-item-trackback
                display none
            .dsq-request-user-logout
                display none
            .dsq-request-user-info td a,
            .dsq-request-user-stats span.dsq-request-user-stat big
                font-weight normal
