#article
	h1
		font-size 1.8em
		text-shadow 0px 1px 1px white
		margin-bottom 0.5em
		line-height 1.3em
	.content
		width 520px
		float left
		padding 1em 2em 0.6em 2em
		background white
		p
			color #333
			margin-bottom 1em
			font-size 1em
			line-height 1.6em

	#disqus_thread
		float left
		margin-top 2em
		width 520px
		padding 0.5em 2em 0em 2em
		clear both

		#dsq-global-toolbar
			position relative
			z-index 3

		#dsq-content
			font-size 0.9em
			#dsq-new-post
				margin-top -40px
				margin-bottom 10px
				h3
					display none
			.dsq-item-trackback
				display none
			.dsq-request-user-logout
				display none
			.dsq-request-user-info td a,
			.dsq-request-user-stats span.dsq-request-user-stat big
				font-weight normal
