@import mixins

section > .nav
    position relative
    z-index 2
    clear both
    h2, h3
        float left
        a
            letter-spacing 1px
            text-shadow 0px 1px 0px white
            //border-bottom 1px solid transparent
            font-size 0.7em
            text-transform uppercase
            color #333
            display block
            padding-left 15px
            padding-right 11px
            padding-bottom 1px
            margin-bottom 10px
            margin-top -16px
            transition color .25s linear
        a:hover, a.selected
            color #36c

#article
    .medium-rectangle .rounded-hover
        padding 3px

    a.edit
        float right

    h1
        font-size 1.7em
        text-shadow 0px 1px 1px white
        line-height 1.3em

    img.article
        width 580px
        height 358px
        border-radius 4px
        margin-top 15px
        box-shadow 0 0 4px #999

    .metadata
        color #777
        font-size 0.8em
        margin 1em 0em

    .social-media
        font-size 0.8em
        float right
        margin-left 1.5em
        margin-top 0px
        height 121px
        > div
            margin-bottom 0.3em
        
        .comments a
            background-image url('http://d2sug25c5hnh7r.cloudfront.net/images/icons/article_comment.gif')
            background-repeat no-repeat
            background-position 0px 2px
            padding 0 0 3px 20px
            color black
        .print a
            background-image url('http://d2sug25c5hnh7r.cloudfront.net/images/icons/article_print.gif')
            background-repeat no-repeat
            background-position 0 2px
            padding 0 0 3px 20px
            color black
        .print
            padding-bottom 3px


    .content
        width 580px

        float left
        padding 0.7em 1.5em 0.6em 1.5em
        background white

        .photo-credit
            float right
            color #777
            font-size 0.8em

        .photo-caption
            color #555
            font-size 0.8em
            font-style italic

        .article-body
            p
                color #333
                margin-bottom 1em
                font-size 0.95em
                line-height 1.6em

                object, img
                    float left
                    margin-right 20px


                object.no-float, img.no-float
                    float none
                    margin-right 0px

    .sidebar
        float right

        .rounded
            width 300px


    #disqus_thread
        float left
        margin-top 2em
        width 580px
        padding 0.3em 1.5em 0em 1.5em

        #dsq-global-toolbar
            position relative
            z-index 3

        #dsq-content
            font-size 0.9em
            #dsq-new-post
                margin-top -40px
                margin-bottom 10px
                h3
                    display none
            .dsq-item-trackback
                display none
            .dsq-request-user-logout
                display none
            .dsq-request-user-info td a,
            .dsq-request-user-stats span.dsq-request-user-stat big
                font-weight normal
