!!! 5
html(lang="en")
    head
        title The Chronicle | Duke University's Daily Independent Newspaper

        h1 #{model.author}
        - if (model.docList)
            table(border=1)
                - each doc in model.docList
                    tr
                        td
                            a(href='/article/' + doc.urls[doc.urls.length - 1]) #{doc.title}
                        td
                            a(href='/article/' + doc.urls[doc.urls.length - 1] + '/edit') Edit
