link-color = #36c
container-padding = 4px
main-width =  636px
full()
	width main-width
	.rounded
		width (main-width - (container-padding * 2))
#sidebar
	float right
	margin-top -1px
#main
	float left
	width main-width

	.rounded
		padding container-padding

		a.hover.right
			margin-right container-padding * -2 + 1
		a.hover.left
			margin-left container-padding * -2 + 1

.full-banner
	float right

.print-edition
	float left
	width 140px
#main
	.top-news
		.container
			full()
		.rounded
			padding = 10px
			width = main-width - 2 - padding
			leftColumnWidth = width/2


			.content-container > .left
				width leftColumnWidth - padding
				float left

				a.hover
					padding-left padding

			.content-container > .right
				width (width - leftColumnWidth) - padding
				float right
				
				a.hover
					padding-right padding

			a.hover h2, h3
				font-size 1.2em
				margin-bottom 3px

			a.hover h3
				padding-left 10px
				margin-bottom 0px
				font-size 1.1em

			a.hover
				padding-top 3px
				padding-bottom 3px

			a.hover.teaser
				padding-bottom 7px

			p
				font-size 0.9em
			ul li h3
					background url('/images/bullet.gif') no-repeat left 7px
