!!! 5
html(lang="en")
	head
		title Container Demo
		link(rel='stylesheet', href='css/reset.css')
		link(rel='stylesheet', href='/style.css')
		link(rel='stylesheet', href='/container/style.css')
		script(src='js/jquery.js')
		script(src='js/container/vertical-text-align.js')
	body
		header
		
		section
			!=partial('container/twitter', model.twitter)	
			br
			!=partial('container/most-popular', model.popular)
			br
			!=partial('container/advertisement', model.ad)

		
		footer