!!! 5
html(lang="en")
	head
		title The Chronicle | Duke University's Daily Independent Newspaper
		link(rel='stylesheet', href='/css/reset.css')
		link(rel='stylesheet', href='/style.css')
		link(rel='stylesheet', href='/slideshow/style.css')
		link(rel='stylesheet', href='/container/style.css')
		script(src='js/jquery.js')
		//script(src='js/jquery-ui.js')
		script(src='js/container/vertical-text-align.js')
		script(src='js/slideshow/slideshow.js')
	body
		#shell
			header
				img(src='images/header-overlay.png', id='header-overlay')

				#header-top
				#header-bottom
					h1
						a(href='/') The Chronicle
					nav
						h2.first
							a(href='#') News
						h2
							a(href='#') Sports
						h2
							a(href='#') Opinion
						h2
							a(href='#') Recess
						h2
							a(href='#') Towerview
						h2
							a(href='#') Multimedia
						h2.last
							a(href='#') Blogs
			section
				!=partial('slideshow')
				#sidebar
					!=partial('container/twitter', model.twitter)	
					br
					!=partial('container/most-popular', model.popular)
					br
					!=partial('container/advertisement', model.ad)
			footer