!!! 5
html(lang="en")
    head
        title The Chronicle | Duke University's Daily Independent Newspaper
        -each file in css
            link(rel= 'stylesheet', href= '/' + file + '.css')

        script(data-main="/js/main", src="/js/require-jquery.js")
    body
        #shell
            header
                include /layout/header
            section!=body
            footer
                include /layout/footer
    script(src='/js/jquery.js')
    script(src="/js/galleria/galleria-1.2.5.min.js")
    script(src='/js/slideshow/slideshow.js')
    script(src='/js/slideshow/frontpage-slideshow-init.js')

