!!! 5
html
  head
    script(src='/js/jquery.js', type='text/javascript')
    script(src='/js/jquery.Jcrop.js', type='text/javascript')
    link(rel='stylesheet', href='/css/jquery.Jcrop.css')
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css')
    title The Chronicle

  body

    #main
      #container!= body