!!! 5
html(lang="en")
    head
        if (typeof pageTitle != 'undefined')
            title #{pageTitle} | The Chronicle
        else
            title The Chronicle | Duke University's Daily Independent Newspaper

        link(rel="image_src", href="http://dukechronicle.com/favicon.png")

        script(src="/js/mobile-redirect.js?v=3")

        // border-radius support in ie
        script(type='text/javascript')
            var curvyCornersVerbose = false;
        script(src="/js/curvycorners.js")

        // typekitload code should always load first because it will cause a relayout of dom
        script(src="http://use.typekit.com/dwv2bjy.js")
        script try{Typekit.load();}catch(e){}

        script var THE_CHRONICLE = {};

        - if (typeof css != 'undefined')
            - each file in css
                link(rel= 'stylesheet', href= '/' + file + '.css')

        //if lt IE 9
            link(rel='stylesheet', href='/style-ie.css')
            script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
        //if IE 9
            link(rel='stylesheet', href='/style-ie9.css')
        !=partial("code/google-analytics")
    body
        #shell
            header
                include /layout/header
            section!=body
            footer
                include /layout/footer

        script(data-main="/js/site/main", src="/js/require-jquery.js")
