!!! 5
html(lang="en")
    head
        title The Chronicle | Duke University's Daily Independent Newspaper
        -each file in css
            link(rel= 'stylesheet', href= '/' + file + '.css')

        script(data-main="/js/main", src="/js/require-jquery.js")
        // [if lt IE 9]>
            script
                document.createElement("header" );
                document.createElement("footer" );
                document.createElement("section");
                document.createElement("aside"  );
                document.createElement("nav"    );
                document.createElement("article");
                document.createElement("hgroup" );
                document.createElement("time"   );
    body
        #shell
            header
                include /layout/header
            section!=body
            footer
                include /layout/footer
