!!! 5
html(lang="en")
    head
        title The Chronicle | Duke University's Daily Independent Newspaper
        script(src="http://use.typekit.com/dwv2bjy.js")
        script(src="http://html5shim.googlecode.com/svn/trunk/html5")
        script try{Typekit.load();}catch(e){}

        -each file in css
            link(rel= 'stylesheet', href= '/' + file + '.css')

    body
        #shell
            header
                include /layout/header
            section!=body
            footer
                include /layout/footer

    script(data-main="/js/main", src="/js/require-jquery.js")


