!!! 5
html(lang="en")
    head
        title The Chronicle | Duke University's Daily Independent Newspaper
        script(src="http://use.typekit.com/dwv2bjy.js")
        // TODO make sure this is in everything
        script try{Typekit.load();}catch(e){}

        // border-radius support in ie
        script(src="/js/curvycorners.js")

        -each file in css
            link(rel= 'stylesheet', href= '/' + file + '.css')

        //if lt IE 9
            script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
        //if lt IE 8
            link(rel='stylesheet', href='/css/style-ie8.css')
    body
        #shell
            header
                include /layout/header
            section!=body
            footer
                include /layout/footer

    script(data-main="/js/main", src="/js/require-jquery.js")


