background-linear-gradient(direction, color1, color2)
    background-image -webkit-linear-gradient(direction, color1, color2)
    background-image -moz-linear-gradient(direction, color1, color2)
    background-image -ms-linear-gradient(direction, color1, color2)
    background-image -o-linear-gradient(direction, color1, color2)

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    -ms-box-shadow arguments
    -o-box-shadow arguments
    box-shadow arguments

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    -ms-border-radius arguments
    -o-border-radius arguments
    border-radius arguments

transform()
    -webkit-transform arguments
    -moz-transform arguments
    -ms-transform arguments
    -o-transform arguments
    transform arguments

transform-origin()
    -webkit-transform-origin arguments
    -moz-transform-origin arguments
    -ms-transform-origin arguments
    -o-transform-origin arguments
    transform-origin arguments

transition()
    -webkit-transition arguments
    -moz-transition arguments
    -ms-transition arguments
    -o-transition arguments
    transition arguments
