include mixins/layout-helpers

!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    mixin stylesheet("mobile")
                
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js')
    script(src='/js/mobile.js?v=9')

    script(type='text/javascript')
      initMobileOptions();
  body
    #ArticleListPage(data-role='page', articlelistcontainer='true', url='news', data-add-back-btn='false')
      div(data-role='header', data-position='fixed', data-theme='b')
        h1#HeaderTitle The Chronicle
        a(data-icon='home', href='javascript:getArticleList(\'All\', \'The Chronicle\', false)') Recent
        a(data-icon="grid", href="#MenuPage", data-rel="dialog", data-transition="slidedown") Options
      #SearchContent(data-role='content')
        form(id="searchBox")
          label(for="search-basic")
          input(id="searchInput", type="search", name="search", value="", placeholder="Search")
      #ArticleListContent(data-role='content')
        ul#ArticleList(data-role='listview', data-theme='c', data-divider-theme='d')
    #MenuPage(data-role='page', articlelistcontainer='true', url='news', data-add-back-btn='true')
      div(data-role='header', data-position='fixed', data-theme='b')
        h1 Options
      #MenuContent(data-role='content')
        ul(data-role='listview', data-theme='c', data-divider-theme='d')
          li(data-role="list-divider") Sections
          - var categories = ["News", "Sports", "Opinion", "Recess", "Towerview"];
          - for cat in categories
            li
              a(href="#ArticleListPage", onclick='javascript:getArticleList("#{cat}", "#{cat}")') #{cat}
          li(data-role="list-divider") Settings
          li
            a(href='javascript:showFullSite()') Full Site
    #ArticlePage(data-role='page', articlecontainer='true', url='Article', data-add-back-btn='true', data-back-btn-text='Back')
      div(data-role='header', data-theme='b')
        h1 The Chronicle
      #ArticleContent(data-role='content', data-theme='c')
      script(src='/js/disqus.js?v=5', type='text/javascript')
      #disqus_thread(data-role='content', data-theme='e')
      div(data-role='footer', data-position='fixed')
    #ErrorPage(data-role='page', articlecontainer='true', url='Article', data-add-back-btn='true', data-back-btn-text='Back')
      div(data-role='header')
        h1 Error
      #ErrorMessage(data-role='content')
        | An error has occured, click back to return to the previous page.
    
    script(type='text/javascript')
      beginMobile();        
