!!! 5
html(lang="en")
    head
        title The Chronicle | Duke University's Daily Independent Newspaper
    body
        h1 SMTP Test
        form(method="post")
            p Subscribe:
            input(type="text", name="email")
            input(type="hidden", name="num", value="1")
            input(type="submit", value="Add Email")
        form(method="post")
            p Unsubscribe:
            input(type="text", name="email")
            input(type="hidden", name="num", value="2")
            input(type="submit", value="Remove Email")
        form(method="post")
            p Send Email:
            input(type="hidden", name="num", value="3")
            input(type="submit", value="Send Email To List")