link-color = #36c
text-color = #333
bg-color = #F5F6F7

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments

@font-face
	font-family 'didot'
	src url('css/fonts/didot.eot')
	src local('☺'), url('css/fonts/didot.woff') format('woff'), url('css/fonts/didot.ttf') format('truetype'), url('css/fonts/didot.svg') format('svg')
	font-weight normal
	font-style normal

/* For modern browsers */
.clearfix:before, .clearfix:after
	content ""
	display table

.clearfix:after
	clear both


/* For IE 6/7 (trigger hasLayout) */
.clearfix
	zoom 1

.left
	float left

.right
	float right

html, body
	width 100%
	height 100%
	background bg-color url('images/bg.jpg') repeat-x

body
	font-family "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif
	//font-family Arial,Helvetica,sans-serif;
	text-shadow 0px 1px 1px white
	a
		text-decoration none
		color link-color
	
		*
			color text-color
	
	h1, h2, h3, h4, h5, h6
		font-family Georgia,"Century Schoolbook","Times New Roman",Times,serif
		text-shadow 0px 1px 0px white
	
	h1
		font-weight bold
		float left
	
	#shell
		margin 0px auto
		width 972px
	
	header, section, footer
		width 972px


	header
		position relative
		
	#header-overlay
		position absolute
		left 60px
		top 13px

	#header-top
		height 96px
		//background-color #003564
		//box-shadow 0 1px 3px rgba(0,0,0,.4);
		//border-bottom 2px solid white
		border-bottom-right-radius 5px
		border-bottom-left-radius 5px
		
	#header-bottom
		//background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgb(51,102,153)),color-stop(1, rgb(255,255,255)));
		//background-image: -moz-linear-gradient(center top,rgb(51,102,153) 0%,rgb(255,255,255) 100%)
		//border-bottom-right-radius 5px
		//border-bottom-left-radius 5px
		//box-shadow: 0px 1px 3px rgba(0,0,0,.4)
		
		h1
			position relative
			z-index 2
			padding-top 3px
			padding-bottom 3px
			a
				color #111
				font-family didot
				font-size 38px
				font-weight normal
				letter-spacing -1px
				padding-left 0px
				text-shadow: 0px 1px 1px white
				-webkit-transition text-shadow .2s linear
				-moz-transition text-shadow .2s linear
		nav
			position relative
			z-index 2
			clear both
			h2
				float left

				a
					letter-spacing 1px
					text-shadow 0px 1px 0px white
					border-bottom 1px solid transparent
					font-size 0.8em
					text-transform uppercase
					color #333
					display block
					border-bottom 1px solid transparent
					padding-left 15px
					padding-right 11px
					padding-bottom 1px
					transition(border-color, .25s, linear)
				a:hover, .active
					color #999

			h2.first a
				padding-left 3px
			
			h2.last
			
			a
				color #333
	section
		margin-top 12px
.container
	margin-bottom 15px

.clear-both
	clear both

.full-banner, .full-banner .container
	width 474px

span.timestamp
	color #003366
	font-size .5em
	display block

#search-box
	position absolute
	top 92px
	left 820px
	float right
	font-size 0.8em
	margin-top 49px

	input
		background #fff url('/images/search-button.png') no-repeat
		border-radius 10px
		border 2px inset
		width 150px

.leaderboard
	float right
	margin-top 3px
	margin-right 3px
	padding-left 3px
	margin-bottom 3px
	//border-left 1px solid #ddd


	img
		display block
		-webkit-box-shadow 0px 0px 3px #CCC
		opacity 0.8
		transition opacity 0.25s linear

	a:hover img
		opacity 1
header
	.social-media
		width 230px
		float left
		position relative
		z-index 2
		text-align center
		h2
			text-align left
			color #999
			text-shadow 0 1px 0 white
			margin-bottom 8px
			font-size 0.8em
			text-transform uppercase
			letter-spacing 1px
			padding-top 4px
		.inner
			padding-top 4px
			.icons
				text-align left
				img
					opacity .5
					padding-right 13px
					width 25px
					height 25px
					transition opacity, .25s linear
				a:hover img
					opacity 1

				img.last
					padding-right 0px
