@import mixins

link-color = #36c
text-color = #333
bg-color = #F5F6F7
header-height = 70px

em
    font-style italic

strong
    font-weight bold

#page
    > .rounded
        padding 20px
        padding-top 10px
        width 930px
        margin-bottom 20px

        h1
            font-size 1.7em
            margin-bottom 1em

        h2
            font-size 1.3em
            margin-bottom 1em

        p
            margin-bottom 1em

        ol
            list-style-type square
            margin-left 30px

        li
            list-style circle
            margin-bottom 10px

    .rounded.subscribe
        h2
            margin-bottom 0.2em
            margin-top 1em

@font-face
    font-family 'didot'
    src url('/css/fonts/didot.eot')
    src local('☺'), url('/css/fonts/didot.woff') format('woff'), url('/css/fonts/didot.ttf') format('truetype'), url('/css/fonts/didot.svg') format('svg')
    font-weight normal
    font-style normal

/* For modern browsers */
.clearfix:before, .clearfix:after
    content ""
    display table

.clearfix:after
    clear both


/* For IE 6/7 (trigger hasLayout) */
.clearfix
    zoom 1

.left
    float left

.right
    float right

/* fixes extra space under embeds */
iframe, object
    display block

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
    display block
audio, canvas, video
    display inline-block
    *display inline
    *zoom 1
audio:not([controls])
    display none
[hidden]
    display none


html, body
    width 100%
    height 100%
    background bg-color url('/images/bg.jpg') repeat-x

body
    font-family skolar, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif
    a
        text-decoration none
        color link-color
    
        *
            color text-color
    
    h1, h2, h3, h4, h5, h6
        font-family skolar, Georgia,"Century Schoolbook","Times New Roman",Times,serif
            
    #shell
        margin 0px auto
        width 972px
    
    header, section, footer
        width 972px

    header
        position relative
        background-color #006699
        color white
        padding-bottom 2px
        border-bottom-right-radius 4px
        border-bottom-left-radius 4px
        box-shadow rgba(0,0,0,0.40) 0 1px 3px

    #header-overlay
        position absolute
        z-index 0
        left 50px
        top -28px

    #header-top
        height header-height

        //box-shadow 0 1px 3px rgba(0,0,0,.4);
        //border-bottom 2px solid white
        p.tagline
            position absolute
            line-height 1.2em
            left 340px
            top 34px
            text-shadow 0 1px 2px rgba(0,0,0,.4);
            font-size 0.75em
            color white
            float left
            margin-right 10px
        h1
            position relative
            z-index 2
            margin-top 11px
            font-weight bold
            float left
            font-size 1.2em
            line-height 2em
            margin-bottom -3px
            a
                //color #111
                color #EEE
                font-family didot
                font-size 2.5em
                font-weight normal
                letter-spacing -1px
                padding-left 0px
                //text-shadow: 0px 1px 1px white
                transition text-shadow .2s linear
                transition color .25s linear
                text-shadow 0 1px 3px rgba(0,0,0,.4);
        p.date
            font-weight bold
            text-shadow 0 1px 2px rgba(0,0,0,.4);
            letter-spacing 1px
            font-size 0.8em
            margin-top 42px
            //color #333
            color #EEE
            margin-left 348px


        .social-media

            position absolute
            top 6px
            left 340px
            .inner
                .icons
                    text-align left
                    img
                        opacity .7
                        padding-right 9px
                        width 15px
                        height 15px
                        transition opacity, .25s linear
                    a:hover img
                        opacity 1

                    img.last
                        padding-right 0px

    #header-bottom
        nav
            position relative
            z-index 2
            clear both
            width 636px
            padding-left 7px
            padding-top 3px

            h2
                float left

                a
                    font-weight 600
                    text-shadow 0 1px 2px rgba(0,0,0,.4);
                    letter-spacing 1px
                    border-bottom 1px solid transparent
                    font-size 0.8em
                    text-transform uppercase
                    //color #333
                    color #EEE
                    display block
                    padding-left 12px
                    padding-right 8px
                    padding-bottom 2px
                    margin-bottom -2px
                    transition(border-bottom-color, .25s, linear)
                a:hover, a.active
                    border-bottom-color #DDD
            h2:first-child a
                padding-left 3px
            
            a
                color #333
    section
        margin-top 20px



.container
    margin-bottom 20px

.clear-both
    clear both

.full-banner, .full-banner .container
    width 474px

.full-banner .content-container
    width 468px
    height 60px

.medium-rectangle .content-container
    width 300px
    height 250px

span.timestamp
    color #003366
    font-size .5em
    display block

#search-box
    position absolute
    padding-right 7px
    top header-height - 4
    right 0px
    input
        background #fff url('/images/search-button.png') no-repeat
        background-position 2px 1px
        border-radius 10px
        border 1px inset
        width 120px
        font-size 12px
        padding-left 20px


.leaderboard
    float right
    margin-top 1px
    margin-bottom 3px
    padding-right 7px
    //border-left 1px solid #ddd


    img
        border-radius 5px
        display block
        box-shadow 0px 0px 3px #CCC
        opacity 0.8
        transition opacity 0.25s linear

    a:hover img
        opacity 1
header
    .content
        width 490px
        float left
        position relative
        z-index 0
        padding-left 7px
        
        .announcements
            display none
            color #666
            position absolute
            text-shadow 0 1px 0 white
            line-height 1em
            a
                text-align left
                margin-bottom 3px
                font-size 0.7em
                text-transform uppercase
                letter-spacing 1px
                padding-top 4px
                color #333
            a:hover
                color #36C
            p
                font-size 0.7em
    #header-bottom
        .advertising-links
            margin-top -2px
            position relative
            top -18px
            left -145px
            z-index 6
            a
                text-shadow 0 1px 2px rgba(0,0,0,.4);
                font-size 0.75em
                color white
                float left
                margin-right 8px



footer
    margin-top 30px
    clear both
    color #888
    font-variant small-caps
    text-shadow 0px 1px 1px white
    font-size 0.85em
    padding-bottom 1.5em
    p.copyright
        display block
        float left
        margin-right 20px

        a
            margin-right 20px
    .links
        width 505px
        float right
        text-align right
        a
            margin-left 20px
        a:hover

            text-decoration underline
