link-color = #226a9f 
text-color = #333

body
	background-color #F5F6F7
	font-family: Arial,Helvetica,sans-serif;
	
	a
		text-decoration none
		color link-color
	
		*
			color text-color
	
	h1, h2, h3, h4, h5, h6
		font-family Georgia,"Century Schoolbook","Times New Roman",Times,serif
	
	h1
		font-weight bold