#layout{width:400px;float:left;}
#layout .container{width:300px;border:1px solid #000;padding:10px;padding-bottom:60px}
#layout .container.over{background-color:#ccc}
.story{font-size:.8em;border:1px solid #000;margin:5px 0;padding:5px}
.story.over{background-color:#ccc}
#sidebar{width:200px;float:right;}
#sidebar .story.exists{opacity:.4}
.fixed-container{position:fixed;height:700px;overflow:scroll;right:10px}
