@import '../../mixins'

page-width = 972px
link-color = #36c
container-padding = 4px
top-content-width =  642px
container-vertical-spacing = 23px

body section > #people

    h1
        font-size 1.5em
        margin-bottom 10px

    .sep
        font-size 0.7em
        margin-left 4px
        margin-right 4px

    > .main
        width 672px
        .authors-articles
            .result
                display block
                width 636px
                float left
                margin-bottom 10px
                padding-left 8px
                background-image none
                a
                    color black
                    transition 0.25s linear color
                a:hover
                    color #36c
                h3
                    font-size 1em
                    color black
                .date
                    margin-bottom 5px
                    margin-top -3px
                .teaser, .date
                    color #444
                    font-size 0.9em

    > .authorInfo
        margin-bottom 10px
        float right
        width 306px
        .rounded
            width 300px
            font-size 1.
            a
                color black
            a:hover
                color #36C
            .content-container
                padding 0
                img
                    width 300px
                    height 225px
                    border-radius 4px
                .author-inner-container
                    padding 0 3px
                    h1
                        margin-bottom 0
                        line-height 1
                        font-size 1.6em
                    .affiliation
                        margin 0
                    .tagline
                        font-size 1.2em
                        margin-top 6px
                        font-style italic
                    .bio
                        margin-top 5px
                        font-size .9em
                        color #444
                        p
                            margin-bottom 10px