@import '../../mixins'

#people
    h1
        font-size 1.5em
        margin-bottom 10px

    .authorInfo
        margin-bottom 10px
        .rounded
            .content-container
                padding 0
                img
                    width 300px
                    height 120px
                    border-radius 4px
                .author-inner-container
                    padding 0 3px
                    h1
                        margin-bottom 0
                        line-height 1
                        font-size 1.3em
                    .dukeAffiliation
                        font-size .9em
                        margin 0
                    .tagline
                        margin-top 6px
                        font-style italic
                    .bio
                        margin-top 5px
                        font-size .9em
                        color #444
                        p
                            margin-bottom 10px
    .sidebar
        float right
        width 306px
        .rounded
            width 300px
            font-size 1.1em
            a
                color black
            a:hover
                color #36C

    .authors-articles
        .rounded
            width 636px
            a.hover
                padding-bottom 18px
                h2
                    font-size 1.3em
                p.date
                    font-size 0.9em
                    margin-bottom 6px