extends ../layout

block content
  include ../../mixins/form-helpers
  .container
    form.form-horizontal(action='/article', method='POST')
      legend Add Article
      input(type='hidden', name='doc[type]', value='article')
      .control-group
        label.control-label(for='title') Title
        .controls
          input.input-xlarge#title(type='text', name='doc[title]')
      .control-group
        label.control-label(for='subhead') Subhead
        .controls
          input.input-xlarge#subhead(type='text', name='doc[subhead]')
      .control-group
         label.control-label(for='section0') Section
         .controls
           mixin taxonomySelect(taxonomy)
      .control-group
        label.control-label(for='authors') Authors
        .controls
          input.input-xlarge#authors(type='text', name='doc[authors]')
      .control-group
        label.control-label(for='teaser') Teaser
        .controls
          textarea.input-xxlarge#teaser(rows=3, name='doc[teaser]')
      .control-group
        label.control-label(for='body') Article
        .controls
          textarea.input-xxlarge#body(rows=10, name='doc[body]')
      .form-actions
        button.btn-large.btn-primary(type='submit') Submit
