hr

.legal
  span.copyright Copyright &copy; 2012 Duke Student Publishing Company. All rights reserved.
  span.sep |
  a(href="/page/user-guidelines") User Guidelines
  span.sep |
  a(href="/page/privacy-policy") Privacy Policy

.links
    a(href="/page/newsletter") Daily Newsletter
    a(href="/page/subscribe") Print Subscription
    a(href="http://dukechronicle.campusave.com/") Classifieds
    a(href="http://chroniclehousing.com/") Housing Guide
    a(href="http://dukechroniclealumni.com/") Alumni
    a(href="/page/about-us") About Us
    a(href="/page/advertising") Advertising
    a(href="/page/contact") Contact
    a(href="/page/edit-board") Editorial Board
    a(href="/page/letters") Letters to the Editor
    a(href="http://issuu.com/dukechronicle/docs") Print Edition