nav.subnav
    - if (typeof subsections != 'undefined')
        - each subsection in subsections
            - each subsectionName,subsectionPath in subsection
                a.hover(href='/section/' + subsectionPath)
                    h2= subsectionName