#article h1{font-size:1.7em;text-shadow:0 1px 1px #fff;line-height:1.3em}
#article .metadata{color:#777;font-size:.8em;margin:1em 0}
#article .social-media{float:right;margin-left:1.5em;margin-top:4px;}
#article .social-media > div{margin-bottom:.3em}
#article .content{width:580px;float:left;padding:.9em 1.5em .6em 1.5em;background:#fff;}
#article .content p{color:#333;margin-bottom:1em;font-size:.95em;line-height:1.6em}
#article .sidebar{float:right;}
#article .sidebar .container{width:306px}
#article #disqus_thread{float:left;margin-top:2em;width:580px;padding:.3em 1.5em 0 1.5em;clear:both;}
#article #disqus_thread #dsq-global-toolbar{position:relative;z-index:3}
#article #disqus_thread #dsq-content{font-size:.9em;}
#article #disqus_thread #dsq-content #dsq-new-post{margin-top:-40px;margin-bottom:10px;}
#article #disqus_thread #dsq-content #dsq-new-post h3{display:none}
#article #disqus_thread #dsq-content .dsq-item-trackback{display:none}
#article #disqus_thread #dsq-content .dsq-request-user-logout{display:none}
#article #disqus_thread #dsq-content .dsq-request-user-info td a,#article #disqus_thread #dsq-content .dsq-request-user-stats span.dsq-request-user-stat big{font-weight:normal}
