@font-face{font-family:"didot";src:url("css/fonts/didot.eot");src:local("☺"),url("css/fonts/didot.woff") format("woff"),url("css/fonts/didot.ttf") format("truetype"),url("css/fonts/didot.svg") format("svg");font-weight:normal;font-style:normal}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.left{float:left}
.right{float:right}
iframe,object{display:block}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
html,body{width:100%;height:100%;background:#f5f6f7 url("images/bg.jpg") repeat-x}
body{font-family:skolar,"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;}
body a{text-decoration:none;color:#36c;}
body a *{color:#333}
body h1,body h2,body h3,body h4,body h5,body h6{font-family:skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif}
body #shell{margin:0 auto;width:972px}
body header,body section,body footer{width:972px}
body header{position:relative}
body #header-overlay{position:absolute;z-index:0;left:50px;top:0}
body #header-top{height:96px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
body #header-top h1{position:relative;z-index:2;margin-top:55px;font-weight:bold;float:left;}
body #header-top h1 a{color:#111;font-family:didot;font-size:2.3em;font-weight:normal;letter-spacing:-1px;padding-left:0;text-shadow:0 1px 1px #fff;-webkit-transition:text-shadow .2s linear;-moz-transition:text-shadow .2s linear;-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear}
body #header-top h1 a:hover{color:#999}
body #header-bottom nav{position:relative;z-index:2;clear:both;width:636px;}
body #header-bottom nav h2{float:left;}
body #header-bottom nav h2 a{letter-spacing:1px;text-shadow:0 1px 0 #fff;font-size:.8em;text-transform:uppercase;color:#333;display:block;padding-left:15px;padding-right:11px;-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear}
body #header-bottom nav h2 a:hover,body #header-bottom nav h2 a.active{color:#999}
body #header-bottom nav h2.first a{padding-left:3px}
body #header-bottom nav a{color:#333}
body section{margin-top:16px}
.container{margin-bottom:20px}
.clear-both{clear:both}
.full-banner,.full-banner .container{width:474px}
.full-banner .content-container{width:468px;height:60px}
.medium-rectangle .content-container{width:300px;height:250px}
span.timestamp{color:#036;font-size:.5em;display:block}
#search-box{position:absolute;top:96px;right:0;}
#search-box input{background:#fff url("/images/search-button.png") no-repeat;background-position:2px 1px;border-radius:10px;border:1px inset;width:120px;font-size:12px;padding-left:20px}
.leaderboard{float:right;margin-top:3px;padding-left:3px;margin-bottom:3px;}
.leaderboard img{border-radius:5px;display:block;-webkit-box-shadow:0 0 3px #ccc;opacity:.8;-webkit-transition:opacity .25s linear;-moz-transition:opacity .25s linear;-o-transition:opacity .25s linear;transition:opacity .25s linear}
.leaderboard a:hover img{opacity:1}
header .content{width:240px;float:left;position:relative;z-index:2;}
header .content .announcements{display:none;color:#666;text-shadow:0 1px 0 #fff;}
header .content .announcements h4{text-align:left;margin-bottom:3px;font-size:.7em;text-transform:uppercase;letter-spacing:1px;padding-top:4px}
header .content .announcements p{font-size:.7em}
header #header-bottom .social-media{position:absolute;top:99px;right:151px;}
header #header-bottom .social-media .inner .icons{text-align:left;}
header #header-bottom .social-media .inner .icons img{opacity:.5;padding-right:7px;width:19px;height:19px;-webkit-transition:opacity,.25s linear;-moz-transition:opacity,.25s linear;-o-transition:opacity,.25s linear;transition:opacity,.25s linear}
header #header-bottom .social-media .inner .icons a:hover img{opacity:1}
header #header-bottom .social-media .inner .icons img.last{padding-right:0}
footer{clear:both;color:#888;font-variant:small-caps;text-shadow:0 1px 1px #fff;font-size:.85em;padding-bottom:1.5em;}
footer p.copyright{display:inline;margin-right:20px}
footer span.links a:hover{text-decoration:underline}
