em{font-style:italic}
strong{font-weight:bold}
#page > .rounded{padding:20px;padding-top:10px;width:930px;margin-bottom:20px;}
#page > .rounded h1{font-size:1.7em;margin-bottom:1em}
#page > .rounded h2{font-size:1.3em;margin-bottom:1em}
#page > .rounded p{margin-bottom:1em}
#page > .rounded ol{list-style-type:square;margin-left:30px}
#page > .rounded li{list-style:circle;margin-bottom:10px}
#page .rounded.subscribe h2{margin-bottom:.2em;margin-top:1em}
@font-face{font-family:'didot';src:url("/css/fonts/didot.eot");src:local('☺'),url("/css/fonts/didot.woff") format('woff'),url("/css/fonts/didot.ttf") format('truetype'),url("/css/fonts/didot.svg") format('svg');font-weight:normal;font-style:normal}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.left{float:left}
.right{float:right}
iframe,object{display:block}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
html,body{width:100%;height:100%;background:#f5f6f7 url("/images/bg.jpg") repeat-x}
body{font-family:skolar,"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;}
body a{text-decoration:none;color:#36c;}
body a *{color:#333}
body h1,body h2,body h3,body h4,body h5,body h6{font-family:skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif}
body #shell{margin:0 auto;width:972px}
body header,body section,body footer{width:972px}
body header{position:relative;background-color:#069;color:#fff;padding-bottom:2px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-box-shadow:rgba(0,0,0,0.40) 0 1px 3px;-moz-box-shadow:rgba(0,0,0,0.40) 0 1px 3px;-ms-box-shadow:rgba(0,0,0,0.40) 0 1px 3px;-o-box-shadow:rgba(0,0,0,0.40) 0 1px 3px;box-shadow:rgba(0,0,0,0.40) 0 1px 3px}
body #header-overlay{position:absolute;z-index:0;left:50px;top:-28px}
body #header-top{height:70px;}
body #header-top p.tagline{position:absolute;line-height:1.2em;left:340px;top:34px;text-shadow:0 1px 2px rgba(0,0,0,0.40);font-size:.75em;color:#fff;float:left;margin-right:10px}
body #header-top h1{position:relative;z-index:2;margin-top:11px;font-weight:bold;float:left;font-size:1.2em;line-height:2em;margin-bottom:-3px;}
body #header-top h1 a{color:#eee;font-family:didot;font-size:2.5em;font-weight:normal;letter-spacing:-1px;padding-left:0;-webkit-transition:text-shadow .2s linear;-moz-transition:text-shadow .2s linear;-ms-transition:text-shadow .2s linear;-o-transition:text-shadow .2s linear;transition:text-shadow .2s linear;-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-ms-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear;text-shadow:0 1px 3px rgba(0,0,0,0.40)}
body #header-top p.date{font-weight:bold;text-shadow:0 1px 2px rgba(0,0,0,0.40);letter-spacing:1px;font-size:.8em;margin-top:42px;color:#eee;margin-left:348px}
body #header-top .social-media{position:absolute;top:6px;left:340px;}
body #header-top .social-media .inner .icons{text-align:left;}
body #header-top .social-media .inner .icons img{opacity:.7;padding-right:9px;width:15px;height:15px;-webkit-transition:opacity,.25s linear;-moz-transition:opacity,.25s linear;-ms-transition:opacity,.25s linear;-o-transition:opacity,.25s linear;transition:opacity,.25s linear}
body #header-top .social-media .inner .icons a:hover img{opacity:1}
body #header-top .social-media .inner .icons img.last{padding-right:0}
body #header-bottom nav{position:relative;z-index:2;clear:both;width:636px;padding-left:7px;padding-top:3px;}
body #header-bottom nav h2{float:left;}
body #header-bottom nav h2 a{font-weight:600;text-shadow:0 1px 2px rgba(0,0,0,0.40);letter-spacing:1px;border-bottom:1px solid transparent;font-size:.8em;text-transform:uppercase;color:#eee;display:block;padding-left:12px;padding-right:8px;padding-bottom:2px;margin-bottom:-2px;-webkit-transition:border-bottom-color .25s linear;-moz-transition:border-bottom-color .25s linear;-ms-transition:border-bottom-color .25s linear;-o-transition:border-bottom-color .25s linear;transition:border-bottom-color .25s linear}
body #header-bottom nav h2 a:hover,body #header-bottom nav h2 a.active{border-bottom-color:#ddd}
body #header-bottom nav h2:first-child a{padding-left:3px}
body #header-bottom nav a{color:#333}
body section{margin-top:20px}
.container{margin-bottom:20px}
.clear-both{clear:both}
.full-banner,.full-banner .container{width:474px}
.full-banner .content-container{width:468px;height:60px}
.medium-rectangle .content-container{width:300px;height:250px}
span.timestamp{color:#036;font-size:.5em;display:block}
#search-box{position:absolute;padding-right:7px;top:66px;right:0;}
#search-box input{background:#fff url("/images/search-button.png") no-repeat;background-position:2px 1px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;border:1px inset;width:120px;font-size:12px;padding-left:20px}
.leaderboard{float:right;margin-top:1px;margin-bottom:3px;padding-right:7px;}
.leaderboard img{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;display:block;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;-ms-box-shadow:0 0 3px #ccc;-o-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;opacity:.8;-webkit-transition:opacity .25s linear;-moz-transition:opacity .25s linear;-ms-transition:opacity .25s linear;-o-transition:opacity .25s linear;transition:opacity .25s linear}
.leaderboard a:hover img{opacity:1}
header .content{width:490px;float:left;position:relative;z-index:0;padding-left:7px;}
header .content .announcements{display:none;color:#666;position:absolute;text-shadow:0 1px 0 #fff;line-height:1em;}
header .content .announcements a{text-align:left;margin-bottom:3px;font-size:.7em;text-transform:uppercase;letter-spacing:1px;padding-top:4px;color:#333}
header .content .announcements a:hover{color:#36c}
header .content .announcements p{font-size:.7em}
header #header-bottom .advertising-links{margin-top:-2px;position:relative;top:-18px;left:-145px;z-index:6;}
header #header-bottom .advertising-links a{text-shadow:0 1px 2px rgba(0,0,0,0.40);font-size:.75em;color:#fff;float:left;margin-right:8px}
footer{margin-top:30px;clear:both;color:#888;font-variant:small-caps;text-shadow:0 1px 1px #fff;font-size:.85em;padding-bottom:1.5em;}
footer p.copyright{display:block;float:left;margin-right:20px;}
footer p.copyright a{margin-right:20px}
footer .links{width:505px;float:right;text-align:right;}
footer .links a{margin-left:20px}
footer .links a:hover{text-decoration:underline}
