include ../container-helpers

.block
    mixin vertical-label
    .rounded
        a.hover.highlight-bottom(href=story.url)
            - if (story.images && story.images.LargeRect)
                .image-container
                    img.fit-image(src=story.images.LargeRect.url)
            .content-container
                h3.title #{story.title}
                p.teaser #{story.teaser}
