include ../container-helpers

.block
    mixin vertical-label
    .rounded
        a.hover.highlight-bottom(href=story.url)
            - if (story.images && story.images.ThumbRect)
                .image-container
                    img.fit-image(src=story.images.ThumbRect.url)
            .content-container
                h4.title #{story.title}
                p.teaser #{story.teaser}