include ../container-helpers

.block-thumb
    mixin vertical-label
    .rounded
        a.hover.highlight-right(href=story.url)
            .content-container.clearfix
                h4.title #{story.title}
                p.teaser.left #{story.teaser}
                - if (story.images && story.images.ThumbSquareM)
                    img.right(src=story.images.ThumbSquareM.url)