footer
    margin-top 30px
    clear both
    color #888
    font-variant small-caps
    text-shadow 0px 1px 1px white
    font-size 0.85em
    padding-bottom 1.5em
    p.copyright
        display block
        float left
        margin-right 20px

        a
            margin-right 20px
    .links
        width 505px
        float right
        text-align right
        a
            margin-left 20px
        a:hover

            text-decoration underline
