@import '../../mixins'
@import '../variables'

header
    margin-top 8px
    background-color #069
    border-radius corner-radius
    box-shadow rgba(0,0,0,0.40) 0 1px 3px
    color #EEE
    overflow hidden

    #header-top
        #home-link
            display inline-block
            position relative
            margin-top 3px
            margin-left 62px

            #header-overlay
                position absolute
                z-index 1
                left 50px
                top -37px

            h1, h2, h3
                text-align right
                line-height 100%
                text-shadow 0 1px 3px rgba(0,0,0,.4);
                margin 0px
                color #EEE

            .brand
                font-family ambroise-std
                font-weight lighter
                font-size 5.0em

            .tagline
                font-size 1.6em
                font-family proxima-nova-sc-osf-ext-cond
                letter-spacing 2px

        #banner
            .advertising
                height 65px
                img
                    border-bottom-left-radius corner-radius
                    border-top-right-radius corner-radius
                    display block
                    box-shadow 0px 0px 3px #CCC
                    transition opacity 0.25s linear
                    margin-bottom 5px
                    float right

            .icons
                padding-left 3px
                a img
                    width 15px
                    height 15px
                    transition opacity, .25s linear
                    padding 0px 2px

            .advertising-links
                a
                    padding 0px 5px
                    text-shadow 0 1px 2px rgba(0,0,0,.4);
                    font-size 1em
                    color #EEE
                    line-height 100%
                    vertical-align top

    #header-bottom
        nav
            position relative
            z-index 2
            vertical-align bottom
            padding-top 7px

            a
                display inline-block
                h2
                    display inline-block
                    margin 0px
                    font-weight bold
                    font-size 1.2em
                    text-shadow 0 1px 2px rgba(0,0,0,.4);
                    letter-spacing 1px
                    text-transform uppercase
                    color #EEE
                    border-bottom 1px solid transparent
                    transition(border-bottom-color, .25s, linear)
                    padding 0px 11px

            a:hover h2, a.active h2
                border-bottom-color #DDD

    #search-box
        box-sizing border-box
        padding 2px 4px

        input
            background #fff url(/img/search-button.png) no-repeat
            background-position 2px 2px
            border-radius 10px
            border 1px inset
            font-size 12px
            padding-left 20px
            box-sizing border-box
            width 100%
