@import '../../mixins'
@import '../variables'

header
    margin-top 8px
    margin-bottom 16px
    background-color #069
    border-radius corner-radius
    box-shadow rgba(0,0,0,0.40) 0 1px 3px
    color #EEE
    overflow hidden

    #header-top
        #home-link
            display inline-block
            position relative
            margin-left 70px

            #header-overlay
                position absolute
                z-index 1
                left 50px
                top -30px

            h1, h2, h3
                text-align right
                line-height 100%
                text-shadow 0 1px 3px rgba(0,0,0,.4);
                margin 0px
                color #EEE

            .brand
                padding-top 6px
                font-family didot
                font-size 4.7em
                letter-spacing -1px

            .tagline
                font-size 1.6em

        #banner
            .openx-ad
                height 65px
                img
                    border-bottom-left-radius corner-radius
                    border-top-right-radius corner-radius
                    display block
                    box-shadow 0px 0px 3px #CCC
                    opacity 0.8
                    transition opacity 0.25s linear
                    margin-bottom 5px
                    float right

            a:hover img
                opacity 1

            .icons
                padding-left 3px
                a img
                    opacity .7
                    width 15px
                    height 15px
                    transition opacity, .25s linear
                    padding 0px 2px
                a:hover img
                    opacity 1

            .advertising-links
                a
                    padding 0px 5px
                    text-shadow 0 1px 2px rgba(0,0,0,.4);
                    font-size 1em
                    color #EEE
                    line-height 100%
                    vertical-align top

    #header-bottom
        nav
            position relative
            z-index 2
            vertical-align bottom
            padding-top 7px
            height 28px

            a
                display inline-block
                margin-left 8px
                h2
                    border-radius corner-radius
                    display inline-block
                    margin 0px
                    font-weight bold
                    font-size 1.2em
                    text-shadow 0 1px 2px rgba(0,0,0,.4);
                    letter-spacing 1px
                    text-transform uppercase
                    color #EEE
                    padding 0px 11px
                    transition(background, .25s, linear)
            a:hover h2, a.active h2
                color text-color
                text-shadow 0 1px 2px rgba(0,0,0,.2);
                background-color #EEE
            a.active
                border-bottom 7px solid #EEE
                h2
                    border-radius corner-radius corner-radius 0 0

    #search-box
        box-sizing border-box
        padding 2px 4px

        input
            background #fff url(/img/search-button.png) no-repeat
            background-position 2px 2px
            border-radius 10px
            border 1px inset
            font-size 12px
            padding-left 20px
            box-sizing border-box
            width 100%
