@import '../../mixins'
@import '../variables'


nav.subnav
    margin-bottom 16px
    margin-top -16px

    a
        display inline-block
        h2
            display inline-block
            letter-spacing 1px
            text-shadow 0px 1px 0px white
            font-size 0.9em
            text-transform uppercase
            color text-color
            display block
            padding-left 15px
            padding-right 11px
            margin 0px

    a.selected:hover h2
        text-decoration line-through