.container
    table.table.table-striped.poll-index
        tr
            th Title
            th Section
        - each doc in docs
            tr
                td: a(href='/admin/poll/' + doc._id)= doc.title
                td= doc.taxonomy.join(', ')
                  
    if (docs.length == 0)
        h1 No Polls Available