h1 Add a Poll
script(type='text/javascript')
    function addField() {
        fields = 0;
        for (fields=0;fields<5;fields++) {
            var string = "";
            var x=document.getElementsByName("doc[answers]["+fields+"]");
            if (x.length) {
                string +=x; 
                continue;
            } else {
                break;
            }
        }
        if (fields < 5) {
            document.getElementById('answers').innerHTML += "<label></label><input id='answers' type='text' name='doc[answers]["+fields+"]' style='width:600px'/><br/>";
            fields += 1;
        } else {
            document.getElementById('answers').innerHTML += "<br /><label></label>Only 5 answer fields allowed.";
            document.getElementById('add').disabled = true;
        }
    }
form(action='/admin/poll', method='POST')
    input(type='hidden', name='doc[type]', value='poll')
    p(style="margin-bottom: 2em")
        label(for='title') Title&nbsp;
        input#title(type='text', name='doc[title]', style='width:600px')
    p(style="margin-bottom: 2em")
        label(for='section') Section&nbsp;
        select(name='doc[taxonomy]', style='width: 600px')
          option(value='') Select a section
           - each subsections, section in taxonomy
              - each key, value in subsections
                  option(value=value) #{key}
    p#answers(style="margin-bottom: 2em")
        label(for='answers') Answers&nbsp;
        input#answerchoices(type='text', name='doc[answers][0]', style='width:600px')
        br
        label
        input#answerchoices(type='text', name='doc[answers][1]', style='width:600px')
        br
    input#add(type='button', onclick='addField()', name='add', value='Add answer field')
    p
        input(type="submit", class="btn", value="Add")
