extends ../layout

block content
    include ../../mixins/form-helpers
    .container
        h1 Add a Poll
        form.well(action='/admin/poll', method='POST')
            label(for='title') Title
            input.span4#title(type='text', name='doc[title]')
            label(for='section0') Section
            mixin taxonomySelect(taxonomy)
            label Answers
            ol
                li: input.span4(type='text', name='doc[answers][0]')
                li: input.span4(type='text', name='doc[answers][1]')
                li: button.btn.add-field(data-name='doc[answers]') Add answer field
            br
            input.btn-primary.btn-large(type='submit')
