extends ../layout

block content
    .container
        h1 Add a Poll
        form.well(action='/admin/poll', method='POST')
            label(for='title') Title
            input.span4#title(type='text', name='doc[title]')
            label(for='section') Section
            select.span4#section(name='doc[taxonomy]')
                option(value='') Select a section
                - each subsections, section in taxonomy
                    - each key, value in subsections
                        option(value=value) #{key}
            label Answers
            ol
                li: input.span4(type='text', name='doc[answers][0]')
                li: input.span4(type='text', name='doc[answers][1]')
                li: button.btn.add-field(data-name='doc[answers]') Add answer field
            br
            input.btn-primary.btn-large(type='submit')
