@import 'variables'
@import '../mixins'


input, textarea, select
    font-family inherit

@font-face
    font-family 'didot'
    src url('/css/fonts/didot.eot')
    src local('☺'), url('/css/fonts/didot.woff') format('woff'), url('/css/fonts/didot.ttf') format('truetype'), url('/css/fonts/didot.svg') format('svg')
    font-weight normal
    font-style normal

.nospace
    margin-bottom 0px

/* fixes extra space under embeds */
iframe, object
    display block

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
    display block
audio, canvas, video
    display inline-block
    *display inline
    *zoom 1
audio:not([controls])
    display none
[hidden]
    display none

html, body
    width 100%
    height 100%
    background-color background-color
    background-linear-gradient top, background-top-color, background-color
    background-repeat no-repeat

body
    font-family skolar, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif

    h1, h2, h3, h4, h5, h6
        font-family skolar, Georgia,"Century Schoolbook","Times New Roman",Times,serif
        font-weight normal

    section
        margin-top 20px

    a
        text-decoration none
        color link-color

    a.hover
        display block
        transition border-color .25s linear

        h1, h2, h3, h4, h5, h6, p
            transition color .25s linear

    a.hover:hover, a.hover.selected
        h1, h2, h3, h4, h5, h6
            color link-color

    a.highlight-left
        border-left 1px solid transparent
    a.highlight-left:hover, a.highlight-left.selected
        border-left-color highlight-color
    a.highlight-right
        border-right 1px solid transparent
    a.highlight-right:hover, a.highlight-right.selected
        border-right-color highlight-color
    a.highlight-bottom
        border-bottom 1px solid transparent
    a.highlight-bottom:hover, a.highlight-bottom.selected
        border-bottom-color highlight-color
    a.highlight-top
        border-top 1px solid transparent
    a.highlight-top:hover, a.highlight-top.selected
        border-top-color highlight-color

    img.fit-image
        width 100%

    #loadImage
        height 100px
        display block
        background-image url(/img/loading.gif)
        background-position center
        background-repeat no-repeat

