link-color = #36C
border-color-grey = #DDD
text-color = #444
caption-color = #555
highlight-color = #4D90F0
background-color = #F5F6F7
background-top-color = #E6E6E8

corner-radius = 4px
rounded-vertical-spacing = 20px
content-padding = 8px
image-padding = 3px