extends ../index

block advertisement
  - var cacheBust = Math.floor((Math.random() * 1000000000000));
  img.tracking-pixel(src="http://view.atdmt.com/COM/view/412687591/direct/01/" + cacheBust)
  a(href="http://clk.atdmt.com/COM/go/412687591/direct/01/" + cacheBust, target="_blank", rel="nofollow")
    img.leaderboard(src="/img/ad/belk-leaderboard.jpg", border="0")
