@import '../mixins'

page-width = 972px
link-color = #36c
container-padding = 4px
top-content-width =  642px
container-vertical-spacing = 23px

body section > #news
    > .top
        .sidebar
            float right
            width 490px
            > div
                clear both
            .top
                .container
                    float left
                    width = 228px
                    width width + 3 * 2

                    .content-container
                        h2
                            font-size 1em
                            margin-bottom 5px
                    .rounded
                        width width
                        height 300px

                .right-headlines
                    .content-container

                        > a
                            padding-right 8px
                        h2, h3
                            font-size 1.2em

                        a.first
                            p
                                padding-bottom .6em
                        h3
                            padding-top .4em
                            padding-bottom .4em
                > .last
                    float right
            .middle

                .medium-rectangle
                    float right
                .most-popular
                    float left
                    .rounded
                        width 155px
                        height 250px
            > .bottom
                .container

                    width = 480px
                    width width + 3 * 2

                    .rounded-hover
                        width width

                    .element
                        float left
                        margin-right 6px
                        margin-bottom 6px
                    .element.right
                        margin-right 0px
                    .element.bottom
                        margin-bottom 0px



        .main
            a.rounded-hover
                :hover
                    h1, h2, h3, h4
                        color #36C
                h1, h2, h3, h4
                    transition(color, .25s, linear)

            .row
                .content-container
                    img.thumb
                        border-radius 4px

            width 460px
            float left
            .content-container
                    h2
                        color black
                        font-size 1.2em
                    p.teaser
                        color #444
            .featured
                .content-container

                    h2
                        color black
                        font-size 1.2em
                        margin 0px 3px
                    p.teaser
                        color #444
                        margin 0px 3px
                    img
                        width 454px
            .headline
                .rounded-hover
                    padding 0px
                    .content-container
                        img
                            display block
                            width 138px
                            float left
                            margin-right 10px
                            margin-left -1px

                        h2
                            color black
                            font-size 1.2em
                            width 304px
                            float right
                            line-height 1.2em
                            margin-bottom 3px
                        p.teaser
                            color #444
                            font-size 1em
                            line-height 1.3em
                            width 304px
                            float right
            > .row
                > .block
                    width 150px
                    float left
                    padding-left 5px
                    .container
                        width 150px
                        .rounded-hover
                            height 220px
                    float
                        left
                    img
                        width 138px
                    h2
                        height 45px
                        font-size 1em
                        margin-bottom 3px
                        margin-top -4px
                        line-height 1.2em
                    p.teaser
                        font-size 0.9em
                        line-height 1.3em
                .block.first
                    padding-left 0px
    > .bottom
        .multimedia
            .element
                float left
                margin-right 8px
            .element.last
                margin-right 0px


