page-width = 972px
link-color = #36c
container-padding = 4px
top-content-width =  642px

container-vertical-spacing = 23px
body section > #news
    rounded-image()
        img
            border-radius 4px
            -webkit-box-shadow 0px 0px 4px #999
            -webkit-transition box-shadow 0.25s linear
        a.hover:hover img
            -webkit-box-shadow 0px 0px 4px black

    top-content-full()
        width top-content-width
        .rounded
            width (top-content-width - (container-padding * 2))
    .sidebar
        float right
        // align side bar with main content bar
        margin-top -3px

        .container
            width 300px + 3 * 2

            .rounded
                width 300px

    .left
        float left
        // align side bar with main content bar
        margin-top -3px

        .container
            width 250px + 3 * 2

            .content-container
                margin-bottom -4px

            .rounded
                width 250px
    .right
        float right
        // align side bar with main content bar
        margin-top -3px

        .container
            width 250px + 3 * 2 + 6

            .rounded
                width 250px

    .middle
        width 392px
        float left
        padding-left 30px
        margin-top -2px

        .featured
            .content-container
                h2
                    color black
                    font-size 1.2em
                p.teaser
                    color #444