page-width = 972px
link-color = #36c
container-padding = 4px
top-content-width =  642px

container-vertical-spacing = 23px

body section > .nav
    position relative
    z-index 2
    clear both
    h2
        float left
        a
            letter-spacing 1px
            text-shadow 0px 1px 0px white
            //border-bottom 1px solid transparent
            font-size 0.7em
            text-transform uppercase
            color #333
            display block
            padding-left 15px
            padding-right 11px
            //padding-bottom 1px
            margin-bottom 16px
            margin-top -16px
            transition(color, .25s, linear)
        a:hover, a.active
            color #999

    h2.first a
        padding-left 3px

    a
        color #333

body section > #news
    rounded-image()
        img
            border-radius 4px
            -webkit-box-shadow 0px 0px 4px #999
            -webkit-transition box-shadow 0.25s linear
        a.hover:hover img
            -webkit-box-shadow 0px 0px 4px black

    top-content-full()
        width top-content-width
        .rounded
            width (top-content-width - (container-padding * 2))


    .left
        float left
        // align side bar with main content bar

        .container
            width 200px + 3 * 2

            .content-container
                margin-bottom -4px

                h2
                    font-size 1em
                    margin-bottom 5px
            .rounded
                width 200px

            
    .right
        float right
        // align side bar with main content bar

        .container
            width 250px + 3 * 2 + 6

            .rounded
                width 250px

    .middle
        width 460px
        float left
        padding-left 20px
        .content-container
                h2
                    color black
                    font-size 1.2em
                p.teaser
                    color #444
        .featured
            .content-container
                h2
                    color black
                    font-size 1.2em
                p.teaser
                    color #444
                img
                    width 454px
        .headline
            .content-container
                img
                    width 138px
                    float left
                    margin-right 10px
                    margin-bottom 3px
                .text
                    margin-top -4px
                h2
                    color black
                    font-size 1.2em
                    margin-left 148px
                p.teaser
                    color #444
                    font-size 1em
                    line-height 1.3em
        > .row
            > .block
                width 150px
                float left
                padding-left 5px
                .container
                    width 150px
                float
                    left
                h2
                    font-size 1em
                    margin-bottom 3px
                    margin-top -4px
                p.teaser
                    font-size 0.9em
                    line-height 1.3em
            .block.first
                padding-left 0px
