page-width = 972px
link-color = #36c
container-padding = 4px
top-content-width =  642px

transition()
    -webkit-transition arguments
    -moz-transition arguments
    -o-transition arguments
    transition arguments

container-vertical-spacing = 23px
body section > #opinion
    .rounded-hover
        h2
            transition(color, 0.25s, linear)
        :hover
            h2
                color link-color
    p.teaser
        color #444
    rounded-image()
        img
            border-radius 4px
            -webkit-box-shadow 0px 0px 4px #999
            -webkit-transition box-shadow 0.25s linear
        a.hover:hover img
            -webkit-box-shadow 0px 0px 4px black

    top-content-full()
        width top-content-width
        .rounded
            width (top-content-width - (container-padding * 2))
    .top
        > .main

            .rounded-hover
                .content-container
                    padding-left 2px
                    padding-right 2px
                width 474px
                img
                    width 470px
                h2
                    font-size 1.2em
                    margin 0px 3px
                p.teaser
                    margin 0px 3px
        > .left
            
            width 476px

            .row
                .first
                    margin-right 20px

            .rounded-hover
                height 163px
                thumb-dim = 70px
                h2
                    font-size 1.3em
                    margin-bottom 5px
                img
                    border-radius 4px
                    width thumb-dim
                    height thumb-dim
                    float right
                    margin-left 10px
                p.teaser
                    color #444


    .middle
        > div
            .container.block
                .rounded-hover
                    width 304px
                    height 300px

        > .last > .container.block .rounded-hover
            width 306px
    .row.columnists
        > div
            margin-right 20px
            .rounded
                width 222px
                height 180px
                .content-container
                    width 217px
        > .last
            margin-right 0px

    div
        > div
            float left
            .container.block


                float left
                margin-right 20px
                .rounded-hover
                    width 222px
                    height 222px

                    h2
                        font-size 1.2em
                    p.teaser
                        color #444
                        line-height 1.3em
                        font-size 0.9em
                    img
                        width 70px
                        height 70px
                        float right
        > .last > .container.block
                margin-right 0px
