#sports
    .top
    .middle
        .top!=partial('container/twitter', model.twitter)
        .middle!=partial('container/
        .bottom
    .bottom
        .m-basketball
        .m-soccer
        .m-tennis
        .w-basketball
        .w-soccer
        .w-tennis
