#sports
    .top
        .slideshow-wrapper.right-select!=partial('slideshow/slideshow-right')
    .middle
        .left

        .right
            .featured-sport.rounded


    .bottom
        .m-basketball
        .m-soccer
        .m-tennis
        .w-basketball
        .w-soccer
        .w-tennis
