#sports
    .top
    .middle
        .middle!=partial('slideshow')
        .bottom
    .bottom
        .m-basketball
        .m-soccer
        .m-tennis
        .w-basketball
        .w-soccer
        .w-tennis
