.nav.clearfix
    if (typeof subsections != 'undefined')
        for subsection in subsections
            for subsectionName,subsectionPath in subsection
                h2
                    a(href='/section/' + subsectionPath) #{subsectionName}