page-width = 972px
link-color = #36c
container-padding = 4px
top-content-width =  642px

container-vertical-spacing = 23px
body section > #towerview
    rounded-image()
        img
            border-radius 4px
            -webkit-box-shadow 0px 0px 4px #999
            -webkit-transition box-shadow 0.25s linear
        a.hover:hover img
            -webkit-box-shadow 0px 0px 4px black

    top-content-full()
        width top-content-width
        .rounded
            width (top-content-width - (container-padding * 2))
    p.teaser
        color #444
    > .main
        float left
        width 644px
        > .row.first
            .container
                h2
                    font-size 1.3em
                    color black
                margin-bottom 10px
                width 636px + 6px
                img
                    width 636px
                    border-radius 4px
        
        > .row.feature
            .first > .container
                margin-right 10px
            .container
                width 317px
                float left
                h2
                    color black
                h2, p.teaser
                    width 140px
                    float right
                
                img
                    float left
                    width 150px
                    height 150px

        > .row .block-row
            .rounded
                float left
                width 636px
                height 241px
    > .sidebar
        width 308px
        float right
        .prefix .container
            margin-bottom 10px
    