mixin require-script(src)
  - if (useCompiledStaticFiles)
    script(src=paths.js[src], type="text/javascript")
  - else
    script(src="/scripts/require-jquery.js", type="text/javascript", data-main="/scripts/#{src}/main")

mixin stylesheet(src)
  - if (useCompiledStaticFiles)
    link(rel="stylesheet", href=paths.css[src])
  - else
    link(rel="stylesheet", href="/styles/#{src}/main.css")
