mixin require-script(production, src)
  - if (production)
    script(src=paths.js[src], type="text/javascript")
  - else
    script(src="/scripts/require-jquery.js", type="text/javascript", data-main=paths.js[src])

mixin stylesheet(production, src)
  - if (production)
    link(rel="stylesheet", href=paths.css[src])
  - else
    link(rel="stylesheet", href="/styles/" + src + "/main.css")
