body .container.featured .rounded-hover{padding:0;border:none}
body .container.featured img{border-top-left-radius:4px;border-top-right-radius:4px}
body .container{margin-top:0;position:relative;font-size:.8em;padding-left:0;}
body .container .content-container{padding:3px}
body .container a.hover{display:block;border-right:1px solid transparent;border-left:1px solid transparent;-webkit-transition-property:color,border-color;-moz-transition-property:color,border-color;-o-transition-property:color,border-color;-webkit-transition-duration:.25s,.25s,.25s;-moz-transition-duration:.25s,.25s;-o-transition-duration:.25s,.25s;-webkit-transition-duration:linear,linear,linear;-moz-transition-duration:linear,linear;-o-transition-duration:linear,linear;}
body .container a.hover h1,body .container a.hover h2,body .container a.hover h3,body .container a.hover h4,body .container a.hover h5,body .container a.hover p{-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear;color:#000}
body .container a.hover p{color:#444;line-height:1.5em}
body .container a.hover:hover h1,body .container a.hover:hover h2,body .container a.hover:hover h3,body .container a.hover:hover h4{color:#36c}
body .container a.hover.highlight-left:hover{border-left-color:#4d90f0}
body .container a.hover.highlight-right:hover{border-right-color:#4d90f0}
body .container a.hover.highlight-bottom{border-bottom:1px solid transparent;margin-bottom:-12px;padding-bottom:11px}
body .container a.hover.highlight-bottom:hover{border-bottom-color:#4d90f0}
body .container a.hover.highlight-top{border-top:1px solid transparent;margin-top:-5px;padding-top:5px}
body .container a.hover.highlight-top:hover{border-top-color:#4d90f0}
body .container a.hover:hover h1,body .container a.hover:hover h2,body .container a.hover:hover h3,body .container a.hover:hover h4,body .container a.hover:hover h5{color:#36c}
body .container a.hover p.author{font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;font-size:.7em;padding-top:0;text-transform:uppercase}
body .rounded{padding:2px 3px 4px 3px;}
body .rounded a.hover.highlight-right{margin-right:-7px}
body .rounded a.hover.highlight-left{margin-left:-7px}
body .rounded h1,body .rounded h2,body .rounded h3,body .rounded h4,body .rounded h5{line-height:1.3em}
body .rounded-hover{padding:3px 2px}
body .image-container .container img{-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-khtml-border-radius:4px;border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;border-bottom-right-radius:4px 4px;border-bottom-left-radius:4px 4px;display:block}
body .image-container .container .content-container{padding:0}
body .twitter .container .text h3{margin-top:-3px}
body .twitter .container .text p{font-size:.85em;line-height:1.2em;padding-left:1.25em}
body .twitter .container img{padding-left:3px;margin-left:3px;float:right;width:67px;height:67px}
body .block-row .rounded{width:972px;padding:0;}
body .block-row .rounded h2,body .block-row .rounded h3{font-size:1em;margin-bottom:.5em;height:47px;margin-top:-5px;line-height:1.2em}
body .block-row .rounded h2{font-size:1.5em;line-height:1.3em}
body .block-row .rounded .content-container{padding:12px}
body .block-row a.hover{border:none;border-right:0;border-left:0;padding:0 15px;width:138px;height:229px;float:left;}
body .block-row a.hover img{display:block;width:138px}
body .block-row a.hover p.teaser{height:65px;margin-top:-4px;font-size:.9em;line-height:1.3em}
body .block-row .list-story.first p.teaser{font-size:1.2em}
body .block-row a.hover.first{width:276px;}
body .block-row a.hover.first img{width:276px}
body .block-row a.hover.first{padding-left:0}
body .block-row a.hover.last{padding-right:0}
body .rounded,body .rounded-hover{-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-khtml-border-radius:4px;border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;border-bottom-right-radius:4px 4px;border-bottom-left-radius:4px 4px;-webkit-box-shadow:rgba(0,0,0,0.40) 0 1px 3px;-moz-box-shadow:rgba(0,0,0,0.40) 0 1px 3px;box-shadow:rgba(0,0,0,0.40) 0 1px 3px;background-color:#fff;background:-webkit-gradient(linear,left bottom,left top,color-stop(0,whiteSmoke),color-stop(.33,#fff));background:-moz-linear-gradient(center bottom,whiteSmoke 0%,#fff 33%);float:right}
body a.rounded-hover{border-left:1px solid transparent;border-right:1px solid transparent;}
body a.rounded-hover h3{-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear}
body a.list-story{color:#000;display:block;padding:4px 0 4px 2px}
body a.list-story.first{padding-top:2px}
body a.list-story.last{padding-bottom:2px}
body a.hover:hover{color:#36c;border-bottom-color:#4d90f0}
body .vertical-container{visibility:hidden;font-size:1em;writing-mode:tb-rl;filter:flipv fliph;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);white-space:nowrap;display:block;float:left;-webkit-transform-origin-x:0;-webkit-transform-origin-y:100%;-moz-transform-origin:0 100%;position:absolute;margin-top:-14px;margin-left:1px;}
body .vertical-container .vertical{font-size:.9em;color:#444;letter-spacing:1px;text-shadow:0 1px 1px #fff;text-transform:uppercase;margin-bottom:-2px}
body .most-popular ol li{list-style:decimal outside}
body .most-popular ol li h2{margin-left:-9px}
body .most-popular ol{margin-left:18px;font-family:Georgia,"Century Schoolbook","Times New Roman",Times,serif}
.lighten img{opacity:.8;-webkit-transition:opacity .25s linear;-moz-transition:opacity .25s linear;-o-transition:opacity .25s linear;transition:opacity .25s linear}
.lighten a.hover :hover img,.lighten a.rounded-hover :hover img{opacity:1}
.lighten a.hover :hover h3,.lighten a.rounded-hover :hover h3{color:#36c}
