#page
    .content.rounded
        img(src='http://www.failepicfail.com/epic-fail/small/1011/jenga-fail-jenga-cat-epic-fail-1290113932.jpg')
        br
        br
        | Sorry, this page doesn't exist. Please click
        a(href='/') here
        |  to go back to our homepage.
