#page
    .content.rounded(style='width: 580px; float: left;')
        h1 Contact
        p To reach the Editorial Office (newsroom) at 301 Flowers Building, call 919-684-2663 or fax 919-684-4696.
        p To reach the Business Office at 103 West Union Building, call 919-684-3811.
        p To reach the Advertising Office at 101 West Union Building call 919-684-3811 or fax 919-668-1247.
        p To inquire about subscriptions, call the Advertising Office at 919-684-3811.
        p Subscriptions have 100% unconditional guarantee for a full refund on all unmailed issues if you are not satisfied.
        p To sign up for our free online subscription, click &nbsp
            a(href='/newsletter') here.

    .content.rounded(style='width:300px; float: right;')
        h2 Staff
        ul(style='margin-left: 10px')
            li
                a(href="mailto:sanette.tanaka@duke.edu") Sanette Tanaka
                i &nbsp;Editor
            li
                a(href="mailto:nicholas.schwartz@duke.edu") Nicholas Schwartz
                i &nbsp;Managing Editor
            li

                a(href="mailto:nicole.kyle@duke.edu") Nicole Kyle
                i &nbsp;News Editor
            li
                a(href="mailto:chris.cusack@duke.edu") Chris Cusack
                i &nbsp;Sports Editor
            li
                a(href="mailto:melissa.yeo@duke.edu") Melissa Yeo
                i &nbsp;Photography Editor
            li
                a(href="mailto:meredith.jewitt@duke.edu") Meredith Jewitt
                i &nbsp;Editorial Page Editor
            li
                a(href="mailto:cory.adkins@duke.edu") Cory Adkins
                i &nbsp;Editorial Board Chair
            li
                a(href="mailto:melissa.dalis@duke.edu") Melissa Dalis
                i &nbsp;Co-Managing Editor for Online
            li
                a(href="mailto:james.lee1@duke.edu") James Lee
                i &nbsp;Co-Managing Editor for Online
            li
                a(href="mailto:dean.chen@duke.edu") Dean Chen
                i &nbsp;Managing Dir. Of Online Operations
            li
                a(href="mailto:jangier@duke.edu") Jonathan Angier
                i &nbsp;General Manager

            li
                a(href="mailto:tom.gieryn@duke.edu") Tom Gieryn
                i &nbsp;Sports Managing Editor
            li
                a(href="mailto:katie.ni@duke.edu") Katie Ni
                i &nbsp;Design Editor
            li
                a(href="mailto:lauren.carroll@duke.edu") Lauren Carroll
                i &nbsp;University Editor
            li
                a(href="mailto:anna.koelsch@duke.edu")  Anna Koelsch
                i &nbsp;University Editor
            li
                a(href="mailto:caroline.fairchild@duke.edu") Caroline Fairchild
                i &nbsp;Local &amp; National Editor
            li
                a(href="mailto:yeshwanth.kandimalla@duke.edu") Yeshwanth Kandimalla
                i &nbsp;Local &amp; National Editor
            li
                a(href="mailto:ashley.mooney@duke.edu") Ashley Mooney
                i &nbsp;Health &amp; Science Editor
            li
                a(href="mailto:julian.spector@duke.edu") Julian Spector
                i &nbsp;Health &amp; Science Editor
            li
                a(href="mailto:tyler.seuc@duke.edu") Tyler Seuc
                i &nbsp;News Photography Editor
            li
                a(href="mailto:chris.dall@duke.edu") Chris Dall
                i &nbsp;Sports Photography Editor
            li
                a(href="mailto:ross.green@duke.edu") Ross Green
                i &nbsp;Recess Editor
            li
                a(href="mailto:matt.barnett@duke.edu") Matt Barnett
                i &nbsp;Recess Managing Editor
            li
                a(href="mailto:chelsea.pieroni@duke.edu") Chelsea Pieroni
                i &nbsp;Recess Photography Editor
            li
                a(href="mailto:sophia.palenberg@duke.edu") Sophia Palenberg
                i &nbsp;Online Photo Editor
            li
                a(href="mailto:drew.sternesky@duke.edu") Drew Sternesky
                i &nbsp;Editorial Page Managing Editor
            li
                a(href="mailto:christine.chen@duke.edu") Christine Chen
                i &nbsp;Wire Editor
            li
                a(href="mailto:samantha.brooks@duke.edu") Samantha Brooks
                i &nbsp;Multimedia Editor
            li
                a(href="mailto:molly.himmelstein@duke.edu") Molly Himmelstein
                i &nbsp;Special Projects Editor for Video
            li
                a(href="mailto:christina.pena@duke.edu") Christina Peña
                i &nbsp;Towerview Editor, Special Projects Editor for Online
            li
                a(href="mailto:rachna.reddy@duke.edu") Rachna Reddy
                i &nbsp;Towerview
            li
                a(href="mailto:nathan.glencer@duke.edu") Nathan Glencer
                i &nbsp;Towerview Photography Editor
            li
                a(href="mailto:madeline.liberberg@duke.edu") Maddie Lieberberg
                i &nbsp;Towerview Creative Director
            li
                a(href="mailto:joe.levy@duke.edu") Joe Levy
                i &nbsp;Director of Online Development
            li
                a(href="mailto:taylor.doherty@duke.edu") Taylor Doherty
                i &nbsp;Special Projects Editor
            li
                a(href="mailto:lindsey.rupp@duke.edu") Lindsey Rupp
                i &nbsp;Senior Editor
            li
                a(href="mailto:toni.wei@duke.edu") Toni Wei
                i &nbsp;Senior Editor, Recruitment Chair
            li
                a(href="mailto:courtney.douglas@duke.edu") Courtney Douglas
                i &nbsp;Recruitment Chair
            li
                a(href="mailto:chinny.sharma@duke.edu") Chinmayi Sharma
                i &nbsp;Blogs Editor