#page
    .content.rounded
        h1 Privacy Policy
        p
            | The Duke Student Publishing Company, Inc. is the sole proprietor of the information collected on
            a(href="http://www.dukechronicle.com/") www.dukechronicle.com &nbsp;
            | and all affiliated sites and domains. The Duke Student Publishing Company, Inc. collects personally identifiable information, such as cookies, from users at several different places on this Web site. We do not share this information with third parties.
        p If you have questions or concerns regarding our privacy policy, please contact us at 919-684-3811 or write to us at:
        p
            | The Chronicle Business Office
            br
            | 103 West Union Building, Duke University
            br
            | Durham, NC 27708