@import '../mixins'

page-width = 972px
link-color = #36c
container-padding = 4px
top-content-width =  642px

#page.about-us
    h1
        font-size 24px
        padding 10px

    .history.container.rounded
        width 470px
        margin-right 10px

    .organization.container.rounded
        width 400px
        margin-left 10px