#page.young-trustees-2012
    h1 Young Trustee Election 2012

    .container.clearfix.block
        .vertical-container
            h2.vertical &nbsp;
        .rounded-hover.hover.highlight-right(href=story.url)
            .content-container
                h2 #{story.title}
                img.thumb(src=story.images.ThumbRect.url)
                p.teaser #{story.teaser}