#page.young-trustees-2012
    h1
        font-size 1.7em
        margin-bottom 15px
        text-align center
    .ugrad-block-row
        .block
            float left
            margin-right 18px
            padding 0px
            .rounded-hover
                width 306px
                padding 3px
                .content-container
                    padding 0px
                    a:hover
                        h3
                            color #36c
                    h3

                        font-size 1.2em
                        text-align center
                    p.teaser
                        color #444
                        text-align center
                    img
                        border-radius 3px
                    a.site
                        float left
                        padding-left 5px
                    a.app
                        float right
                        padding-right 5px
        .block.last
            margin-right 0px
    .endorsements
        float left
        margin-right 14px

        .rounded
            width 637px
            a.hover
                width 300px
                h3
                    font-size 1.2em
                    height 38px
                p.teaser
                    margin-top 5px
            a.hover.highlight-left
                float left
                padding-left 8px
            a.hover.highlight-right
                float right
                padding-right 8px

    .sidebar
        width 312px
        float right
        .rounded-hover
            width 306px
            padding 3px

        .ad-rect
            .rounded-hover
                img
                    border-radius 3px
                height 259px
                padding-bottom 0px
        .pastYts
            a.hover
                padding-bottom 10px
            p.teaser
                margin-top 3px
