br
br
p
    - if(doc._id)
        a(href='/admin/image/manage?forDocument=' + doc._id) Add images
    - if(doc.images)
        p
            table.table
                - each image, imageType in doc.images
                    tr
                        td #{imageType}
                        td
                            img(src=image.url)
                        td
                            a(href='/admin/image/remove/' + image._id + '?fromDoc=' + doc._id) Remove
