p.copyright
    | Copyright &copy; 2011 Duke Student Publishing Company. All rights reserved.
    br
    a(href="/user-guidelines") User Guidelines
    a(href="/privacy-policy") Privacy Policy

div.links

    a(href="/newsletter") Daily Newsletter
    a(href="/subscribe") Print Subscription
    a(href="http://dukechronicle.campusave.com/") Classifieds
    a(href="http://chroniclehousing.com/") Housing Guide

    a(href="http://alumni.dukechronicle.com/") Alumni
    br

    a(href="/about-us") About Us
    a(href="/advertising") Advertising
    a(href="/contact") Contact
    a(href="/edit-board") Editorial Board
    a(href="/letters-to-the-editor") Letters to the Editor
    
script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5900287-22']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

script
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));


script
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";
  feedback_widget_options.company = "the_chronicle";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#999";
  feedback_widget_options.style = "problem";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);




