p.copyright
    | Copyright &copy; 2011 Duke Student Publishing Company. All rights reserved.
    br
    a(href="/user-guidelines") User Guidelines
    a(href="/privacy-policy") Privacy Policy

div.links

    a(href="/newsletter") Daily Newsletter
    a(href="/subscribe") Print Subscription
    a(href="http://dukechronicle.campusave.com/") Classifieds
    a(href="http://chroniclehousing.com/") Housing Guide

    a(href="http://alumni.dukechronicle.com/") Alumni
    br

    a(href="/about-us") About Us
    a(href="/advertising") Advertising
    a(href="/contact") Contact
    a(href="/edit-board") Editorial Board
    a(href="/letters-to-the-editor") Letters to the Editor



