p.copyright
    | Copyright &copy; 2012 Duke Student Publishing Company. All rights reserved.
    br
    a(href="/page/user-guidelines") User Guidelines
    a(href="/page/privacy-policy") Privacy Policy

.links

    a(href="/newsletter") Daily Newsletter
    a(href="/page/subscribe") Print Subscription
    a(href="http://dukechronicle.campusave.com/") Classifieds
    a(href="http://chroniclehousing.com/") Housing Guide

    a(href="http://alumni.dukechronicle.com/") Alumni
    br

    a(href="/page/about-us") About Us
    a(href="/page/advertising") Advertising
    a(href="/page/contact") Contact
    a(href="/page/edit-board") Editorial Board
    a(href="/page/letters-to-the-editor") Letters to the Editor

#link-ads(style="height: 80px; float: left; width: 200px; overflow: scroll; margin-top: 10px;")
    h4 Ad Links
    a(href="http://www.homesecurityfamily.com", title="Home Security Systems")
        img(src="/images/ads/home-security-systems.jpg", alt="Home Security Systems")
    p Browse Chapel Hill <a href="http://www.buyatoyota.com" title="toyota dealerships">toyota dealerships</a> for great prices on new and used toyota`s
    p Duke students that want to work for an <a href="http://www.internetmarketinginc.com" title="Internet marketing agency">Internet marketing agency</a> will want to pursue internships with marketing firms to gain valuable experiences.
    p Durham Residents use <a href="http://www.americanvanlines.com" title="movers">movers</a> when moving throughout North Carolina to haul belongings and large objects.
