- if(query == null) var query = ""
- query = query.replace(/-/g, ' ');

.div
    img(src='https://d2sug25c5hnh7r.cloudfront.net/images/header-overlay.png', id='header-overlay', width='100px', height='122px')

#header-top
    .content

        h1
            a(href='/') The Chronicle |
        p.tagline The Independent Daily at<br /> Duke University

    .social-media
        .inner
            .icons
                a(href='http://www.facebook.com/dukechronicle')
                    img.first(src='https://d2sug25c5hnh7r.cloudfront.net/images/icons/facebook.png')
                a(href='http://twitter.com/dukechronicle')
                    img(src='https://d2sug25c5hnh7r.cloudfront.net/images/icons/twitter.png')
                a(href='http://youtube.com/user/DukeChronicle')
                    img(src='https://d2sug25c5hnh7r.cloudfront.net/images/icons/youtube.png')
                a(href='http://foursquare.com/dukechronicle')
                    img(src='https://d2sug25c5hnh7r.cloudfront.net/images/icons/foursquare.png')
                a(href='/rss')
                    img(src='https://d2sug25c5hnh7r.cloudfront.net/images/icons/rss.png')
                a(href='/newsletter')
                    img.last(src='https://d2sug25c5hnh7r.cloudfront.net/images/icons/email.png')

    .leaderboard
       !=partial('ad/full-banner-raw')




#header-bottom
    nav#nav.clearfix
        h2
            a(href='/news') News
        h2
            a(href='/sports') Sports
        h2
            a(href='/opinion') Opinion
        h2
            a(href='/recess') Recess
        h2
            a(href='/towerview') Towerview
        h2
            a(href='http://chronicleblogs.com') Blogs
        h2
            a(href='http://shutter.dukechronicle.com/') Photos

    .advertising.advertising-links(style='float: right')
        a(href='/page/subscribe') Print Sub
        a(href='/page/advertising') Advertising
        a(href='http://dukechronicle.campusave.com/') Classifieds
        a(href='http://chroniclehousing.com/') Housing




    form#search-box(action='/search/', method='GET')
        input(type='search', name='search', placeholder='Search archives', results='5', value=query)
