extends index

block advertisement
  - var cacheBust = Math.floor((Math.random() * 1000000000000));
  img.tracking-pixel(src="http://view.atdmt.com/COM/view/412687591/direct/01/" + cacheBust)
  .leaderboard.openx-ad(class="{zoneID: 914}")