.advertisement.leaderboard-row
  .custom-ad
    script(type='text/javascript')
      <!--// <![CDATA[
        OA_show('custom');
      // ]]> -->
  .leaderboard
    script(type='text/javascript')
      <!--// <![CDATA[
        OA_show('leaderboard');
      // ]]> -->
