include ../container-helpers

.advertisement
  mixin vertical-label
  .rounded
    .image-container
      .medium-rectangle
        script(type='text/javascript')
          <!--// <![CDATA[
            OA_show('medium_rect');
          // ]]> -->
