include ../container-helpers

.advertisement
  mixin vertical-label
  .rounded
    .image-container
      .medium-rectangle
        - var zone = 'medium_rect';
        - if ((typeof index !== 'undefined') && (index > 1))
          - zone += '_' + index;
        script(type='text/javascript')
          <!--// <![CDATA[
            OA_show('#{zone}');
          // ]]> -->
