/* A
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
      font-family: skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif /*{global-font-family}*/;
}

.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
     font-family: skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif /*{global-font-family}*/;
}

.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
     font-family: skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif /*{global-font-family}*/;
    text-decoration: none;
}

/* B
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
      font-family: skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif /*{global-font-family}*/;
}

.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
     font-family: skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif /*{global-font-family}*/;
}

.ui-bar-b {
    border: 1px solid #B3B3B3 /*{a-bar-border}*/;
    background: #069 /*{a-bar-background-color}*/;
    color: #EEE /*{a-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 3px /*{a-bar-shadow-radius}*/ rgba(0, 0, 0, .40) /*{a-bar-shadow-color}*/;
}

.ui-btn-up-b {
    border: 1px solid #cccccc /*{c-bup-border}*/;
    background: #eeeeee /*{c-bup-background-color}*/;
    font-weight: bold;
    color: #2F3E46 /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #ffffff /*{c-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #ffffff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
    color: #2F3E46 /*{c-bup-color}*/;
}
.ui-btn-hover-b {
    border: 1px solid #bbbbbb /*{c-bhover-border}*/;
    background: #dfdfdf /*{c-bhover-background-color}*/;
    font-weight: bold;
    color: #2F3E46 /*{c-bhover-color}*/;
    text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #ffffff /*{c-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
    color: #2F3E46 /*{c-bhover-color}*/;
}
.ui-btn-down-b {
    border: 1px solid #bbbbbb /*{c-bdown-border}*/;
    background: #d6d6d6 /*{c-bdown-background-color}*/;
    font-weight: bold;
    color: #2F3E46 /*{c-bdown-color}*/;
    text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
    color: #2F3E46 /*{c-bdown-color}*/;
}

.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
     font-family: skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif /*{global-font-family}*/;
    text-decoration: none;
}

/* C
-----------------------------------------------------------------------------------------------------------*/
.ui-bar-c,
.ui-bar-c input,
.ui-bar-c select,
.ui-bar-c textarea,
.ui-bar-c button {
      font-family: skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif /*{global-font-family}*/;
}

.ui-body-c,
.ui-body-c input,
.ui-body-c select,
.ui-body-c textarea,
.ui-body-c button {
     font-family: skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif /*{global-font-family}*/;
}

.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
     font-family: skolar,Georgia,"Century Schoolbook","Times New Roman",Times,serif /*{global-font-family}*/;
    text-decoration: none;
}