@import '../../mixins'

#commencement-2012
    .lookbacks
        .block
            float left
            margin-right 24px

            img
                width 100%
                border-radius 4px

        .rounded-hover
            width 219px
            height 230px
            
            h2
                font-size 1.3em

        .block:last-child
            margin-right 0px

    .middle
        .embed-slideshow
            float left
            margin-right 24px

        .calendar
            float left
            .rounded-hover
                width 542px
                height 293px

            .date
                font-size 1.4em

            ul.events
                margin-bottom 1em
                li
                    list-style disc
                    margin-left 30px
                    font-size .5em
                    p
                        font-size 2.2em

    .bottom
        .block
            margin-right 24px
            float left
            .rounded-hover
                width 300px
                height 262px
            img
                width 100%
                border-radius 4px

        .advertisement
            float left
