#commencement-2012
    .lookbacks
        .block
            float left
            margin-right 24px

        .rounded-hover
            width 219px
            height 230px

        .block:last-child
            margin-right 0px