@import '../../mixins'

page-width = 972px
link-color = #36c
container-padding = 4px
top-content-width =  642px
container-vertical-spacing = 23px

body section > #opinion
    .full-banner .rounded-hover
        padding 3px
    .full-banner
        clear both
    .rounded-hover
        h2
            transition(color, 0.25s, linear)
        h2:hover
            color link-color
    p.teaser
        color #444

    .top
        > .main
            width 474px
            .columns-today
                .rounded
                    .content-container
                        float none
                    .separator
                        clear both
                        height 18px
                        width 100%
                    width 468px
                    a.hover
                        width 210px
                        h2
                            font-size 1.3em
                        img.thumb
                            thumb-dim = 50px
                            margin-top 4px
                            width thumb-dim
                            height thumb-dim
                            float right
                            margin-left 10px
                        p.teaser
                            font-size 0.95em
                            line-height 1.3em
                    a.hover.highlight-left
                        padding-left 10px
                        float left
                    a.hover.highlight-right
                        padding-right 10px
                        float right
                .rounded-hover
                    .content-container
                        padding-left 2px
                        padding-right 2px
                    width 474px
                    img
                        width 470px
                    h2
                        font-size 1.2em
                        margin 0px 3px

        > .right
            float right
            width 474px
            .medium-rectangle
                float right
            .blog
                .rounded
                    width 140px
                    height 250px

    .middle
        > div
            .container.block
                .rounded-hover
                    width 304px
                    height 300px

        > .last > .container.block .rounded-hover
            width 306px
    .row.columnists
        > div
            margin-right 20px
            .rounded
                width 222px
                height 180px
                .content-container
                    width 217px
        > .last
            margin-right 0px


    .editorial-board
        .rounded
            width 468px
            a.hover
                padding-bottom 18px
                h2
                    font-size 1.3em
                p.date
                    font-size 0.9em
                    margin-bottom 6px
    column-height = 680px
    column-width = 326px
    #columnists
        width 474px
        float right
        #columnist-list
            float left
            .rounded
                height column-height
                width 474px - column-width - 3px*4
                h2 a
                    padding-left 7px
        #columnist-articles
            float left
            .rounded
                height column-height
                width column-width
            .columnist-stories
                .content-container
                    width column-width - 3px
                .columnist-info
                    float none
                    border-bottom 1px solid #EEE
                    padding-bottom 5px
                    width 100%
                    h3.name
                        font-size 1.6em
                        line-height 1em
                    img.headshot
                        float right
                        width 70px
                        height 70px
                    p.year

                        padding-right 5px
                    a.twitter
                        font-size 0.8em
                    p.tagline
                        margin-top 6px
                        font-size 1.2em
                        font-style italic
                display none
                position absolute
                a.hover.highlight-right
                    .date
                        margin-bottom 6px
                        font-size 0.9em
                        line-height 1.2em
                    margin-right -4px
                    padding-right 5px
                    padding-top 18px
                    h2
                        font-size 1.3em
    > div
        > div
            float left
            .container.block


                float left
                margin-right 20px
                .rounded-hover
                    width 222px
                    height 222px

                    h2
                        font-size 1.2em
                    p.teaser
                        color #444
                        line-height 1.3em
                        font-size 0.9em
                    img
                        width 70px
                        height 70px
                        float right
        > .last > .container.block
                margin-right 0px

    .blog
        float left
