@import '../../mixins'

#people
    h1
        font-size 1.5em
        margin-bottom 10px
    .result
        display block
        width 600px
        float left
        margin-bottom 10px
        padding-left 8px

        a
            color black
            transition 0.25s linear color
        a:hover
            color #36c

        h3
            font-size 1em
            color black
        

        .date
            margin-bottom 5px
            margin-top -3px
        .teaser, .date
            color #444
            font-size 0.9em

    .sep
        font-size 0.7em
        margin-left 4px
        margin-right 4px


    .sidebar
        float right
        width 311px


        .rounded
            width 306px
            font-size 1.1em

            a
                color black
            a:hover
                color #36C