@import '../../mixins'

#search
    .result
        display block
        width 596px
        float left
        margin-bottom 10px
        padding-left 8px
        padding-right 8px

        h3
            font-size 1.2em
            color black

        .dateline
            margin-bottom 5px
            margin-top -3px
        .teaser, .dateline
            color #444
            font-size 0.9em
    .result:hover
        h3, h3>*
            color #36c

    .sep
        font-size 0.7em
        margin-left 4px
        margin-right 4px

    .sidebar
        float right
        width 311px


        .rounded
            width 306px
            font-size 1.1em

            a
                color black
            a:hover
                color #36C
