.image-container
    .full-banner
        width 468px
        height 60px

    .medium-rectangle
        width 300px
        height 250px

    .leaderboard
        width 728px
        height 90px

.leaderboard-row
    .filler-block
        float left
        margin-right 30px
        .rounded
            width 214px
            height 96px
            img
                height 100%

    .leaderboard-block
        float left
        .rounded
            width 734px
            height 96px
