.image-container
    .full-banner
        width 468px
        height 60px

    .medium-rectangle
        width 300px
        height 250px

    .leaderboard
        width 728px
        height 90px

.leaderboard-row
    .custom-ad
        float left
        margin-right 10px
        width 240px
        height 90px

    .leaderboard-block
        float left
        width 728px
        height 96px
