@import '../../mixins'


.block 
    .rounded
        overflow hidden
    a, a .content-container
        height 100%

.block-horizontal .rounded
    height 139px

    .image-container
        float left
        img
            width 186px
            margin-right 10px

.block-square .rounded
    height 156px

    .image-container
        float left
        img
            width 150px
            margin-right 5px

.block-thumb .rounded
    height 119px
    .content-container
        padding 5px
    
        .title
            height 2.5em
    
        img
            height 70px
            margin-left 5px
