@import '../../mixins'


.block a, .block a .content-container
    height 100%

.block-horizontal .rounded
    height 139px

    .image-container
        float left
        img
            width 186px
            margin-right 10px

.block-square .rounded
    height 156px

    .image-container
        float left
        img
            width 150px
            margin-right 10px

.block-thumb .content-container
    padding 5px
    height 119px

    .title
        height 2.5em

    .teaser
        width 222px

    img
        height 70px