@import '../../mixins'


.calendar
  margin-top 1em

  th
    font-family "Poiret One"
    font-size 1.2em

  td
    padding-bottom 0px
    vertical-align top

    .events
      height 100%
      background-color #D8D8D8
      border-radius 3px
      black-box-shadow 0.6 0px 1px 3px
      list-style none
      margin 0
      padding 0

      li
        padding .5em .5em
        font-size 1em
        .title
          font-weight bold
