@import '../../mixins'
@import '../variables'

.news-box
    img
        border-radius corner-radius

    .content-container
        a
            margin-bottom 15px

    .left-column.content-container
        padding-right 0px

    .right-column.content-container
        padding-left 0px

    ul.stories
        margin 0px
        li
            font-size .5em

            .title
                font-size 2em
