@import '../../mixins'
@import '../variables'


.top-opinion
    img.thumb
        width 60px
        float right
        margin-left 5px

.category-box
    .category-list
        float left
        width 150px
        min-height 300px
        h2
            font-size 1.1em
            line-height 1.3em

    .categories
        float right
        width 324px
        .category
            display none

            .author-info
                border-bottom 1px solid #EEE
                padding-bottom 10px
                margin-bottom 10px
                
                img.headshot
                    width 100px
                    float right
