@import '../../mixins'
@import '../variables'


.top-opinion
    img.thumb
        width 60px
        float right
        margin-left 5px

.category-box
    .category-list
        float left
        width 150px
        h2
            font-size 1.1em
            line-height 1.3em

    .category-articles
        float right
        width 324px
        visibility hidden
