@import '../../mixins'

.poll
    h1
        font-size 1.3em

    ul.choices
        margin 5px
        list-style-type circle

    .choice
        display block

        a.hover
           margin 0px
           display inline-block

        p
           display inline-block
           margin 0px 4px

    .bar
        background-color #069
        height 5px
