@import '../../mixins'

.row
    .content-container
        padding 3px

        .story
            width 270px
        .highlight-right
            margin-right -4px
            padding-right 4px

.row-square .content-container
    height 156px

    img
        width 150px
    .story
        width 140px

.row-2 .content-container
    padding 5px
    height 119px

    .title
        height 2.5em

    .teaser
        width 222px

    img
        height 70px