.sport-event-info
  .teams
    img.logo
      height 90px
      width 90px
      display inline-block

    span.separator
      font-size 3em
      padding 0px 20px
      vertical-align 30px

  .timer
    text-align right
    float right
    font-size 2em
    display none

  .event-info
    padding 20px 0px

    .label
      font-weight bold
      padding-right .5em

