@import '../../mixins'
@import '../variables'

.rounded
    box-sizing border-box
    border-radius corner-radius
    black-box-shadow 0.4 0px 1px 3px
    background-color white
    background-linear-gradient bottom, whiteSmoke 0%, white 33%
    margin-bottom rounded-vertical-spacing

    .highlight-left
        margin-left -1px
    .highlight-right
        margin-right -1px

.content-container
    padding 8px
    box-sizing border-box

    h1, h2, h3, h4, h5
        color black
        margin-bottom 3px

    p, span, li
        color #444
        font-size 1.1em
        margin-bottom 0px

    .highlight-left
        margin-left -9px
        padding-left 9px
    .highlight-right
        padding-right 9px
        margin-right -9px

.image-container
    padding 3px
    box-sizing border-box

    img
        border-radius corner-radius
        display block

.lighten
    img
        opacity 0.8
        transition opacity 0.25s linear

    img:hover
        opacity 1        

.vertical-container
    transform rotate(-90deg)
    transform-origin 0px 1em
    white-space nowrap
    display block
    position relative

    .vertical
        position absolute
        visibility hidden
        color #444
        font-size 1em
        line-height 100%
        letter-spacing 1px
        text-shadow 0px 1px 1px white
        text-transform uppercase
