@import '../../mixins'

link-color = #36c
corner-radius = 4px
container-padding = 3px
border-color-grey = #DDD
highlight-color = #4D90F0

.content-container
    padding container-padding
    box-sizing border-box

    h1, h2, h3, h4, h5
        color black
        margin-bottom 1em

    p, span
        color #444
        margin-bottom 1em

    li
        color #444

a.highlight-left:hover, a.highlight-left.selected
    border-left-color hightlight-color
a.highlight-right:hover, a.highlight-right.selected
    border-right-color highlight-color
a.highlight-bottom
    border-bottom 1px solid transparent
a.highlight-bottom:hover, a.highlight-bottom.selected
    border-bottom-color highlight-color
a.highlight-top
    border-top 1px solid transparent
a.highlight-top:hover, a.highlight-top.selected
    border-top-color #4D90F0

.rounded
    border-radius corner-radius
    black-box-shadow 0.4 0px 1px 3px
    background-color white
    background-linear-gradient bottom, whiteSmoke 0%, white 33%
