body section > .nav{position:relative;z-index:2;clear:both;}
body section > .nav h2{float:left;}
body section > .nav h2 a{letter-spacing:1px;text-shadow:0 1px 0 #fff;font-size:.7em;text-transform:uppercase;color:#333;display:block;padding-left:15px;padding-right:11px;margin-bottom:16px;margin-top:-16px;-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear}
body section > .nav h2 a:hover,body section > .nav h2 a.active{color:#999}
body section > .nav h2.first a{padding-left:3px}
body section > .nav a{color:#333}
body section > #news .left{float:left;}
body section > #news .left .container{width:256px;}
body section > #news .left .container .content-container h2{font-size:1em;margin-bottom:5px}
body section > #news .left .container .rounded{width:250px}
body section > #news .videos .content-container{padding:0}
body section > #news .right{float:right;}
body section > #news .right .container{width:212px;}
body section > #news .right .container .rounded{width:206px}
body section > #news .middle{width:460px;float:left;padding-left:20px;}
body section > #news .middle a.rounded-hover :hover h1,body section > #news .middle a.rounded-hover :hover h2,body section > #news .middle a.rounded-hover :hover h3,body section > #news .middle a.rounded-hover :hover h4{color:#36c}
body section > #news .middle a.rounded-hover h1,body section > #news .middle a.rounded-hover h2,body section > #news .middle a.rounded-hover h3,body section > #news .middle a.rounded-hover h4{-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear}
body section > #news .middle .row .content-container img.thumb{border-radius:4px}
body section > #news .middle .content-container h2{color:#000;font-size:1.2em}
body section > #news .middle .content-container p.teaser{color:#444}
body section > #news .middle .featured .content-container h2{color:#000;font-size:1.2em;margin:0 3px}
body section > #news .middle .featured .content-container p.teaser{color:#444;margin:0 3px}
body section > #news .middle .featured .content-container img{width:454px}
body section > #news .middle .headline .content-container img{width:138px;float:left;margin-right:10px;margin-bottom:3px}
body section > #news .middle .headline .content-container .text{margin-top:-4px}
body section > #news .middle .headline .content-container h2{color:#000;font-size:1.2em;margin-left:148px}
body section > #news .middle .headline .content-container p.teaser{color:#444;font-size:1em;line-height:1.3em;margin-left:148px}
body section > #news .middle > .row > .block{width:150px;float:left;padding-left:5px;}
body section > #news .middle > .row > .block .container{width:150px;}
body section > #news .middle > .row > .block .container .rounded-hover{height:220px}
body section > #news .middle > .row > .block img{width:138px}
body section > #news .middle > .row > .block h2{font-size:1em;margin-bottom:3px;margin-top:-4px;line-height:1.2em}
body section > #news .middle > .row > .block p.teaser{font-size:.9em;line-height:1.3em}
body section > #news .middle > .row .block.first{padding-left:0}
