body section > #news > .top .sidebar{float:right;width:490px;}
body section > #news > .top .sidebar > div{clear:both}
body section > #news > .top .sidebar .top .container{float:left;width:234px;}
body section > #news > .top .sidebar .top .container .content-container h2{font-size:1em;margin-bottom:5px}
body section > #news > .top .sidebar .top .container .rounded{width:228px;height:300px}
body section > #news > .top .sidebar .top .right-headlines .content-container > a{padding-right:8px}
body section > #news > .top .sidebar .top .right-headlines .content-container h2,body section > #news > .top .sidebar .top .right-headlines .content-container h3{font-size:1.2em}
body section > #news > .top .sidebar .top .right-headlines .content-container a.first p{padding-bottom:.6em}
body section > #news > .top .sidebar .top .right-headlines .content-container h3{padding-top:.4em;padding-bottom:.4em}
body section > #news > .top .sidebar .top > .last{float:right}
body section > #news > .top .sidebar .middle .medium-rectangle{float:right}
body section > #news > .top .sidebar .middle .most-popular{float:left;}
body section > #news > .top .sidebar .middle .most-popular .rounded{width:155px;height:250px}
body section > #news > .top .sidebar > .bottom .container{width:486px;}
body section > #news > .top .sidebar > .bottom .container .rounded-hover{width:480px}
body section > #news > .top .sidebar > .bottom .container .element{float:left;margin-right:6px;margin-bottom:6px}
body section > #news > .top .sidebar > .bottom .container .element.right{margin-right:0}
body section > #news > .top .sidebar > .bottom .container .element.bottom{margin-bottom:0}
body section > #news > .top .main{width:460px;float:left;}
body section > #news > .top .main a.rounded-hover :hover h1,body section > #news > .top .main a.rounded-hover :hover h2,body section > #news > .top .main a.rounded-hover :hover h3,body section > #news > .top .main a.rounded-hover :hover h4{color:#36c}
body section > #news > .top .main a.rounded-hover h1,body section > #news > .top .main a.rounded-hover h2,body section > #news > .top .main a.rounded-hover h3,body section > #news > .top .main a.rounded-hover h4{-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear}
body section > #news > .top .main .row .content-container img.thumb{border-radius:4px}
body section > #news > .top .main .content-container h2{color:#000;font-size:1.2em}
body section > #news > .top .main .content-container p.teaser{color:#444}
body section > #news > .top .main .featured .content-container h2{color:#000;font-size:1.2em;margin:0 3px}
body section > #news > .top .main .featured .content-container p.teaser{color:#444;margin:0 3px}
body section > #news > .top .main .featured .content-container img{width:454px}
body section > #news > .top .main .headline .rounded-hover{padding:0;}
body section > #news > .top .main .headline .rounded-hover .content-container img{display:block;width:138px;float:left;margin-right:10px;margin-left:-1px}
body section > #news > .top .main .headline .rounded-hover .content-container h2{color:#000;font-size:1.2em;width:304px;float:right;line-height:1.2em;margin-bottom:3px}
body section > #news > .top .main .headline .rounded-hover .content-container p.teaser{color:#444;font-size:1em;line-height:1.3em;width:304px;float:right}
body section > #news > .top .main > .row > .block{width:150px;float:left;padding-left:5px;}
body section > #news > .top .main > .row > .block .container{width:150px;}
body section > #news > .top .main > .row > .block .container .rounded-hover{height:220px}
body section > #news > .top .main > .row > .block img{width:138px}
body section > #news > .top .main > .row > .block h2{height:45px;font-size:1em;margin-bottom:3px;margin-top:-4px;line-height:1.2em}
body section > #news > .top .main > .row > .block p.teaser{font-size:.9em;line-height:1.3em}
body section > #news > .top .main > .row .block.first{padding-left:0}
body section > #news > .bottom .multimedia .element{float:left;margin-right:8px}
body section > #news > .bottom .multimedia .element.last{margin-right:0}
