body section > #opinion .top > .main .rounded-hover{width:470px;}
body section > #opinion .top > .main .rounded-hover img{width:464px}
body section > #opinion .top > .right{padding-left:20px;width:476px;}
body section > #opinion .top > .right .rounded-hover{height:163px;}
body section > #opinion .top > .right .rounded-hover h2{font-size:1.3em;margin-bottom:5px}
body section > #opinion .top > .right .rounded-hover p.teaser{color:#444}
body section > #opinion .top > .right .rounded-hover .text{float:left;width:300px}
body section > #opinion .top > .right .rounded-hover img{width:157px;height:157px;float:right;border-radius:4px}
body section > #opinion .middle > div .container.block .rounded-hover{width:304px;height:300px}
body section > #opinion .middle > .last > .container.block .rounded-hover{width:306px}
body section > #opinion div > div{float:left;}
body section > #opinion div > div .container.block{float:left;margin-right:20px;}
body section > #opinion div > div .container.block .rounded-hover{width:222px;height:222px;}
body section > #opinion div > div .container.block .rounded-hover h2{font-size:1.2em}
body section > #opinion div > div .container.block .rounded-hover p.teaser{color:#444;line-height:1.3em;font-size:.9em}
body section > #opinion div > div .container.block .rounded-hover img{width:70px;height:70px;float:right}
body section > #opinion div > .last > .container.block{margin-right:0}
