body section > #opinion .top > .main{width:476px}
body section > #opinion .top > .right{padding-left:20px;width:476px;}
body section > #opinion .top > .right .text{float:left}
body section > #opinion .top > .right img{width:60px;height:60px;float:right}
body section > #opinion .middle > div .container.block .rounded-hover{width:304px;height:300px}
body section > #opinion .middle > .last > .container.block .rounded-hover{width:306px}
body section > #opinion div > div{float:left;}
body section > #opinion div > div .container.block{float:left;margin-right:20px;}
body section > #opinion div > div .container.block .rounded-hover{width:222px;height:222px;}
body section > #opinion div > div .container.block .rounded-hover h2{font-size:1.2em}
body section > #opinion div > div .container.block .rounded-hover p.teaser{color:#444;line-height:1.3em;font-size:.9em}
body section > #opinion div > div .container.block .rounded-hover img{width:70px;height:70px;float:right}
body section > #opinion div > .last > .container.block{margin-right:0}
