body section > #opinion img{-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 0 4px #999;-moz-box-shadow:0 0 4px #999;-ms-box-shadow:0 0 4px #999;-o-box-shadow:0 0 4px #999;box-shadow:0 0 4px #999;-webkit-transition:box-shadow .25s linear;-moz-transition:box-shadow .25s linear;-ms-transition:box-shadow .25s linear;-o-transition:box-shadow .25s linear;transition:box-shadow .25s linear}
body section > #opinion a.hover:hover img{-webkit-box-shadow:0 0 4px #000;-moz-box-shadow:0 0 4px #000;-ms-box-shadow:0 0 4px #000;-o-box-shadow:0 0 4px #000;box-shadow:0 0 4px #000}
body section > #opinion .rounded-hover h2{-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-ms-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear}
body section > #opinion .rounded-hover h2:hover{color:#36c}
body section > #opinion p.teaser{color:#444}
body section > #opinion .top > .main{width:474px;}
body section > #opinion .top > .main .columns-today .rounded{width:468px;}
body section > #opinion .top > .main .columns-today .rounded .content-container{float:none}
body section > #opinion .top > .main .columns-today .rounded .separator{clear:both;height:18px;width:100%}
body section > #opinion .top > .main .columns-today .rounded a.hover{width:210px;}
body section > #opinion .top > .main .columns-today .rounded a.hover h2{font-size:1.3em}
body section > #opinion .top > .main .columns-today .rounded a.hover img.thumb{margin-top:4px;width:50px;height:50px;float:right;margin-left:10px}
body section > #opinion .top > .main .columns-today .rounded a.hover p.teaser{font-size:.95em;line-height:1.3em}
body section > #opinion .top > .main .columns-today .rounded a.hover.highlight-left{padding-left:10px;float:left}
body section > #opinion .top > .main .columns-today .rounded a.hover.highlight-right{padding-right:10px;float:right}
body section > #opinion .top > .main .columns-today .rounded-hover{width:474px;}
body section > #opinion .top > .main .columns-today .rounded-hover .content-container{padding-left:2px;padding-right:2px}
body section > #opinion .top > .main .columns-today .rounded-hover img{width:470px}
body section > #opinion .top > .main .columns-today .rounded-hover h2{font-size:1.2em;margin:0 3px}
body section > #opinion .top > .right{float:right;width:474px;}
body section > #opinion .top > .right .medium-rectangle{float:right}
body section > #opinion .top > .right .blog .rounded{width:140px;height:250px}
body section > #opinion .middle > div .container.block .rounded-hover{width:304px;height:300px}
body section > #opinion .middle > .last > .container.block .rounded-hover{width:306px}
body section > #opinion .row.columnists > div{margin-right:20px;}
body section > #opinion .row.columnists > div .rounded{width:222px;height:180px;}
body section > #opinion .row.columnists > div .rounded .content-container{width:217px}
body section > #opinion .row.columnists > .last{margin-right:0}
body section > #opinion .editorial-board .rounded{width:468px;height:500px;}
body section > #opinion .editorial-board .rounded a.hover{padding-bottom:18px;}
body section > #opinion .editorial-board .rounded a.hover h2{font-size:1.3em}
body section > #opinion .editorial-board .rounded a.hover p.date{font-size:.9em;margin-bottom:6px}
body section > #opinion #columnists{float:right;}
body section > #opinion #columnists #columnist-list .rounded{height:680px;}
body section > #opinion #columnists #columnist-list .rounded h2 a{padding-left:7px}
body section > #opinion #columnists #columnist-articles .rounded{height:680px;width:326px}
body section > #opinion #columnists #columnist-articles .columnist-stories{display:none;position:absolute;}
body section > #opinion #columnists #columnist-articles .columnist-stories .content-container{width:323px}
body section > #opinion #columnists #columnist-articles .columnist-stories .columnist-info{float:none;border-bottom:1px solid #eee;padding-bottom:5px;width:100%;}
body section > #opinion #columnists #columnist-articles .columnist-stories .columnist-info h3.name{font-size:1.6em;line-height:1em}
body section > #opinion #columnists #columnist-articles .columnist-stories .columnist-info img.headshot{float:right;width:70px;height:70px}
body section > #opinion #columnists #columnist-articles .columnist-stories .columnist-info p.year{padding-right:5px}
body section > #opinion #columnists #columnist-articles .columnist-stories .columnist-info a.twitter{font-size:.8em}
body section > #opinion #columnists #columnist-articles .columnist-stories .columnist-info p.tagline{margin-top:6px;font-size:1.2em;font-style:italic}
body section > #opinion #columnists #columnist-articles .columnist-stories a.hover.highlight-right{margin-right:-4px;padding-right:5px;padding-top:18px;}
body section > #opinion #columnists #columnist-articles .columnist-stories a.hover.highlight-right .date{margin-bottom:6px;font-size:.9em;line-height:1.2em}
body section > #opinion #columnists #columnist-articles .columnist-stories a.hover.highlight-right h2{font-size:1.3em}
body section > #opinion div > div{float:left;}
body section > #opinion div > div .container.block{float:left;margin-right:20px;}
body section > #opinion div > div .container.block .rounded-hover{width:222px;height:222px;}
body section > #opinion div > div .container.block .rounded-hover h2{font-size:1.2em}
body section > #opinion div > div .container.block .rounded-hover p.teaser{color:#444;line-height:1.3em;font-size:.9em}
body section > #opinion div > div .container.block .rounded-hover img{width:70px;height:70px;float:right}
body section > #opinion div > .last > .container.block{margin-right:0}
