#people h1{font-size:1.5em;margin-bottom:10px}
#people .result{display:block;width:600px;float:left;margin-bottom:10px;padding-left:8px;}
#people .result a{color:#000}
#people .result a:hover{color:#36c}
#people .result h3{font-size:1em;color:#000}
#people .result .date{margin-bottom:5px;margin-top:-3px}
#people .result .teaser,#people .result .date{color:#444;font-size:.9em}
#people .sep{font-size:.7em;margin-left:4px;margin-right:4px}
#people .sidebar{float:right;width:311px;}
#people .sidebar .rounded{width:306px;font-size:1.1em;}
#people .sidebar .rounded a{color:#000}
#people .sidebar .rounded a:hover{color:#36c}
