body section > #recess p.teaser{color:#444}
body section > #recess .top > .main{width:476px;float:left;}
body section > #recess .top > .main .rounded-hover{height:400px;}
body section > #recess .top > .main .rounded-hover h2{font-size:1.3em}
body section > #recess .top > .main .rounded-hover img{width:470px}
body section > #recess .top > .right{float:right;}
body section > #recess .top > .right .column{float:left;width:234px}
body section > #recess .top > .right .column.first{margin-right:20px;}
body section > #recess .top > .right .column.first .block .rounded-hover{height:187px;}
body section > #recess .top > .right .column.first .block .rounded-hover h2{font-size:1.2em;margin-top:-4px;line-height:1.3em;height:44px}
body section > #recess .top > .right .column.first .block .rounded-hover img{width:230px}
body section > #recess .top > .right .column.first .block .rounded-hover p.teaser{display:none}
body section > #recess .top > .right .blog .rounded-hover{height:400px}
body section > #recess .middle .rounded{width:966px;height:241px}
body section > #recess .bottom > .row > div{float:left;}
body section > #recess .bottom > .row > div .container.block{float:left;margin-right:20px;}
body section > #recess .bottom > .row > div .container.block .rounded-hover{width:222px;height:222px;}
body section > #recess .bottom > .row > div .container.block .rounded-hover h2{font-size:1.2em}
body section > #recess .bottom > .row > div .container.block .rounded-hover p.teaser{color:#444;line-height:1.3em;font-size:.9em}
body section > #recess .bottom > .row > div .container.block .rounded-hover img{width:70px;height:70px;float:right}
body section > #recess .bottom > .row > .last > .container.block{margin-right:0}
