body section > .nav{position:relative;z-index:2;clear:both;}
body section > .nav h2{float:left;}
body section > .nav h2 a{letter-spacing:1px;text-shadow:0 1px 0 #fff;font-size:.7em;text-transform:uppercase;color:#333;display:block;padding-left:15px;padding-right:11px;margin-bottom:16px;margin-top:-16px;-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear}
body section > .nav h2 a:hover,body section > .nav h2 a.active{color:#999}
body section > .nav h2.first a{padding-left:3px}
body section > .nav a{color:#333}
body section > #recess .rounded-hover h2{-webkit-transition:color .25s linear;-moz-transition:color .25s linear;-o-transition:color .25s linear;transition:color .25s linear}
body section > #recess .rounded-hover :hover h2{color:#36c}
body section > #recess p.teaser{color:#444}
body section > #recess .top > .main{width:476px;float:left;}
body section > #recess .top > .main .rounded-hover{height:370px;}
body section > #recess .top > .main .rounded-hover h2{font-size:1.3em}
body section > #recess .top > .main .rounded-hover img{width:470px}
body section > #recess .top > .right{float:right;}
body section > #recess .top > .right .container{margin-bottom:19px}
body section > #recess .top > .right .column{float:left;width:266px}
body section > #recess .top > .right .column.first{margin-right:20px;width:200px;}
body section > #recess .top > .right .column.first .block .rounded-hover{height:176px;width:192px;padding:0;}
body section > #recess .top > .right .column.first .block .rounded-hover h2{font-size:1.2em;margin-top:135px;line-height:1.3em;height:44px;position:absolute;width:192px}
body section > #recess .top > .right .column.first .block .rounded-hover img{width:186px;display:block;border-radius:4px}
body section > #recess .top > .right .column.first .block .rounded-hover p.teaser{display:none}
body section > #recess .top > .right .blog .rounded{height:364px}
body section > #recess .bottom > .row > div{float:left;}
body section > #recess .bottom > .row > div .container.block{float:left;margin-right:20px;}
body section > #recess .bottom > .row > div .container.block .rounded-hover{width:222px;height:182px;}
body section > #recess .bottom > .row > div .container.block .rounded-hover h2{font-size:1.2em;margin-bottom:5px}
body section > #recess .bottom > .row > div .container.block .rounded-hover p.teaser{color:#444;line-height:1.3em;font-size:1em}
body section > #recess .bottom > .row > div .container.block .rounded-hover img{width:70px;height:70px;float:right}
body section > #recess .bottom > .row > .last > .container.block{margin-right:0}
