#search .result{display:block;width:600px;float:left;margin-bottom:10px;padding-left:8px;}
#search .result h3{font-size:1.2em;color:#000}
#search .result .date{margin-bottom:5px;margin-top:-3px}
#search .result .teaser,#search .result .date{color:#444;font-size:.9em}
#search .result:hover h3,#search .result:hover h3>*{color:#36c}
#search .sep{font-size:.7em;margin-left:4px;margin-right:4px}
#search .sidebar{float:right;width:311px;}
#search .sidebar .rounded{width:306px;font-size:1.1em;}
#search .sidebar .rounded a{color:#000}
#search .sidebar .rounded a:hover{color:#36c}
