section > .nav{position:relative;z-index:2;clear:both;}
section > .nav h2,section > .nav h3{float:left;}
section > .nav h2 a,section > .nav h3 a{letter-spacing:1px;text-shadow:0 1px 0 #fff;font-size:.7em;text-transform:uppercase;color:#333;display:block;padding-left:15px;padding-right:11px;margin-bottom:16px;margin-top:-16px;}
section > .nav h2 a:hover,section > .nav h3 a:hover,section > .nav h2 a.selected,section > .nav h3 a.selected{color:#36c}
#section .result{display:block;width:600px;float:left;margin-bottom:10px;padding-left:8px;}
#section .result h3{font-size:1.2em;color:#000}
#section .result .date{margin-bottom:5px;margin-top:-3px}
#section .result .teaser,#section .result .date{color:#444;font-size:.9em}
#section .result:hover h3{color:#36c}
#section .sep{font-size:.7em;margin-left:4px;margin-right:4px;}
#section .sep h2.first a{padding-left:3px}
#section .sep a{color:#333}
.nav h2.selected a{color:#36c;margin-right:0;padding-right:0}
.nav h2.selected a:hover{text-decoration:line-through}
