body section > #towerview p.teaser{color:#444}
body section > #towerview > .main{float:left;width:644px;}
body section > #towerview > .main > .row.first .container{margin-bottom:10px;}
body section > #towerview > .main > .row.first .container .content-container{padding-left:2px;padding-right:2px;margin-bottom:5px;width:636px;}
body section > #towerview > .main > .row.first .container .content-container h2{font-size:1.5em}
body section > #towerview > .main > .row.first .container .content-container p.teaser{font-size:1.2em}
body section > #towerview > .main > .row.first .container .content-container img{width:636px;border-radius:4px}
body section > #towerview > .main > .row.feature .first .container{margin-right:12px}
body section > #towerview > .main > .row.feature .container{width:315px;float:left;}
body section > #towerview > .main > .row.feature .container .content-container{padding:0;}
body section > #towerview > .main > .row.feature .container .content-container .rounded-hover{width:309px}
body section > #towerview > .main > .row.feature .container .content-container h2{margin-bottom:8px;font-size:1.2em}
body section > #towerview > .main > .row.feature .container .content-container h2,body section > #towerview > .main > .row.feature .container .content-container p.teaser{width:145px;float:right;padding-right:5px}
body section > #towerview > .main > .row.feature .container .content-container p.teaser{font-size:1em;height:1.4em}
body section > #towerview > .main > .row.feature .container .content-container img{border-radius:4px;float:left;width:150px;height:150px}
body section > #towerview > .main > .row .block-row .rounded{float:left;width:642px;height:241px}
body section > #towerview > .sidebar{width:306px;float:right;}
body section > #towerview > .sidebar .rounded-hover h2{font-size:1.2em;margin-bottom:8px}
body section > #towerview > .sidebar .prefix .container .content-container{padding:0;}
body section > #towerview > .sidebar .prefix .container .content-container h2{margin-top:4px;margin-bottom:4px}
body section > #towerview > .sidebar .prefix .container .content-container h2,body section > #towerview > .sidebar .prefix .container .content-container p.teaser{padding:0 3px}
body section > #towerview > .sidebar .prefix .container .content-container img{width:300px;height:120px;border-radius:4px}
