@import '../../mixins'

section > .nav
    position relative
    z-index 2
    clear both
    h2, h3
        float left
        a
            letter-spacing 1px
            text-shadow 0px 1px 0px white
            //border-bottom 1px solid transparent
            font-size 0.7em
            text-transform uppercase
            color #333
            display block
            padding-left 15px
            padding-right 11px
            //padding-bottom 1px
            margin-bottom 16px
            margin-top -16px
            transition color .25s linear
        a:hover, a.selected
            color #36c

#section
    .articles
        float left
        width = 600px
        width width
        .result
            display block
            float left
            width width
            margin-bottom 10px
            padding-left 8px



            h3
                font-size 1.2em
                color black

            .dateline
                margin-bottom 5px
                margin-top -3px
            .teaser, .dateline
                color #444
                font-size 0.9em
        .result:hover
            h3
                color #36c

        .sep
            font-size 0.7em
            margin-left 4px
            margin-right 4px

            h2.first a
                padding-left 3px

            a
                color #333
    .sidebar
        float right
        .most-popular .rounded
            width 300px

.nav h2.selected a
    color #36c
    margin-right 0px
    padding-right 0px

.nav h2.selected a:hover
    text-decoration line-through
