link(rel='stylesheet', href='/admin/layout/styles.css')
script(src='/js/admin/layout.js')

h2 Frontpage Layout

#layout
    <h2>Slideshow</h2>
    #slideshow.container(data-groupName='Slideshow')
    
    <h2>Headlines</h2>
    #headlines.container(data-groupname='Headlines')

    <h2>Opinion</h2>
    #opinion.container(data-groupname='Opinion')

    <h2>News</h2>
    #news.container(data-groupname='News')

    <h2>Sports</h2>
    #sports.container(data-groupname='Sports')

    <h2>Recess</h2>
    #recess.container(data-groupname='Recess')

    <h2>Towerview</h2>
    #towerview.container(data-groupname='Towerview')

#stories
    - each story, id in stories
        .story(draggable="true", id="#{story._id}")
            #{story.title}


