.fixed-container.clearfix
    select(id="taxonomy")
        option(value="All") All
        option(value="News") News
        option(value="Sports") Sports
        option(value="Opinion") Opinion
        option(value="Recess") Recess
        option(value="Towerview") Towerview
    #stories-container
        #stories
            - each story, id in stories
                .story(draggable="true", id="#{story._id}")
                    #{story.title}
