#layout
    width 400px
    float left

    .container
        width 300px
        border 1px solid black
        padding: 10px
        padding-bottom 60px

    .container.over
        background-color #CCC

.story
    font-size 0.8em
    border 1px solid black
    margin 5px 0px
    padding 5px

.story.over
    background-color #CCC



#sidebar
    width: 200px
    float right

    .story.exists
        opacity 0.4

.fixed-container
    position fixed
