#layout
    width 400px
    float left

    .container
        width 300px
        height 100px
        border 1px solid black

    .container.over
        background-color #CCC

.story
    font-size 0.8em
    border 1px solid black
    margin 5px 0px

#stories
    width: 200px
    float right