.js-page-id.slideshow-frontpage

.slideshow.vertical
    #slides
        for story, index in stories
            if (story && story.images && story.images.LargeRect)
                // add alt=story.teaser for teaser
                img(width='636px', height='393px', src=story.images.LargeRect.url, title=story.title, longdesc=story.url)
