.link-listing
    text-align center
    font-size 2em

    .link-block
        padding 10px
          
        h1
            padding 5px

        .link-sep
            font-size 1em
            padding 5px