#page.about-us
    h1(style='font-size: 24px; padding: 10px;') About Us

    .content.rounded(style='width: 520px; height: 970px; margin-right: 10px;')
        h2 History
        p The Chronicle, the student-run newspaper of the Duke community, is older than Duke University itself.
        p Students at Duke's predecessor, Trinity College, founded the newspaper in 1905, and the first issue published on Dec. 19 featured articles about a campus debate and a speech by a Charlotte businessman. The paper was created by members of the Hesperian and Columbian literary societies but eventually moved beyond those roots.
        p In 1968, after years of being published two or three times a week, the paper began five-day-a-week publication during the academic year.
        p Later, in an important step toward independence, the paper stopped taking student fees. And in 1993, The Chronicle incorporated as the Duke Student Publishing Company, breaking formal ties with Duke. The company has a contractual relationship with the university governing issues such as office space and distribution rights, but independence allows The Chronicle the freedom to cover campus news without fear of repercussions from administrators. Advertising revenue allows the newspaper to be self-sustaining.
        p In 1995, The Chronicle launched its web site, which now has a readership of 70,000 and serves as a resource for Duke alumni, parents and sports fans who want the latest news from Durham.
        p Over the years, the milestone moments for the paper included coinage of the term &quot;Blue Devils&quot; for the school's sports teams, publication of the first full-color photo in 1984 and the placement of a black bar of mourning around the front page after Richard Nixon was elected president in 1968.
        p In addition to its role in providing news on campus, The Chronicle has a long tradition of educating students in journalism and propelling them into careers in the field. Among the paper's alumni are prominent journalists who have worked for publications such as The New York Times, The Washington Post and Newsweek.
        p The paper is still entirely run by students, who are not paid and are responsible for all content. The business and advertising operations are managed by a professional staff. The company's board, composed largely of former staff members, sets broad policy for the organization.

    .content.rounded(style='width: 350px; height: 970px; margin-left: 10px;')
        h2 Organization
        p The paper is still entirely run by students, who are not paid and are responsible for all content. The business and advertising operations are managed by a professional staff. In addition to The Chronicle, DSPC also operates www.qduke.com, a set of quick links to web sites at and about Duke.

        p Duke Student Publishing Company is governed by a 13-member board composed largely of former staff members. The board sets broad policy for the organization, oversees the professional staff and helps connect the paper with its alumni. For more information about alumni activities and news, contact Director of External Relations David Rice at david.rice@duke.edu or 919-684-0377.
        
        p The current members of the DSPC board are:
        
        ul(style='margin-left: 20px')

            li Elizabeth Morgan (chair), Trinity 1990

            li David Graham (vice chair), Trinity 2009

            li Will Robinson (secretary), Trinity 2011

            li Chelsea Allison, Trinity 2010

            li Phil Bennett, professor, Sanford School of Public Policy
        
            li Karen Blumenthal, Trinity 1981

            li Stephen Buckley, Trinity 1989

            li Paul Gaffney, Trinity 1986
        
            li David Ingram (co-chair), Trinity 2003
        
            li Peggy Krendl, Trinity 1994

            li Richard Rubin, Trinity 2000

            li Tejen Shah, Pratt 2013

            li Patrick Yoest, Law School 2013
        
//            li Matt Davis, Trinity 2011

//            li Ryan McCartney, Trinity 2008
