extends layout

block content
    #page
        .rounded.span-7
            .article-container
                h1.prepend-1 Contact
                .article-body
                    p To reach the Editorial Office (newsroom) at 301 Flowers Building, call 919-684-2663 or fax 919-684-4696.
                    p To reach the Business Office at 103 West Union Building, call 919-684-3811.
                    p To reach the Advertising Office at 101 West Union Building call 919-684-3811 or fax 919-668-1247.
                    p To inquire about subscriptions, call the Advertising Office at 919-684-3811.
                    p Subscriptions have 100% unconditional guarantee for a full refund on all unmailed issues if you are not satisfied.
                    p To sign up for our free online subscription, click 
                        a(href='/page/newsletter') here
                        | .

        .rounded.span-5.last
            .article-container
                h1.title Staff
                .article-body
                    ul
                        li
                            a(href="mailto:yeshwanth.kandimalla@duke.edu") Yeshwanth Kandimalla 
                            i Editor
                        li
                            a(href="mailto:lauren.carroll@duke.edu") Lauren Carroll 
                            i Managing Editor
                        li
                            a(href="mailto:parker.kuivila@duke.edu") Parker Kuivila 
                            i Managing Editor for Online
                        li
                            a(href="mailto:julian.spector@duke.edu") Julian Spector 
                            i News Editor
                        li
                            a(href="mailto:andrew.beaton@duke.edu") Andrew Beaton 
                            i Sports Editor
                        li
                            a(href="mailto:chris.dall@duke.edu") Chris Dall 
                            i Photography Editor
                        li
                            a(href="mailto:maggie.lafalce@duke.edu") Maggie LaFalce 
                            i Editorial Page Editor
                        li
                            a(href="mailto:katherine.zhang@duke.edu") Katherine Zhang 
                            i Editorial Board Chair
                        li
                            a(href="mailto:james.posen@duke.edu") Jim Posen 
                            i Director Of Online Operations
                        li
                            a(href="mailto:hajung.kim@duke.edu") Kristie Kim 
                            i University Editor
                        li
                            a(href="mailto:margot.tuchler@duke.edu") Margot Tuchler 
                            i University Editor
                        li
                            a(href="mailto:tiffany.lieu@duke.edu") Tiffany Lieu 
                            i Local &amp; National Editor
                        li
                            a(href="mailto:jack.mercola@duke.edu") Jack Mercola 
                            i Local &amp; National Editor
                        li
                            a(href="mailto:andrew.luo@duke.edu") Andrew Luo 
                            i Health &amp; Science Editor
                        li
                            a(href="mailto:danielle.muoio@duke.edu") Danielle Muoio 
                            i Health &amp; Science Editor
                        li
                            a(href="mailto:nicole.kyle@duke.edu") Nicole Kyle 
                            i Special Projects Editor
                        li
                            a(href="mailto:phoebe.long@duke.edu") Phoebe Long 
                            i Design Editor
                        li
                            a(href="mailto:eliza.strong@duke.edu") Eliza Strong 
                            i Design Editor
                        li
                            a(href="mailto:michaela.dwyer@duke.edu") Michaela Dwyer 
                            i Recess Editor
                        li
                            a(href="mailto:matthew.chase@duke.edu") Matthew Chase 
                            i Towerview Editor
                        li
                            a(href="mailto:sonia.havele@duke.edu") Sonia Havele 
                            i Towerview Editor
                        li
                            a(href="mailto:michael.shammas@duke.edu") Michael Shammas 
                            i Recruitment Chair
                        li
                            a(href="mailto:samantha.brooks@duke.edu") Samantha Brooks 
                            i Recruitment Chair
                        li
                            a(href="mailto:maggie.spini@duke.edu") Maggie Spini 
                            i Senior Editor
                        li
                            a(href="mailto:samantha.brooks@duke.edu") Samantha Brooks 
                            i Senior Editor
                        li
                            a(href="mailto:chrissy.beck@duke.edu") Chrissy Beck 
                            i General Manager
