#page
    .content-container.rounded
        h1 Editorial Board

        p(align="middle")
            p The opinions in the daily editorial section are formulated by a panel comprised of the editor-in-chief, the editorial page editor, and 10 members of the student body selected through an application process.
            p The 10 members of the editorial board have diverse interests and an immense depth of knowledge about the University and the local
              community. The editorials are anonymously written by one member present at the meeting.
            p In an effort to be transparent, names and biographies of the members formulating the opinion are posted below.

    .content-container.rounded
        p
          b Members of the 2011-2012 Editorial Board:

        p
            b Cory Adkins
            | , Editorial Board Chair
        p
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/images/other/10_11EditBoard1/cory.jpg", alt="Cory Adkins", style="margin-right: 10px;")
        p Cory Adkins is a Trinity junior who hails from North Carolina’s other tobacco town, Winston-Salem. Cory is a Philosophy major and a member of The Nexus selective living group. He likes T.S. Eliot, but not as much as Lewis Carroll.
        br
        
        p 
            b Lindsey Rupp
            | , Editor-in-chief and ex-officio non-voting member
        p 
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/images/other/10_11EditBoard1/lindsey.jpg", alt="Lindsey Rupp", style="margin-right: 10px;")
        p Lindsey Rupp is a Senior Editor and former Editor of The Chronicle. Lindsey is a native Durhamite who also served as editor of The Chronicle's University department. She will graduate in May 2012 with an English degree. A life-long Dukie, Lindsey's mother participated in the Duke University Physician’s Assistant Program from 1992 to 1994 and is currently a senior physician’s assistant in Hematology and Oncology at Duke.
        br
        
        p 
            b Alex Bloedel
            | , Editorial Board Member
        p 
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/pictures/picture-70.jpg", alt="Eliza French", style="margin-right: 10px;")
        p Alex Bloedel is a Trinity sophomore majoring in Physics, with minors in English and Economics. Alex does theoretical physics research at Duke, and has done research at the CERN large hadron collider in Geneva. Alex is the Philanthropy Chair of Sigma Phi Epilson and a Robertson Scholar.
        br

        p 
            b Rewa Choudhary
            | , Editorial Board Member
        p
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/images/other/10_11EditBoard1/rewa.jpg", alt="Rewa Choudary", style="margin-right: 10px;")
        p Rewa Choudhary is a senior from Jacksonville, FL and is majoring in Biomedical Engineering. She is Chair of the Baldwin Scholars and a Pratt Research Fellow. She hopes to work in global health in the future.

        br

        p 
            b Dana Kraushar
            | , Editorial Board Member
        p 
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/images/other/10_11EditBoard1/sam.jpg", alt="Sam Davis", style="margin-right: 10px;")
        p Dana Kraushar is a Trinity sophomore. At Duke, Dana is a member of the Duke University Union Speakers and Stage committee and the director of social events for Delta Gamma sorority.

        br

        p
            b Sarah Krueger
            | , Editorial Board Member
        p
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/images/other/10_11EditBoard1/sam.jpg", alt="Sam Davis", style="margin-right: 10px;")
        p Sarah Krueger is a senior from New Braunfels, Texas. She is double-majoring in International Comparative Studies and Spanish, and is completing a certificate in Journalism. Sarah serves as an officer for Kappa Kappa Gamma and is involved with Duke Student Broadcasting. She grew up in Burundi, Botswana, and England and continued her international ventures in college by spending a summer in Cape Town with DukeEngage and a semester in Madrid. She hopes to be a TV reporter, though admits print journalism isn’t that bad, either. Sarah was raised a Dukie thanks to the influence of her father, Duke M.A. ’58, who was later a professor, vice provost and Dean of Trinity College.

        br

        p
            b Christopher Tweed-Kent
            | , Editorial Board Member
        p
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/images/other/10_11EditBoard1/sam.jpg", alt="Sam Davis", style="margin-right: 10px;")
        p Christopher Tweed-Kent is a senior majoring Mechanical Engineering and Materials Science. He plays on the Varsity Men's Soccer Team, leads a Duke start-up called ChangeEducate and participates in Engineering World Health.

        br

        p 
            b Precious Lockhart
            | , Editorial Board Member
        p 
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/images/other/10_11EditBoard1/precious.jpg", alt="Precious Lockhart", style="margin-right: 10px;")
        p Precious Lockhart is a sophomore from Alexandria, Virginia prospectively seeking a Psychology major.  This is her second year on the Editorial Board. In addition to her Board membership, she is also a member of the Ubuntu Selective Living Group. She currently sits on the Executive Board of the Duke Partnership for Service, where she leads the DPS Connect Freshmen Leadership program. In the past she sat on the DSG Board of Elections, where she assisted in student campaigns. After graduating from Duke, she hopes to go to law school.


        br

        p
            b Ani Mohan
            | , Editorial Board Member
        p
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/images/other/10_11EditBoard1/precious.jpg", alt="Precious Lockhart", style="margin-right: 10px;")
        p Ani Mohan is a sophomore Electrical Engineering and Economics double major. He is involved with materials science research, debate and entrepreneurial ventures on campus. Ani hopes to launch multiple technology-based startups before working on science policy affairs later in his career.

        br

        p 
            b Christina Rosivack
            | , Editorial Board Member [ABROAD SPRING 2011]
        p 
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/images/other/10_11EditBoard1/christina.jpg", alt="Christina Rosivack", style="margin-right: 10px;")
        p Christina Rosivack is a senior Russian Language and Culture Major from New Jersey. Her interests include ethnic conflict, the history of the Soviet Union and singing a cappella with Duke Deja Blue. She is rather disappointed that Cory has refused to give her a third sentence and forced her to lump a cappella in with ethnic conflict in this bio.

        br
        
        p 
            b Casey Williams
            | , Editorial Board Member
        p 
            //img(width="125", height="85", align="left", src="http://dukechronicle.com/sites/default/files/images/other/10_11EditBoard1/amanda.jpg", alt="Amanda Turner", style="margin-right: 10px;")
        p Casey Williams is a Trinity Sophomore who, in addition to serving on the Editorial Board, is a member of the Duke Debate team and Maxwell House. In his free time Casey loves to read, play the guitar and camp, and can often be found volunteering at the Duke Campus Farm. This is Casey's first year on the Board.

        br

        p 
            b Katherine Zhang
            | , Editorial Board Member
        p Katherine Zhang is a Trinity sophomore born and raised in Charlotte, NC. She is a prospective English and Math major. This is her second year on the Editorial Board. In her spare time, she likes to read magazines and eat ethnic food.
