extends layout

block content
    #page
        .rounded.article-container
            h1.title Editorial Board
            .article-body
                p The opinions in the daily editorial section are formulated by a panel comprised of the editor-in-chief, the editorial page editor, and 10 members of the student body selected through an application process.
                p The 10 members of the editorial board have diverse interests and an immense depth of knowledge about the University and the local community. The editorials are anonymously written by one member present at the meeting.
                p In an effort to be transparent, names and biographies of the members formulating the opinion are posted below.

        .article-container.rounded
            .article-body
                h3 Members of the 2012-2013 Editorial Board:

                h5.nospace
                    b Katherine Zhang
                    | , Editorial Board Chair
                p Katherine Zhang is a Trinity junior born and raised in Charlotte, N.C. She is double-majoring in English and economics. Her interests include cheap ethnic food, short fiction and the intersection of race and pop culture. She is also a Robertson Scholar.

                h5.nospace
                    b Yeshwanth Kandimalla
                    | , Editor of The Chronicle and ex-officio non-voting member
                p Yeshwanth Kandimalla is a Trinity junior from Atlanta. He is majoring in economics (and, unofficially, The Chronicle), and his interests include travel, good comedy and Sporcle.

                h5.nospace
                    b Divya Taneja
                    | , Editorial Board Member
                p Divya Taneja is a Trinity senior from Cincinnati. Her interests include writing, behavioral sciences and traveling. Divya is a member of Brownstone. Upon completing her degre in psychology and a minor in political science, she intends to go to law school.

                h5.nospace
                    b Sam Davis
                    | , Editorial Board Member
                p Sam Davis is a Trinity senior from Port Jefferson, N.Y., on the east end of Long Island. Sam is an international comparative studies and political science double major, vice president of Wayne Manor and a line monitor.

                h5.nospace
                    b Ani Mohan
                    | , Editorial Board Member
                p Ani Mohan is a Pratt junior from Clifton, Va. majoring in electical engineering and economics. Ani, an A.B. Duke Scholar,  also spends his time with sustainability projects such as the Smart Home, performing research in a materials science lab and working on his web startup. In his free time, he enjoys reading and playing the guitar.

                h5.nospace
                    b Alex Bloedel
                    | , Editorial Board Member
                p Alex Bloedel is a Trinity junior from New Canaan, Conn. studying physics, economics and English. He is a Robertson Scholar and chaplain for Sigma Phi Epsilon fraternity. Alex does theoretical physics research at Duke and plans to attend graduate school in physics or economics.

                h5.nospace
                    b Dana Kraushar
                    | , Editorial Board Member
                p Dana Kraushar is a Trinity junior from New York City. Dana is pursuing a major in public policy and a minor in statistics, and will be studying in Buenos Aires Fall 2012. In addition to serving as a research assistant at Sanford, Dana is a member of Delta Gamma sorority and Duke University Union's Speakers and Stage committee. She enjoys watching movies and trying new foods, preferably at the same time.

                h5.nospace
                    b Cory Adkins
                    | , Editorial Board Member
                p Cory Adkins is a Trinity senior from Winston-Salem, N.C., majoring in philosophy with a minor in political science. Cory chaired the board as a junior. He is a member of the Nexus and a B.N. Duke scholar. His favorite editorial writers are E.B. White and H.L. Mencken, even if they had the audacity to sign their names.

                h5.nospace
                    b Courtney Ready
                    | , Editorial Board Member
                p Courtney Ready is a Trinity junior majoring in public policy and economics. At Duke, she is a member of Delta Delta Delta sorority and tutors as an undergraduate writing partner. In her spare time, she enjoys reading about the world and discovering cool restaurants in Durham.

                h5.nospace
                    b Casey Williams
                    | , Editorial Board Member
                p Casey Williams is a Trinity junior from Atlanta majoring in literature. Casey is an A.B. Duke Scholar and a member of Maxwell House. In his free time, Casey enjoys camping and playing the guitar.

                h5.nospace
                    b Precious Lockhart
                    | , Editorial Board Member
                p Precious Lockhart is a Trinity junior from Alexandria,Va. majoring in psychology. In addition to her work on the board, she also serves as vice president of Ubuntu, and is active in the Duke Partnership for Service, the Coalition for a Conflict Free Duke and the First-Year Advisory Counselor program. When she isn’t busy with classes or activities, she enjoys writing short stories, volunteering and being a Cameron Crazie.

                h5.nospace
                    b Chris Brown
                    | , Editorial Board Member
                p Chris Brown is a Trinity senior majoring in economics and pursuing the certificate in energy and the environment. Chris has been involved with Duke Student Government and the Duke Partnership for Service, and he is a member of Pi Kappa Phi fraternity. He is a life long Duke fan, witnessed the independence of the Republic of South Sudan, and loves to play the djembe.

                h5.nospace
                    b Jeremy Ruch
                    | , Editorial Board Member
                p Jeremy Ruch is a Trinity senior from New York City majoring in public policy and pursuing a certificate in markets and management studies. He is a member of Duke Debate and the Duke Student Government cabinet. He also works at the University Center for Activities and Events and serves as a crew leader for Project Build.

                h5.nospace
                    b Maggie LaFalce
                    | , Editorial Page Editor and ex-officio nonvoting member
                p Maggie LaFalce is a Trinity junior from Kentucky. She is pursuing a major in psychology and a certificate in markets and management studies. She serves as communications director for Kappa Alpha Theta sorority. She has a twin brother.

                h5.nospace
                    b Nicole Kyle
                    | , Special Projects Editor and ex-officio nonvoting member
                p Nicole Kyle is a Trinity senior from Rhode Island. She is pursuing a double major in public policy and English and a minor in economics. She served as news editor of The Chronicle during her junior year. She is also a member of the women's club tennis team and Business Oriented Women.
