#page.graduation
    .content.rounded
        #wufoo-z7x3x5
        script
            var z7x3x5;(function(d, t) {
            var s = d.createElement(t), options = {
            'userName':'thechronicle',
            'formHash':'z7x3x5',
            'autoResize':true,
            'height':'1129',
            'async':true,
            'header':'show',
            'ssl':true};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { z7x3x5 = new WufooForm();z7x3x5.initialize(options);z7x3x5.display(); } catch (e) {}}
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');