#page
    .content-container.rounded
        h1 Letters to the Editor
        p To submit a letter for possible publication on the opinion pages, please send your submission to 
            a(href='mailto:chronicleletters@duke.edu') chronicleletters@duke.edu
            | . Letters may not exceed 325 words.

