@import '../../mixins'

page-width = 972px
link-color = #36c
container-padding = 4px
top-content-width =  642px
container-vertical-spacing = 23px

body section > #recess
    .rounded-hover
        h2
            transition color 0.25s linear
        h2:hover
            color link-color

    p.teaser
        color #444
    .top
        > .main
            width 476px
            float left
            .rounded-hover
                h2
                    font-size 1.3em
                height 370px
                img
                    width 470px
        > .right
            float right
            
            .medium-rectangle .content-container
                width 250px
            .container
                margin-bottom 19px
            .column
                float left
                width 256px
            .column.first
                margin-right 20px
                width 200px
                .block .rounded-hover
                    height 176px
                    width 192px
                    padding 0px


                    h2
                        font-size 1em
                        margin-top 135px
                        line-height 1.3em
                        height 44px
                        position absolute
                        width 192px
                    img
                        width 186px
                        display block
                        border-radius 4px
                    p.teaser
                        display none

            .blog .rounded
                height 90px


    .bottom > .row
        > div
            float left
            .container.block
                float left
                margin-right 20px

                .rounded-hover
                    width 222px
                    height 182px

                    h2
                        font-size 1.2em
                        line-height 1.3em
                        margin-bottom 5px
                        height 44px
                    p.teaser
                        color #444
                        line-height 1.3em
                        font-size 1em
                    img
                        width 70px
                        height 70px
                        float right
                        margin-left 7px
        > .last > .container.block
                margin-right 0px
    .multimedia
        .rounded-hover
            width 966px
            .element
                float left
                margin-right 8px
            .element.last
                margin-right 0px