body .container {
    padding-left: 0;
    font-size: .8em;
    position: relative;
    margin-top: 0
}

body .container .content-container {
    padding: 3px
}

body .container a.hover {
    -o-transition-duration: linear, linear;
    -moz-transition-duration: linear, linear;
    -webkit-transition-duration: linear, linear, linear;
    -o-transition-duration: .25s, .25s;
    -moz-transition-duration: .25s, .25s;
    -webkit-transition-duration: .25s, .25s, .25s;
    -o-transition-property: color, border-color;
    -moz-transition-property: color, border-color;
    -webkit-transition-property: color, border-color;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    display: block
}

body .container a.hover h1, body .container a.hover h2, body .container a.hover h3, body .container a.hover h4, body .container a.hover h5, body .container a.hover p {
    color: #000;
    transition: color .25s linear;
    -o-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -webkit-transition: color .25s linear
}

body .container a.hover p {
    line-height: 1.5em;
    color: #444
}

body .container a.hover:hover h1, body .container a.hover.selected h1, body .container a.hover:hover h2, body .container a.hover.selected h2, body .container a.hover:hover h3, body .container a.hover.selected h3, body .container a.hover:hover h4, body .container a.hover.selected h4 {
    color: #36c
}

body .container a.hover.highlight-left:hover, body .container a.hover.highlight-left.selected {
    border-left-color: #4d90f0
}

body .container a.hover.highlight-right:hover, body .container a.hover.highlight-right.selected {
    border-right-color: #4d90f0
}

body .container a.hover.highlight-bottom {
    border-bottom: 1px solid transparent
}

body .container a.hover.highlight-bottom:hover, body .container a.hover.highlight-bottom.selected {
    border-bottom-color: #4d90f0
}

body .container a.hover.highlight-top {
    padding-top: 5px;
    margin-top: -5px;
    border-top: 1px solid transparent
}

body .container a.hover.highlight-top:hover, body .container a.hover.highlight-top.selected {
    border-top-color: #4d90f0
}

body .container a.hover:hover h1, body .container a.hover.selected h1, body .container a.hover:hover h2, body .container a.hover.selected h2, body .container a.hover:hover h3, body .container a.hover.selected h3, body .container a.hover:hover h4, body .container a.hover.selected h4, body .container a.hover:hover h5, body .container a.hover.selected h5 {
    color: #36c
}

body .container a.hover p.author, body .container a.hover p.tagline {
    text-transform: uppercase;
    padding-top: 0;
    font-size: .7em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif
}

body .container a.hover p.author {
    margin-bottom: 3px
}

body .rounded {
    padding: 2px 3px 4px 3px
}

body .rounded a.hover.highlight-right {
    margin-right: -7px
}

body .rounded a.hover.highlight-left {
    margin-left: -7px
}

body .rounded h1, body .rounded h2, body .rounded h3, body .rounded h4, body .rounded h5 {
    line-height: 1.3em
}

body .rounded-hover {
    padding: 3px 2px
}

body .image-container .container img {
    display: block;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    -khtml-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

body .image-container .container .content-container {
    padding: 0
}

body .twitter .container .content-container {
    overflow: hidden;
    height: 55px
}

body .twitter .container .content-container .text h3 {
    margin-top: -3px
}

body .twitter .container .content-container .text p {
    padding-left: 1.25em;
    padding-top: 2px;
    line-height: 1.3em;
    font-size: .9em
}

body .twitter .container .content-container img {
    height: 55px;
    width: 55px;
    float: right;
    margin-left: 3px;
    padding-left: 3px
}

body .breaking .rounded {
    box-shadow: rgba(200, 0, 0, 0.60) 0 1px 3px;
    -moz-box-shadow: rgba(200, 0, 0, 0.60) 0 1px 3px;
    -webkit-box-shadow: rgba(200, 0, 0, 0.60) 0 1px 3px
}

body .featured h2 {
    margin: 0 3px
}

body .featured .rounded-hover {
    border: none;
    padding: 0
}

body .featured p.teaser {
    margin: 0 3px;
    color: #444
}

body .featured img {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

body .block-row img {
    transition: box-shadow .25s linear;
    -o-transition: box-shadow .25s linear;
    -moz-transition: box-shadow .25s linear;
    -webkit-transition: box-shadow .25s linear;
    box-shadow: 0 0 4px #999;
    -moz-box-shadow: 0 0 4px #999;
    -webkit-box-shadow: 0 0 4px #999;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    -khtml-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

body .block-row a.hover:hover img {
    box-shadow: 0 0 4px #000;
    -moz-box-shadow: 0 0 4px #000;
    -webkit-box-shadow: 0 0 4px #000
}

body .block-row .rounded {
    padding: 0;
    width: 972px
}

body .block-row .rounded h2, body .block-row .rounded h3 {
    line-height: 1.2em;
    margin-top: -5px;
    height: 47px;
    margin-bottom: .5em;
    font-size: 1em
}

body .block-row .rounded h2 {
    line-height: 1.3em;
    font-size: 1.5em
}

body .block-row .rounded .content-container {
    margin-bottom: -1px;
    padding: 12px 12px 0 12px
}

body .block-row a.hover {
    float: left;
    height: 242px;
    width: 133px;
    padding: 0 15px;
    border-left: 0;
    border-right: 0;
    border: none
}

body .block-row a.hover img {
    margin-bottom: 14px;
    width: 133px;
    display: block
}

body .block-row a.hover p.teaser {
    line-height: 1.4em;
    font-size: .9em;
    margin-top: -4px;
    height: 65px
}

body .block-row a.hover.first {
    padding-left: 0
}

body .block-row a.hover.last {
    padding-right: 0
}

body .block-row.large-first .list-story.first {
    padding-top: 0
}

body .block-row.large-first .list-story.first p.teaser {
    font-size: 1.2em
}

body .block-row.large-first .list-story.last {
    padding-bottom: 0
}

body .block-row.large-first a.hover.first {
    width: 292px
}

body .block-row.large-first a.hover.first img {
    margin-bottom: 0;
    width: 292px
}

body .rounded, body .rounded-hover {
    float: left;
    background: -moz-linear-gradient(center bottom, whiteSmoke 0%, #fff 33%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, whiteSmoke), color-stop(.33, #fff));
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.40) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.40) 0 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.40) 0 1px 3px;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    -khtml-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

body a.rounded-hover {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent
}

body a.rounded-hover h3 {
    transition: color .25s linear;
    -o-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -webkit-transition: color .25s linear
}

body a.list-story {
    padding: 4px 0 4px 2px;
    display: block;
    color: #000
}

body a.list-story.first {
    padding-top: 2px
}

body a.list-story.last {
    padding-bottom: 2px
}

body a.hover:hover, body a.hover.selected {
    border-bottom-color: #4d90f0;
    color: #36c
}

body .vertical-container {
    margin-left: 1px;
    margin-top: -14px;
    position: absolute;
    -moz-transform-origin: 0 100%;
    -webkit-transform-origin-y: 100%;
    -webkit-transform-origin-x: 0;
    float: left;
    display: block;
    white-space: nowrap;
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    filter: flipv fliph;
    writing-mode: tb-rl;
    font-size: 1em;
    visibility: hidden
}

body .vertical-container .vertical {
    margin-bottom: -2px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #fff;
    letter-spacing: 1px;
    color: #444;
    font-size: .9em
}

body .most-popular ol li {
    list-style: decimal outside
}

body .most-popular ol li h2 {
    margin-left: -9px
}

body .most-popular ol {
    font-family: Georgia, "Century Schoolbook", "Times New Roman", Times, serif;
    margin-left: 18px
}

.lighten img {
    transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
    opacity: .8
}

.lighten a.hover:hover img, .lighten a.rounded-hover:hover img {
    opacity: 1
}

.lighten a.hover:hover h3, .lighten a.rounded-hover:hover h3 {
    color: #36c
}

section > .nav {
    clear: both;
    z-index: 2;
    position: relative
}

section > .nav h2, section > .nav h3 {
    float: left
}

section > .nav h2 a, section > .nav h3 a {
    margin-top: -16px;
    margin-bottom: 16px;
    padding-right: 11px;
    padding-left: 15px;
    display: block;
    color: #333;
    text-transform: uppercase;
    font-size: .7em;
    text-shadow: 0 1px 0 #fff;
    letter-spacing: 1px
}

section > .nav h2 a:hover, section > .nav h3 a:hover, section > .nav h2 a.selected, section > .nav h3 a.selected {
    color: #36c
}

#section .result {
    padding-left: 8px;
    margin-bottom: 10px;
    float: left;
    width: 600px;
    display: block
}

#section .result h3 {
    color: #000;
    font-size: 1.2em
}

#section .result .date {
    margin-top: -3px;
    margin-bottom: 5px
}

#section .result .teaser, #section .result .date {
    font-size: .9em;
    color: #444
}

#section .result:hover h3 {
    color: #36c
}

#section .sep {
    margin-right: 4px;
    margin-left: 4px;
    font-size: .7em
}

#section .sep h2.first a {
    padding-left: 3px
}

#section .sep a {
    color: #333
}

.nav h2.selected a {
    padding-right: 0;
    margin-right: 0;
    color: #36c
}

.nav h2.selected a:hover {
    text-decoration: line-through
}

.nav li:hover .subnav {
    left: 0
}

.nav li:hover h2 a {
    color: #36c
}

.nav .subnav {
    left: -9999px;
    position: absolute;
    clear: both;
    padding-top: 20px
}

.nav h2 {
    font-size: 1.2em
}

body section > #sports {
    margin-top: 1em
}

body section > #sports .top {
    margin-bottom: 5px
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow {
    position: relative;
    width: 972px
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .slides img {
    border-radius: 4px;
    width: 636px
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .slides {
    float: right;
    width: 636px;
    border-radius: 4px
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines {
    background: transparent;
    display: block;
    height: 399px;
    width: 330px;
    float: left
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines div {
    width: 630px margin 0 auto
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines a.page {
    transition: border-right-color .25s linear;
    -o-transition: border-right-color .25s linear;
    -moz-transition: border-right-color .25s linear;
    -webkit-transition: border-right-color .25s linear;
    float: left;
    text-shadow: 0 1px 1px #fff;
    line-height: 1.3em;
    color: #444;
    height: 115px;
    padding-left: 3px;
    font-size: 1.2em;
    padding-top: 3px;
    padding-right: 8px;
    margin-bottom: 13px;
    margin: 0;
    display: inline-block;
    width: 299px;
    cursor: pointer;
    text-align: left
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines a.page h2 {
    margin-bottom: 8px;
    line-height: 1.2em;
    font-size: 1.2em
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines a.page p.teaser {
    color: #444;
    line-height: 1.2em;
    font-size: .85em
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines a.page img {
    margin-right: 10px;
    float: left;
    width: 118px;
    height: 118px;
    border-radius: 4px
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines a.page.last {
    margin-bottom: 0
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines a.page:hover {
    text-decoration: none;
    color: #000
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines a.page.active {
    border-right-color: #4d90f0
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines a.page.active h2 {
    color: #36c
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines a.page.active:hover h2 {
    text-decoration: underline
}

body section > #sports .top .slideshow-wrapper.right-select > .slideshow .headlines a.page.rounded {
    background: -webkit-gradient(linear, left bottom, left top, from(#ededed), to(#fff));
    box-shadow: rgba(0, 0, 0, 0.30) 0 1px 3px
}

body section > #sports .medium-rectangle .rounded-hover {
    height: 256px;
    width: 306px
}

body section > #sports .medium-rectangle .rounded-hover img {
    padding-top: 3px;
    padding-left: 3px
}

body section > #sports .middle {
    margin-bottom: 6px
}

body section > #sports .middle .left .container .rounded {
    height: 297px;
    width: 305px
}

body section > #sports .middle .left .container .rounded h2 {
    margin-bottom: 10px;
    font-size: 1em
}

body section > #sports .middle .right .column.first {
    margin-right: 14px
}

body section > #sports .middle .right .column {
    float: left
}

body section > #sports .middle .right .column .container.row {
    margin-bottom: 14px;
    width: 314px
}

body section > #sports .middle .right .column .container.row .rounded-hover {
    height: 124px;
    padding: 0;
    width: 312px
}

body section > #sports .middle .right .column .container.row .rounded-hover:hover h2 {
    color: #36c
}

body section > #sports .middle .right .column .container.row img {
    margin-top: 4px;
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 4px
}

body section > #sports .middle .right .column .container.row h2 {
    padding-top: 2px;
    padding-left: 5px;
    height: 36px;
    margin-bottom: 5px;
    line-height: 1.2em;
    color: #000;
    font-size: 1.2em;
    transition: color .25s linear;
    -o-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -webkit-transition: color .25s linear
}

body section > #sports .middle .right .column .container.row p {
    float: left;
    padding-left: 5px;
    width: 221px;
    line-height: 1.4em;
    font-size: .9em;
    color: #444
}

body section > #sports .middle2 .blog {
    float: left
}

body section > #sports .middle2 .blog .rounded {
    height: 211px;
    width: 306px
}

body section > #sports .middle2 .multimedia {
    float: right
}

body section > #sports .middle2 .multimedia .rounded-hover {
    height: 211px;
    width: 636px
}

body section > #sports .middle2 .multimedia .rounded-hover .element {
    margin-right: 7px;
    float: left;
    width: 205px
}

body section > #sports .middle2 .multimedia .rounded-hover .element.last {
    margin-right: 0
}

body section > #sports .sport-block {
    margin-right: 19px;
    float: left;
    width: 311px
}

body section > #sports .sport-block .rounded-hover {
    height: 305px;
    width: 305px
}

body section > #sports .last > .sport-block {
    margin-right: 0
}

body section > #sports .bottom .row {
    margin-bottom: 6px
}

body section > #sports .bottom .row.last {
    margin-bottom: 0
}

.slideshow.right {
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.slideshow.right .slides {
    height: 393px
}

.slideshow.right .slides img {
    margin-top: 0
}

.slideshow.vertical .headlines a.page {
    transition: border-color .25s linear;
    -o-transition: border-color .25s linear;
    -moz-transition: border-color .25s linear;
    -webkit-transition: border-color .25s linear;
    height: 41px;
    border-bottom: 1px solid transparent
}

.slideshow.vertical .headlines a.page:hover, .slideshow.vertical .headlines a.page.active {
    border-bottom-color: #4d90f0
}

.slideshow {
    margin-bottom: 20px;
    padding: 0;
    font-family: Georgia, "Century Schoolbook", "Times New Roman", Times, serif;
    font-size: .9em;
    box-shadow: rgba(0, 0, 0, 0.40) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.40) 0 1px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.40) 0 1px 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 642px
}

.slideshow .slides img {
    z-index: 5;
    margin-bottom: 80px;
    top: 0;
    left: 0;
    position: absolute;
    height: 393px;
    width: 636px;
    border-bottom: 1px solid #ccc
}

.slideshow .slides {
    box-shadow: rgba(0, 0, 0, 0.30) 0 1px 3px;
    border: 3px solid #fff;
    height: 473px;
    overflow: hidden;
    text-align: left;
    width: 636px;
    position: relative;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, whiteSmoke), color-stop(.33, #fff))
}

.slideshow .slides a:hover h1 {
    color: #36c
}

.slideshow .slides .text {
    position: absolute;
    margin-left: 10px;
    margin-top: 400px
}

.slideshow .slides .text h1 {
    margin-bottom: 2px;
    line-height: 1.1em;
    font-size: 1.5em;
    transition: color .25s linear;
    -o-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -webkit-transition: color .25s linear
}

.slideshow .headlines {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, whiteSmoke), color-stop(.33, #fff));
    background: -moz-linear-gradient(center bottom, whiteSmoke 0%, #fff 33%);
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    *overflow: hidden;
    background: #fff;
    text-align: center;
    height: 50px;
    width: 100%;
    display: block
}

.slideshow .headlines div {
    width: 630px margin 0 auto
}

.slideshow .headlines a.page {
    text-shadow: 0 1px 1px #fff;
    -webkit-transition: color linear .2s;
    font-size: 1em;
    line-height: 1.2em;
    color: #000;
    height: 38px;
    padding: 3px 15px 6px 15px;
    float: left;
    display: block;
    width: 180px;
    cursor: pointer
}

.slideshow .headlines a.page:hover {
    text-decoration: none;
    color: #36c
}

.slideshow .headlines a.page.active {
    text-shadow: 0 1px 0 #fff;
    color: #36c
}

.slideshow .headlines a.page.active:hover {
    text-decoration: underline
}

.slideshow .caret {
    -webkit-transition: -webkit-transform linear .4s;
    z-index: 5;
    left: 330px;
    margin-top: 55px;
    position: absolute;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.slideshow .caret b.caret-shadow {
    z-index: 0;
    margin: 0 0 0 0;
    box-shadow: rgba(0, 0, 0, 0.30) 0 1px 3px;
    height: 10px;
    background: #fff;
    width: 10px;
    position: absolute
}

.slideshow .caret b.caret-white {
    z-index: 1;
    top: -1px;
    left: 1px;
    height: 11px;
    background: #fff;
    width: 11px;
    position: absolute
}