@import '../mixins'

page-width = 972px
link-color = #36c
container-padding = 4px
top-content-width =  642px
container-vertical-spacing = 23px

body section > #towerview
    .medium-rectangle .rounded-hover
        padding 3px

    p.teaser
        color #444
    > .main
        float left
        width 644px
        > .row.first

            .container
                margin-bottom 10px
                .content-container
                    padding-left 2px
                    padding-right 2px
                    h2
                        font-size 1.5em
                    p.teaser
                        font-size 1.2em
                    margin-bottom 5px
                    width 636px
                    img
                        width 636px
                        border-radius 4px
        
        > .row.feature
            .first
                .container
                    margin-right 12px
            .container

                width = 315px
                width width
                float left
                .content-container
                    padding 0px
                    
                    .rounded-hover
                        width width - 6px

                    h2
                        margin-bottom 8px
                        font-size 1.2em
                    h2, p.teaser
                        width 145px
                        float right
                        padding-right 5px
                    p.teaser
                        font-size 1em
                        height 1.4em
                    img
                        border-radius 4px
                        float left
                        width 150px
                        height 150px

        > .row .block-row
            .rounded
                float left
                width 642px
    > .sidebar
        .rounded-hover
            h2
                font-size 1.2em
                margin-bottom 8px
        width 306px
        float right
        .prefix .container
            .content-container
                padding 0px
                h2
                    margin-top 4px
                    margin-bottom 4px
                h2, p.teaser
                    padding 0px 3px
                img
                    width 300px
                    height 120px
                    border-radius 4px
    