#page
    .content.rounded
        h1 User Guidelines
        p (Borrowed heavily, and in some cases copied directly, from New York Magazine's Reader Commenting Guidelines, which are available at&nbsp;<a href="http://nymag.com/newyork/commentguidelines/" target="_blank">http://nymag.com/newyork/<wbr></wbr>commentguidelines/</a>)
        p 
            i The Chronicle&nbsp;
            | invites you to express your opinions and engage in discussions with one another by leaving comments on our articles and blogs. While we encourage an open forum, please follow these guidelines to ensure an enjoyable and welcoming environment for all readers.&nbsp;
            i The Chronicle does not review or moderate all comments &nbsp;
            | but we reserve the right to remove or edit content once posted.
        ol
            li Please refrain from posting offensive, obscene, threatening or abusive comments. If you personally attack other readers or writers, your comment(s) and responses to those comments may be removed from the discussion. Attacks create a hostile environment that discourages discussion. You are fully responsible for libelous or defamatory comments.
            
            li Comments containing racism, homophobia, sexism, or any other form of hate-speech will be removed from our site.
            
            li
                | Vulgar posts will not be tolerated. Foul language, sexually explicit language, and other such comments may be removed.
                br Please note that comments may be edited by the moderator for any reason, including but not limited to language.
            
            li Comments should be related to the topic discussed in the associated article or blog post. In order to keep the conversation relevant, off-topic comments may be edited or removed.
            
            li You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of your comments. If we believe a commenter has impersonated someone else, we reserve the right to remove the comment.
            
            li We do not welcome comments containing copy used for commercial purposes or for soliciting funds. We reserve the right to remove them.
            
            li If a reader reports a concern, moderators will endeavor to review that concern as soon as possible. We do not remove every comment that has been reported and we cannot respond individually to every report.
            
            li We strongly discourage readers from posting personal information about themselves (i.e. address, telephone number) and reserve the right to remove any comments we find with personal information about other people or that violates a third party's right to privacy.
            
            li We reserve the right to remove<b>&nbsp;</b>comments left in order to protest a removed comment.
            
            li Dukechronicle.com or <i>The Chronicle</i> reserves the right to print your comment (or an excerpt from it) in the paper, on other parts of the <a href="http://dukechronicle.com/" target="_blank">dukechronicle.com</a> Web site, or in another form, media or technology.
