#page.young-trustees-2012
    //h1 Young Trustee Election 2012

    .ugrad-block-row
        .container.clearfix.block.first
            .vertical-container
                h2.vertical &nbsp;
            .rounded-hover.hover.highlight-right
                .content-container
                    a(href='/article/danesh-advocates-merge-academics-culture')
                        img.thumb(src='http://d2sug25c5hnh7r.cloudfront.net/images/page/young-trustee-2012/kaveh.jpg')
                    a(href='/article/danesh-advocates-merge-academics-culture')
                        h3 Kaveh Danesh
                    p.teaser Senior Kaveh Danesh emphasizes an interdisciplinary and international Duke as he campaigns for Young Trustee.
                    a.site(href='http://kavehforyt.com') Site
                    a.app(href='https://docs.google.com/open?id=0B8ZKzQ_b-qmAYTQ2N2UwNDItNTIwNy00MzhmLWE4YjAtZTU4ODIwY2UwM2Q5') App

        .container.clearfix.block
            .vertical-container
                h2.vertical &nbsp;
            .rounded-hover.hover.highlight-right
                .content-container
                    a(href='/article/mandl-stresses-business-approach-campus-issues')
                        img.thumb(src='http://d2sug25c5hnh7r.cloudfront.net/images/page/young-trustee-2012/michael.jpg')
                    a(href='/article/mandl-stresses-business-approach-campus-issues')
                        h3 Michael Mandl
                    p.teaser Senior Michael Mandl highlights his breadth of business experience and passion for Duke as he vies to become Young Trustee.
                    a.site(href='http://michaelmandlforyt.wordpress.com/') Site
                    a.app(href='http://michaelmandlforyt.files.wordpress.com/2012/01/mandl-young-trustee-application.pdf') App

        .container.clearfix.block.last
            .vertical-container
                h2.vertical &nbsp;
            .rounded-hover.hover.highlight-right
                .content-container
                    a(href='/article/wilson-desires-give-back-university-yt')
                        img.thumb(src='http://d2sug25c5hnh7r.cloudfront.net/images/page/young-trustee-2012/olly.jpg')
                    a(href='/article/wilson-desires-give-back-university-yt')
                        h3 Olly Wilson
                    p.teaser Native New Zealander Olly Wilson, a senior, wants to emphasize the importance of a global Duke in his campaign for Young Trustee.
                    a.site(href='http://ollywilson.tumblr.com/') Site
                    a.app(href='http://issuu.com/olly4yt/docs/oliver_wilson__yt_applicaton/3') App

        .endorsements!=partial('container/two-column', {title: "Endorsements", stories: data[0]})

        .sidebar
            .ad-rect!=partial('ad/medium-rect', {title: "Advertising"})
            .pastYts.clearfix!=partial('container/story-list-teaser', {title: "Past Young Trustees", stories: data[1]})

            //
                .container.clearfix.block.last
                                             .vertical-container
                                                 h2.vertical Video
                                             .rounded-hover.hover.highlight-right
                                                 .content-container
                                                     a
                .container.clearfix.block.last
                    .vertical-container
                        h2.vertical Graduate Young Trustee Candidates
                    .rounded-hover.hover.highlight-right
                        .content-container
                            a